doctype html
html
  head
    include common-header.partial.pug
  body
    a(name='top')
    include ../mainmenu.partial.pug
    .banner
      img(src='../assets/img/camusstory-title.png', style='position:absolute; top:250px; left:100px')

    .top-floater
      a(href='#top')
        img(src='../assets/img/gototop.png')
        span TOP

    include common-submenu2.partial.pug
    script.
      $(function() {
        $('.submenu2 li.camus-affected').addClass('active');
      });

    .content
      section.camus-affected
        div(style='padding:30px')
          img(src='../assets/img/camus-affected.png' alt='카뮈에게 영향을 끼친 작가들')
        .camus-life-timeline(style='width:100%;')
          img(src='../assets/img/camus-affected-timeline.png')

        hr

        h2 청소년기
          sub (1923 - 1932)

        table
          tr
            td(style='width:20%') 앙드레 지드 (André Gide)
            td(style='width:10%') 1929년
            td(style='width:70%') 카뮈가 가장 존경심을 가졌던 작가.<br/> 훗날 카뮈는 지드의 『지상의 양식(Les Nourritures Terrestres)』을 극찬함.
          tr
            td(style='width:20%') 앙드레 드 리쇼 (André de Richaud)
            td(style='width:10%') 1932년
            td(style='width:70%') 소설 『고통(La Douleur)』는 가난으로 응어리졌던 어린 카뮈의 가슴 속 매듭을  풀어주었다고 카뮈는 회고함
          tr
            td(style='width:20%') 마르셀 프루스트 (Marcel Proust)
            td(style='width:10%') 1932년
            td(style='width:70%') 카뮈가 예술가의 표상으로 삼았던 인물

        hr

        h2 청년기 초반
          sub (1933 - 1938)

        table
          tr
            td(style='width:20%') 스탕달(Stendhal)
            td(style='width:10%') 1933년
            td(style='width:70%') 카뮈의 독서노트에 1933년 스탕달과 그의 문학에 대하여 언급한 것이 기록되어 있음
          tr
            td(style='width:20%') 아이스킬로스(Aeschylus)
            td(style='width:10%') 1933년
            td(style='width:70%') 카뮈의 독서노트에 1933년 아이스킬로스의 문학에 대하여 언급한 것이 기록되어 있음
          tr
            td(style='width:20%') 안톤 체호프 (Anton Chekhov)
            td(style='width:10%') 1933년
            td(style='width:70%') 카뮈의 독서노트에 1933년 안톤 체호프와 그의 문학에 대하여 언급한 것이 기록되어
          tr
            td(style='width:20%') 장 그르니에 (Jean Grenier)
            td(style='width:10%') 1933년
            td(style='width:70%') 1933년 그르니에의 수필집 『섬(Les Îles』이 출판됨.<br/>1959년 이 책이 다시 출판될 때, 까뮈는 이 책의 서문을 작성함.<br/>이때 그가 20세 때 이 책을 읽었으며, 당시 많은 충격과 영향을 받았다고 술회함.
          tr
            td(style='width:20%') 앙드레 말로 (André Malraux)
            td(style='width:10%') 1933년
            td(style='width:70%') 1938년 말로의 『인간조건』이 공쿠르상을 수상.<br/>이때부터 말로의 모든 작품은 카뮈에게 커다란 영향을 줌.
          tr
            td(style='width:20%') 플로티누스(Plotin)
            td(style='width:10%') 1936년
            td(style='width:70%') 알제대학 철학 고등학위 논문에서 신플라톤주의 철학자 플로티누스의 이론을 심도 있게 소개함.
          tr
            td(style='width:20%') 성 아우구스티누스 (saint Augustin)
            td(style='width:10%') 1936년
            td(style='width:70%') 알제대학 철학 고등학위 논문에서 기독교철학의 대부 아우구스티누스의 이론을 심도 있게 소개함.
          tr
            td(style='width:20%') 도스토옙스키 (Dostoïevski)
            td(style='width:10%') 1938년
            td(style='width:70%') 에키프 극단에서 『카라마조프의 형제들(Frères Karamazov』을 공연할 때, 카뮈는 이반 카라마조프(Ivan Karamazov)역을 맡으며, 도스토옙스키의 문학세계에 매혹됨.
          tr
            td(style='width:20%') 장-폴 사르트르 (Jean-Paul Sartre)
            td(style='width:10%') 1938년
            td(style='width:70%') 『구토(La Nausée)』를 읽고 일간지 &lt;알제 레퓌브리켕(Alger républicain)&gt;의 '독서 살롱'에 서평을 발표함.
          tr
            td(style='width:20%') 폴 니장(Paul Nizan)
            td(style='width:10%') 1938년
            td(style='width:70%') 일간지 &lt;알제 레퓌브리켕(Alger républicain)&gt;의 ‘독서 살롱’에 『음모(La Conspiration)』에 대한 서평을 발표.

      hr.bottom-anchor

    include ../footer.partial.pug
