doctype html
html
  head
    include common-header.partial.pug
  body
    a(name='top')
    include ../mainmenu.partial.pug
    .banner
      img(src='../assets/img/camusstory-title.png', style='position:absolute; top:250px; left:100px')

    .top-floater
      a(href='#top')
        img(src='../assets/img/gototop.png')
        span TOP

    include common-submenu2.partial.pug
    script.
      $(function() {
        $('.submenu2 li.camus-social').addClass('active');
      });

    .content
      section.camus-social
        div(style='padding:30px')
        img(src='../assets/img/camus-social-network-title.png' alt='사회적 연결망')

        h2 청소년기 인맥
          sub (1923 - 1932)
        table
          tr
            td(style='width:20%; vertical-align:top') 루이 제르맹<br/>(Louis Germain)
            td(style='width:80%') 초등학교 2학년 때 담임선생님<br/>중고등부 장학생 시험 준비를 위한 무료 개인교습 제공<br/>카뮈가 노벨문학상을 수상한 후 발표한 기념연설문 「스웨덴 연설」은 루이 제르맹 선생님에게 헌정된 것임
          tr
            td(style='width:20%; vertical-align:top') 장 그르니에<br/>(Jean Grenier)
            td(style='width:80%') 알제 고등학교 철학교사<br/>카뮈의 가난을 목도했던 은사로 카뮈에게 지대한 영향을 미침<br/>카뮈를 문학의 길로 인도<br/>카뮈의 지적, 정신적 스승<br/>1935년 카뮈가 공산당에 입당하도록 설득<br/>카뮈는 1958년 프랑스에서 다시 출판된 『안과 겉』을 장 그르네에에게 헌정함
          tr
            td(style='width:20%; vertical-align:top') 귀스타브 아코<br/>(Gustave Acault)
            td(style='width:80%') 카뮈의 이모부<br/>카뮈가 청소년기에 의지했던 가족으로, 카뮈는 그의 서재를 애용하였음<br/>카뮈의 청소년기에 카뮈와 좋은 관계를 유지했으나, 카뮈가 20세가 되기 몇 달 전인 1933년 6월부터 관계가 나빠짐

        hr

        h2 청년기/중년기 인맥
          sub (1933 - 1960)

        .camus-social-network-teen
          div.tooltip
          object(id='camus-social-network-teen' type='image/svg+xml' data='../assets/img/camus-social-network-teen.svg' onload='onSvg1Loaded()')
            img(src='../assets/img/camus-social-network-teen.png')
        hr

        h2 장 폴 사르트르와의 인맥
          sub (1929 - 1960)
        img(src='../assets/img/camus-sartre.svg' style='width:100%')

      hr.bottom-anchor

    include ../footer.partial.pug
