@import "../theme.less";

body {
  margin:0;
  padding:0;
}

.banner {
    margin:0;
    padding:0;
    background:url('../assets/img/camus-face.png') #00399c no-repeat;
}

.content {
  padding-left:5em;
  padding-right:5em;
  max-width:90%;
  overflow-y:visible;

  section.camus-life {
    section.camus-life-timeline {
      table {
        max-width: 1280px;
        border-collapse: collapse;

        th, td {
          border:1px solid @theme-color-gold;
        }

        td ul {
          list-style: circle;
          margin:0;
          padding:0;
          padding-left:1em;
        }

        .range {
          font-weight:bold;
        }

        .children {
          background-color:#eee;
        }

        .teenage {
          background-color:#eef;
        }

        .young {
          background-color:#fee;
        }

        .midage {
          background-color:#eec;
        }

        .year {
          background-color:#dc9;
          color:white;
          text-align:center;
        }
      }
    }
  }

  section.camus-family {
    #camus-family-chart {
      width:100%;
      min-width:950px;
    }
  }

  section.camus-portrait {
    summary {
      color: @theme-color-gold;
      font-size:large;
    }
  }

  .camus-social-network-teen {
    position:relative;

    .tooltip {
      pointer-events:none;
      position:absolute;
      visibility:hidden;
      z-index:200;
      max-width:500px;
      height:auto;
      background-color:#ffc;
      padding:5px;
      border-radius: 8px;
    }

    object {
      position:static;
      top:0;
      left:0;
      width:100%;
    }

  }


  .camus-life-timeline>img {
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding:30px;
  }

  hr {
    width:100%;
    color:@theme-color-blue;
  }

  h2 {
    font-size:25px;
    color:@theme-color-blue;
    sub {
      font-size:18px;
      padding-left:0.5em;
    }
  }

  table {
    border:none;
    max-width: 1280px;
    width:100%;

    tr {
      padding: 10px;

      td {
        vertical-align: top;
        padding: 12px;
      }
    }
  }
}