doctype html
html
  head
    include common-header.partial.pug
  body
    a(name='top')
    include ../mainmenu.partial.pug
    .banner
      img(src='../assets/img/camusstory-title.png', style='position:absolute; top:250px; left:100px')

    .top-floater
      a(href='#top')
        img(src='../assets/img/gototop.png')
        span TOP

    include common-submenu2.partial.pug
    script.
      $(function() {
        $('.submenu2 li.camus-portrait').addClass('active');
      });

    .content
      section.camus-portrait
        div(style='padding:30px')
        img(src='../assets/img/camus-portrait-title.png' alt='카뮈의 초상')

        h2(title='알제 고등학교 철학교사. 카뮈를 문학의 길로 인도한 정신적 스승이다.') 장 그르니에(Jean Grenier)
          sub 카뮈를 추억하며(1968)/이규현 역

        section
          summary 알베르 카뮈는 자기 자신을 위해서뿐만 아니라 모든 사람을 위해 &lt;구원&gt;을, 그리고 &lt;행복&gt; 보다 훨씬 더한 것을 구하고 있었다.
          p 위대함에 대한 욕망, 고귀함에 대한 동경은 그를 둘러싸고 있는 사물들을 선택하는 데에서도 드러나곤 했다. 그가 천성적으로 조심성 많은 사람이었다고 해서, 그에게 온정의 천품이 전혀 없었던 것은 아니다. 그의 조심성은 물론 &lt;나를 건드리지 말라&gt;는 취지를 함축하고 있었다. 그러면서도 진부한 것과 비열한 것에 대한 소박한 방어의 태도를 내포하고 있었으며, 더 나아가 그의 평가와 우정을 더욱 가치 있는 것으로 만들어주었다.
          p 알베르 카뮈의 사유가 얼마만큼 내 사유에 빚지고 있는가 하는 질문이 제기될 때마다 대답하기가 어렵다. 시대를 특징짓는 여러 가지 일반적인 주제가 있게 마련이기 때문이다. 1914년 전쟁이 발발한 뒤, 낭만주의적 풍조가 거세게 일었고 이에 따라 고독과 죽음과 절망이라는 영원한 주제들이 되살아났다. 『섬』(다시 말해서 고립)은 파스칼에 의하면 인간이 처해 있는 외진 섬이라는 소재를 다시 다룬 것이었다. (…) 알베르 카뮈에게서 찾아볼 수 있는 세계관은 받아들일 수 없을 정도로 절망적인 것이었다. 왜냐하면 그의 세계관에 의하면 인간에게는 어떤 방책도 남아 있지 않았기 때문이다. 다른 한편으로 보면 반드시 그렇지만은 않은 듯하다. 그의 세계관에는 종교와 사회, 신앙과 희망에 의지하는 태도가 남아있었다. 그러나 그는 이러한 것들에 대해 언급은 했지만 강조하지는 않았다. 그는 위안을 주는 종교적 진실을 받아들이느냐 받아들이지 않느냐 하는 것은 사적인 영역에 속한다고 보았기 때문이다. 비록 인간의 비참한 광경이 백일하에 펼쳐져 보인다 할지라도, 열쇠가 없는 사람은 타인의 사적인 영역을 들여다보아서는 안 된다고 생각했기 때문이다.
          p 알베르 카뮈는 자기 자신을 위해서뿐만 아니라 모든 사람을 위해 &lt;구원&gt;을, 그리고 &lt;행복&gt; 보다 훨씬 더한 것을 구하고 있었다.
          p 카뮈는 자기 자신을 인간주의자라고 말할 권리가 충분히 있었다. 그는 인간만을 눈앞에 두고 있었으며 인간에 대해서만 말했다. 그의 지평은 시간상 그토록 한정된 그러나 충족되지 않은 욕망과 치유할 수 없는 사랑으로 가득 찬, 인간의 삶 바로 그것이었다.
          p 일상적인 삶, 여기에서 문제되고 있는 유일한 삶에서, 그러고 이 삶의 가장 명백하게 진부한 부분에서, 알베르 카뮈는 자기 지배의 표지인 그러한 냉정함의 본을 보여주었다. 그는 시니즘의 유혹을 극복했다. 그렇지 않았더라면 시니즘으로 말미암아 그는 단정적인 어조와 단호한 태도를 취했을지도 모른다. 어느 날 나는 그가 두 손을 개버딘 코트의 호주머니에 찔러넣고 차가운 시선과 표정 없는 얼굴을 하고서, 서부 영화에 나오는 악당인 양 행동하는 것을 보았다. 그러나 이것은 거울 앞의 배우들처럼 &lt;효과&gt;를 알아보기 위해 장난삼아 한 짓이었다. 그는 이유 없이 적을 만들려 하지 않았다. 그가 무언가를 좋아한다면, 그것은 어떤 것에 &lt;기대서&gt;가 아니었다. 그는 감탄의 대상에 대해 감탄의 대상을 돋보이게 하는 어떤 것을 굳이 내세우지 않고 그저 감탄할 줄 알았다.
          p 그는 머리에서 떠나지 않는 여러 가지 커다란 문제에 정면으로 도전하여, 해결책을 찾아내려고, 적어도 인간의 비참을 덜어내려고 애썼다.

        hr
        h2(title='프랑스 작가, 사상가. 한 때 까뮈와 우정을 나누는 사이였으나, 사상적 차이를 보이면서 대립하게 되었다.') 장 폴 사르트르(Jean-Paul Sartre)
          sub 프랑스 옵세르바퇴르(1960)/윤정임 역

        section
          summary 우리는 이 작품과 그로부터 분리할 수 없는 그의 삶에서 매 순간 미래의 죽음에 기대어 자신의 실존을 획득하고자 했던 한 인간의 순수하고 승리에 찬 시도를 알아볼 수 있을 것이다.
          p 그와 나는 불화를 겪었다. 불화란 아무것도 아니고 –설사 절대로 다시 만나지 않는다 해도-그저 우리에게 주어진 이 비좁은 작은 세상에서 서로 시선을 잃지 않은 채 함께 살아가는 또 다른 방식일 뿐이다. 그럼에도 그를 생각하지 않을 수 없었고, 그가 읽던 책과 신문의 한 페이지에 대한 그의 시선을 느끼지 않을 수 없었으며, “그가 이것에 대해 뭐라고 할까? 지금 이 순간 뭐라고 말할까?”라는 생각을 하지 않을 수 없었다.
          p 그는 현 세기 안에서 ‘역사’에 반대하며 모럴리스트라는 기나긴 대열의 현재적 후예를 대표했고, 그의 작품은 프랑스 문단에서 가장 독창적인 어떤 것을 구성하였다. 고집스럽고 편협하고 순수한, 엄격하면서 감각적인 그의 휴머니즘은 이 시대의 집단적이고 기형적인 사건들에 대항하는 의혹에 찬 투쟁을 드러내었다. 하지만 뒤집어보면, 그는 고집스러운 거부를 통해 권모술수자들과 현실주의의 황금 송아지에 대항하며 정신적 사시의 존재를 우리 시대 한복판에서 재확인했다.
          p 말하자면 그는 확고부동한 확인이었다. 그의 글을 조금 읽거나 잠시 생각을 깊이 해보기만 해도, 꽉 움켜쥔 그의 손 안에 간직되어 있던 인간적 가치들과 부딪히게 된다. 그는 정치적 행위들에 의문을 가졌다.
          p 인간의 질서는 여전히 무질서일 뿐이다. 그것은 부당하고 불안정하며, 그 안에서 우리는 죽이고 배고픔에 죽어간다. 적어도 그것은 인간들에 의해 구축되고 유지되며 무너진다. 그러한 질서 안에서 카뮈는 살아가야 했다. 이 전진하던 인간은 우리를 문제시했고, 그라는 인간 자체가 스스로의 답을 찾아가던 하나의 문제였다. 그는 길고 긴 삶의 한복판을 살았다. 우리에게, 그에게, 질서를 유지시키는 사람들에게, 질서를 거부하는 사람들에게 중요한 것은 그가 침묵에서 벗어나 결심하고 결론짓는 일이었다.
          p 카뮈를 죽인 그 사건을 나는 스캔들이라고 부른다. 왜냐하면 그것은 우리의 가장 심오한 요구가 부조리하다는 것을 인간 세계한복판에 드러내 보였기 때문이다. 스무 살에 갑자기 들이닥친 병으로 삶이 뒤집혔을 때, 카뮈는 부조리-인간의 어리석은 부정-을 발견했다. 거기에서 그는 만들어졌고, 견딜 수 없는 자신의 조건을 생각했으며, 그 일로부터 벗어났다. 그렇지만 사람들은 그의 초기 작품들만이 그의 삶의 진실을 말한다고 생각할지도 모른다. 회복한 그 환자가 다른 데서 온 예상치 못한 죽음으로 사라져버렸으니까. 부조리란, 이제 다시는 어디에서도 그에게 던져볼 수 없을 그 질문, 이제 누구에게도 던지지 않는 질문, 이제는 침묵조차도 아닌 그 침묵, 이제 완전히 아무것도 아닌 그것이다.
          p 비인간적인 것은 드러나자마자 인간적인 것의 일부가 된다. 모든 멈춰버린 삶-아주 젊은 사람의 삶조차도-은 깨진 디스크이면서 동시에 완전한 삶이다. 그를 사랑했던 사람들이 보기에 이 죽음에는 견딜 수 없는 부조리가 있다. 하지만 이 잘려진 작품을 전체적인 작품으로 보는 법을 배워야 할 것이다. 카뮈의 휴머니즘이 그를 덮쳐버렸던 죽음에 대한 인간적 태도를 포함하는 한, 행복을 향한 그의 거만한 추구가 죽어야 하는 비인간적 필연성을 함축하고 요구하는 한, 우리는 이 작품과 그로부터 분리할 수 없는 그의 삶에서 매 순간 미래의 죽음에 기대어 자신의 실존을 획득하고자 했던 한 인간의 순수하고 승리에 찬 시도를 알아볼 수 있을 것이다.

        hr
        h2(title='프랑스의 작가이자 카뮈의 오랜 친구. 프랑스 공쿠르 상(Le Prix de Goncourt)의 심사위원을 맡았으며, 당시 영향력 있던 피에 누아르 (pied-noir) 중 한 명이다.') 엠마뉘엘 로블레스(Emmanuel Roblès)
          sub 알베르 카뮈의 얼굴들(1960)

        section
          summary 스페인 사람들은 죽음이 피할 수 없는 현실이며 한 인간이 분명히 믿을 수 있는 유일한 것, 단 하나의 확신이라는 것을 알고 있다. 우리 두 사람이 몸 속에 지니고 있었던 그 스페인의 피로 인하여 우리들은 과연 그 ‘관심’에 눈떠 있었던 것이다. 카뮈의 경우 그 관심은 삶에 대한 뜨거운 열정과 동시에 생명에 대한 깊은 존중으로 이어지는 것이었다.
          p 이 1월 4일 저녁, 욘느 마을의 조그만 면사무소에서 나는 카뮈를 마지막으로 다시 만났다. 시신은 담가 위에 뉘어져 있었다. 그를 덮은 시트를 들췄을 때...... 세차게 비치는 전등 불빛 아래서 그의 얼굴은 아주 깊은 잠에 빠져서 몹시도 피곤하게 자는 사람의 그것이었다. 그러나 길게 긁힌 자국이 하나 그의 이마에 나 있었다. 마치 어느 페이지 위에 결정적으로 좍 그어 놓은 빗금처럼, 마치 죽음의 서명 바로 그것처럼.
          p 좀처럼 머리에서 떠나지 않는 이 영상에다 나는 지금부터 20년도 더 된 옛날에 알제의 에드몽 샤를로의 아주 조그만 사무실에서 처음 만났던 그 젊은 사람의 영상 - 빛나는 - 을 겹쳐 놓아 보고 싶다. (중략) 샤를로가 사무실을 차려 놓은 고미 다락에서 나는 뼈가 드러날 정도의 얼굴에 바싹 마르고 심각한 표정 때문에 아이러니가 가득한 눈빛이 다소 누그러져 보이는 젊은이가 걸어 들어오는 것을 보았다. 카위의 첫 마디는 내 군대 생활이 어떠냐는 질문이었다. 그러고 나서 그는 내 원고에 대한 이야기를 하자면서 나를 미슬레 거리에 있는 대학 카페의 한 구석으로 데리고 갔다. (중략) 스페인 사람들은 죽음이 피할 수 없는 현실이며 한 인간이 분명히 믿을 수 있는 유일한 것, 단 하나의 확신이라는 것을 알고 있다. (중략) 우리 두 사람이 몸 속에 지니고 있었던 그 스페인의 피(그는 어머니 쪽이 스페인 계였다)로 인하여 우리들은 과연 그 ‘관심’에 눈떠 있었던 것이다. 카뮈의 경우 그 관심은 삶에 대한 뜨거운 열정과 동시에 생명에 대한 깊은 존중으로 이어지는 것이었다. (중략)
          p 나는 그의 입에서 듣는 행복이란 그 말이 좋다고 했다. 너무나도 많은 사람들이 그의 작품 속에서 ‘절망’이라는 말만 읽고 있었다. 그는 펜을 집어 들더니 더욱 촘촘하고 힘 있게 쓴 글씨로 이렇게 덧붙여 썼다. “절망만 찾다 보면 절망만 읽게 되지. 우리 세대의 사람들이 오늘의 세계가 《장밋빛 도서관》같은 분위기를 간직할 수 있다고 상상하기에는 너무나 많은 것을 보아 버렸어. 그들은 감옥들도 있고 처형의 아침도 있다는 것을 알고 있어. 그들은 순진무구함이 때로는 살해당하고 거짓이 승리하기도 한다는 것을 알고 있어. 그러나 그건 절망이 아니야. 그것은 명징(明澄)한 정신이야. 진정한 절망은 맹목이야. 진정한 절망은 증오에, 폭력에, 살인에 동조하는 절망이야. 그 절망에 나는 절대로 동조한 적이 없어.”
          p 그것이 바로 1956년 1월 민간인 휴전을 지지하는 그의 호소가 지닌 정확한 의미였다. 그때의 강연 텍스트는 「악튀엘 Ⅲ」에 실려 있는데 그 글을 읽어보면 알제리가 “증오와 불의의 독약을 먹고”죽어 가는 것을 보는 듯한 카뮈의 강박 관념이 분명하게 표현되어 있다.


        hr
        h2(title='프랑스의 작가이자 저널리스트. 카뮈가 생전에 교류가 있던 사람들을 만나 증언을 모아 전기를 집필했다.') 올리비에 토드(Olivier Todd)
          sub 카뮈: 부조리와 반항의 정신(1996)/김진식 역

        section
          summary 카뮈는 붙임성 없거나 매우 불쾌한 사람으로 보일 수도 있는 사람이었다. 그러나 그에게는 실은 오만이나 과민보다는 이해심과 배려가 더 많았다. 그의 약점은 한때의 기분을 초월하여 우정과 애정에 충실했다는 것이다. 그는 취하기보다는 주었다. 그래서 그는 헤프게 쓰곤 했다.
          p 매력적이면서도 시기심 많고, 진지하면서도 극적이고, 겸손하면서도 오만한 카뮈는 타인들로부터 사랑받기를 원했다. 그리고 종종 성공도 했다. 물론 그는 남으로부터 이해받는 것을 원하고 있었지만, 이것은 죽을 때까지 성공을 거두지는 못했다. 그는 꽤 자주 행복에 대해 이야기 하는데, 이를 통해 우리는 그가 그렇게 자주 즐겁거나 평화롭지는 못했다는 것을 짐작할 수 있을 것 같다. 그러므로 우리는 그를 시지프처럼 불행한 존재라고 상상할 수 있다. 고통과 분리, 그리고 수많은 단절이 그의 특징일 것이다. 하지만 우리는 이같은 분리와 단절이 없었다면 과연 『전락』같은 작품이 태어날 수 있었을까 하는 생각도 해보게 된다. 우리는 카뮈를 인정된 작가 또는 교과서에 등재된 독창성 없는 작가로 보는 견해에 대해 인정을 할 수도 있고, 거부를 할 수도 있다. 내가 보기에 카뮈는 위험스런 고전주의자인 것 같다. 오늘날, 전 세계 학생들이 카뮈를 배우고 있으며 또 모든 계층 사람들이 카뮈를 읽고 있다.
          p 카뮈가 철학자였을까? 나로서는 아닌 것 같다. 카뮈는 서양 철학자의 전형이 플라톤 칸트, 헤겔, 러셀, 비트겐슈타인, 화이트헤드, 포퍼, 사르트르 등이라면 자기는 철학자, 특히 실존주의자가 절대 아니며 오히려 프랑스 문화의 멋부림의 희생자라고 여러 번 말하곤 했다. 스스로를 철학자로 보고 있지 않았다고 해서 그가 우리의 힘을 돋우는 강한 사상가가 아니라는 말은 아니다. 오히려 그 반대인 것 같다. 지금 20세기 말에는 공산 세계의 붕괴와 함께 사라진 이데올로기들보다는 정치철학에 관한 그의 어떤 생각들이 우리에게는 오히려 훨씬 더 설득력이 있다.
          p 알베르 카뮈에게 있어, 희미하지만 극적이던 40년대 지평들 중의 하나가 부조리였고, 50년대의 지평은 반항이었다. 카뮈는 자기 시대의 악들을 진단하고 자신의 번뇌를 고찰하면서 전체주의의 유혹과 자신의 허무주의 성향을 거부한다.
          p 카뮈는 붙임성 없거나 매우 불쾌한 사람으로 보일 수도 있는 사람이었다. 그러나 그에게는 실은 오만이나 과민보다는 이해심과 배려가 더 많았다. 그의 약점은 한때의 기분을 초월하여 우정과 애정에 충실했다는 것이다. 그는 취하기보다는 주었다. 그래서 그는 헤프게 쓰곤 했다. 공적이거나 사적이거나, 알려지거나 알려지지 않은 그의 모든 행동의 총합이 카뮈이다.
          p 알베르 카뮈에게 있어 그가 성공을 거둔 작품의 한 장 한 장은 쓰라린 승리였다. 카뮈의 노벨상 수상 소식을 듣고 어머니 카트린 생테스 카뮈가 했던 “너무 이른 나이”라는 말에 화답이라도 하듯이, 포크너는 후에 “카뮈의 나이가 너무 어렸다고, 그래서 자신을 완성할 시간이 없었다고 말할지도 모른다. 그러나 문제는 ‘얼마의 시간’인가도 아니고 ‘어떤 성질의 시간’도 아니고 단지 ‘무엇’을 하느냐이다”라고 말한다. 알베르 카뮈는 문학이나 정치적 언어를 통해 거슬러가면서도 T.S. 엘리엇이 말하는 “긴장하다가 삐걱거리다가 미끄러지면서 소멸하고 마는, 단어들과의 견디기 어려운 싸움”을 펼쳤다.


        hr
        h2(title='미국의 저널리스트. 파리의 한 카페에서 카뮈를 만나게 된 것을 계기로 하여 인연을 맺고 평전을 썼다.') 허버트 R. 로트먼(Herbert R. Lottman)
          sub 카뮈, 지상의 인간(1997)/한기찬 역

        section
          summary 젊은 프랑스와 세계에 대해 그 이상으로 희망을 품었던 사람도 없던 것 같다.
          p 카뮈는 모든 것을 가진 것처럼 보였다. 젊음, 잘생긴 외모, 때 이른 성공 등. 이는 동시대의 유명인들 사이에 질투를, 그것도 아주 지독한 질투를 불러일으키기에 충분했다.
          p 그는 처음에 이라는 짧은 소설 하나로 자국에서 관심의 초점이 되었으며, 이 이방인은 다시 『페스트』로 훨씬 큰 명성과 국제적 평판을 얻었다. 지하 레지스탕스라는 신비스러운 후광까지 업은 그는 제2차 세계대전을 겪으며 젊은 영웅으로 부상했다.
          p 전후 몇 년 동안 그가 발행한 『콩바』는 변화를 요구하는 세대의 도덕적 지침서였다. 오랫동안 친구였으며 나중에는 적이 된 장 폴 사르트르는 종종 인용되는 카뮈의 대한 글에서 그 당시의 마법을 “인간과 행동과 작품이 한데 결합된 탁월한 사례”라고 회상한 바 있다. 젊은 프랑스와 세계에 대해 그 이상으로 희망을 품었던 사람도 없던 것 같다.
          p 북아프리카 이슬람교도에 대한 불공평한 처사에 관해 최초로 항의한 무리 가운데 끼어 있던 카뮈는 이후 어떤 싸움도 피하지 않았고, 스페인의 반파시스트 망명자, 스탈린주의의 희생자, 젊은 급진주의자, 양심적 병역 거부자 들에게는 절실한 친구였다. 그가 노벨문학상 수상자로 선정되었을 때 스웨덴 한림원은 그가 전체주의에 대한 세계최선봉의 문학적 적수라는 점을 언급했다.
          p 카뮈는 매우 젊은 나이에 노벨상을 받았다. 그보다 젊은 수상자는 루드야드 키플링밖에 없었다. 뉴욕타임스의 한 편집자는 그의 수상을 환영하면서 “그의 목소리는 전후 세계의 혼란 속에서 균형 잡히고 온건한 인도주의를 들고 나타난 소수의 문학적 목소리 가운데 하나”라고 말했다.
          p 그러나 그 무렵 알베르 카뮈는 곤경에 처해 있었고, 그 역시 이를 알고 있었다. 시대에 뒤떨어진 운동에 대한 노골적인지지 표명으로 야기된 논쟁과 알제리 전쟁으로 인한 개인적인 압박감, 가족 및 그 자신의 질병 등은 집필 중단으로 나타났고, 이는 몇 해씩이나 이어졌다. 대중의 눈에는 온갖 부수적인 활동 때문에 그것이 제대로 보이지 않았지만 말이다.
          p 그에 대한 최악의 우파 및 좌파 비판가들은 그를 내리막길에 접어든 독선적인 협잡꾼이라고 비웃으면서 그런 상황을 교묘하게 이용하는 법을 잘 알고 있었다.
          p 가난과 겸양 속에서 나라나고 언제나 문학 살롱과 문학적 영광, 상과 훈장에 거리를 두었던 젊은이는 ‘알베르 카뮈’라는 꼬리표를 붙인 동상에 만족하기를 거부했다.


        hr
        h2(title='독일계 유대인 정치철학자. 전체주의에 대해 비판하고, 사회적 악과 폭력의 본질에 대해 연구했다.') 한나 아렌트(Hannah Arendt)
          sub 카를 야스퍼스에게 보낸 편지(1946)

        section
          p  (…) 카뮈를 모르신다니 참으로 유감입니다. 그는 당신이 집필하시는 책의 주제가 되는 바로 그런 젊은 반항적 인간에 속합니다. 그는 정말로 진지한 사람이고 그의 정치적 입장은 매우 훌륭합니다. <b>요즈음 갑자기 새로운 유형의 유럽인이 나타나고 있는데, 그들은 단순하고 ‘유럽적 국수주의’를 지니지 않은 유럽인들입니다 (…). 카뮈가 바로 그런 인간 유형에 속합니다.</b>


        hr
        h2(title='소설가이자 평론가. 2차 세계대전 이후 프랑스에서 생겨난 누보 로망의 주요 이론가이다.') 나탈리 사로트(Nathalie Sarraute)
          sub 의혹의 시대(1947)

        section
          p 알베르 카뮈는 어쩌면 심리학만이 우리를 구원할 수 있을 거라는 사실을 증명해 보이고자 했는지도 모른다. 그것이 그의 의도였다면 그는 성공했다.


        hr
        h2(title='프랑스의 작가. 가톨릭 교리와 윤리를 기초로 작품 활동을 했다.') 장 카이롤(Jean Cayrol)
          sub 나사렛 문학(1950)

        section
          p 앞으로도 계속 우리가 온갖 종류의 도살장 옆에서 살아가고, 중국에서처럼 공공장소에서, 그리고 무관심한 카메라의 렌즈 아래에서 학살당하는 사람들을 옆에 두고 살아간다면, 이 복잡 미묘하고 비밀스러우며 아직까지 잘 알려지지 않은 예술이야말로 사실, 많은 문제를 안고 있는 우리의 상황과는 떼려야 뗄 수 없는 유일한 예술일 수 있으며, 이 예술의 첫 출발자이자, 추구자는 바로 정서적으로 불안정했던 알베르 카뮈일 것이다.


        hr
        h2(title='튀니지의 작가. 반식민주의 튀니지 독립과 반식민주의 저항에 힘썼다.') 알베르 메미(Albert Memmi)
          sub 카뮈 또는 착한 식민주의자(1957)

        section
          p 카뮈는 아주 착한 식민주의자였다. 이것은 점잖지 못한 역할이긴 했지만, 우스꽝스럽지도, 경멸스럽지도 않았다.


        hr
        h2(title='알제리의 소설가이자 시인. 알제리를 배경으로 한 리얼리즘 계통의 소설을 썼다.') 모하메드 딥(Mohammed Dib)
          sub 시문(1960)

        section
          p <b>카뮈는, 단 한 명의 생존자도 없고, 히로시마 사람들의 그림자만 남아 있고, 잿더미와 태양의 맛만 나는 폐허의 세계에 도착했다. 그의 작품은 처음부터 끝까지 이러한 감정을 조금도 누그러뜨리지 않았다.</b> 그는 눈을 멀게 하는 현실을 몽땅 담아서, 마치 그것들이 인간의 유일한 고향이라는 듯이 우리에게 쏟아부었다. 그렇다. 카뮈는 도스토예프스키를 발견함으로써 ‘신은 죽었다’는 니체의 선언을 극복했다. 인간도 죽었고, 모든 희망은 금지당했다. 이것이 그의 작품이 주는 가르침이고, 이 가르침이 바로 그의 작품의 위대성이자 약점이다.


        hr
        h2(title='1952년 노벨 문학상을 받은 프랑스 소설가. 2차 세계대전 이후 지식인 숙청을 두고 카뮈와 논쟁을 벌였다.') 프랑수아 모리악(François Mauriac)
          sub 피가로(1960)

        section
          p (…) 여러 가지 얼굴을 한 카뮈는 나를 흥분시키기도 하고 때로는 혼란스럽게 만들기도 했다. 그래서 나는 생각을 자주 바꾸어, 그를 매혹적이라고도 했고, 신뢰할 만한 사람이라고도 했으며, 또 그에게 실망했다고도 했다. (…) 그러나 (만약 있다면) <b>그의 적조차 인정하지 않을 수 없는 명백한 사실 하나가 있다. 그것은 그가 수많은 젊은이의 머리와 가슴 속에 큰 자리를 차지하고 있다는 사실이다.</b>


        hr
        h2(title='프랑스의 평론가이자 작가. 자료의 정확성을 바탕으로 다수의 전기를 썼다.') 앙드레 모루아(AndréMaurois)
          sub 피가로(1963)

        section
          p (…) 그가 이루어낸 탁월한 문학적 성과는 별로 놀라운 일이 아니다. 여전히 젊은 그는 ‘사상적 교사’(이 표현은 그를 포복절도하게 했다)는 아니지만, 프랑스 젊은 세대의 살아 있는 거울이긴 하다.


        hr
        h2(title='프랑스의 실존주의 소설가 및 사상가. 사르트르와 함께 카뮈에 대해 대립적 태도를 보였다.') 시몬 드 보부아르(Simone de Beauvoir)
          sub 사물의 행적(1963)

        section
          p 그는 종종 자신이 몰두하고 있는 주제에 대해 이야기 했는데, 언젠가는 진리에 대한 글을 써야 한다는 것이었다! 그의 생활과 작품 사이에는 어느 누구의 경우에서보다도 더 깊은 골이 패여있었다. (…) 진지한 토론이 벌어질 때면 그는 폐쇄적이었으며 언제나 긴장했다. 그는 합리적이고 정의로운 의견에 대해서 고상한 문장과 품위 있는 사상으로 맞섰다. 손에 펜을 든 그는 엄격한 도덕주의자가 되었기 때문에, 나는 그가 우리의 저녁식사 모임에 참석했던 바로 그 카뮈라고 생각할 수 없었다. <b>카뮈 자신도 사회에서 보는 자기 자신이 진짜 자신의 모습과 일치하지 않는다는 것을 분명히 알고 있었고, 바로 이 점이 그에게는 고통스러운 일이었다.</b>


        hr
        h2(title='세네갈의 시인이자 초대 대통령. 아프리카인으로는 최초로 아카데미 프랑세즈의 멤버가 되었다.') 레오폴 세다르 생고르(Lépold Sédar Senghor)
          sub 흑인주의와 인류애(1964)

        section
          p 내 기억이 정확하다면 나는 카뮈를 나치 점령기라는 어려운 시기에 만났다. 그의 얼굴은 긴장하고 불안에 가득 차 있었으나 다정했다. 백인이자 알제리인인 그는 우리 아프리카 흑인 젊은이들과 대화가 잘 통하지 않았다. 그가 우리와 할 수 있었던 이야기는 고작 그의 영원한 주제, 즉 인종과 대륙을 초월하는 인간, 인간의 위엄과 형제애에 관한 것이었다.
          p 지금 나는 한 아프리카인으로서 카뮈에 대해 말하고 있다. 그 역시 언제나 아프리카인이 되고자 했다. 그는, 언제나 자신의 인종이자 종교였던 아프리카인에게도, 심지어는 아랍 베르베르족에게까지도 마음의 문을 닫은 적이 결코 없었다. 그는 서양이든 동양이든 모든 형태의 억압에 대해서, 특히 나치의 인종주의에 대해서 용기 있게 저항했다.


        hr
        h2(title='프랑스의 구조주의 철학자이자 비평가. 카뮈의 『이방인』을 하나의 사회적 사건이라고 극찬했다.') 롤랑 바르트(Roland Barthes)
          sub 아트 - ‘왜 카뮈는 여전히 인기가 있을까’라는 질문에 대한 토론(1965))

        section
          p <b>이제 카뮈는 신화가 되었다.</b> 그를 인정하느냐 안하느냐는 이제 별 의미가 없다. 내가 지금 할 수 있는 단 하나의 질문은 이것이다. 미래의 어느 날엔가 어느 진보주의자가 나타나 카뮈를 다시 발견하고는 전혀 새로운 방법으로 그를 해석할 수 있을까? 나는 그럴 가능성은 없다고 고백하지 않을 수 없다.


        hr
        h2(title='독일의 소설가이자 극작가. 적극적인 사회 활동을 펼치는 작가로 『양철북』이라는 작품으로 알려져 있다.') 귄터 그라스(Günter Grass)
          sub 오스카 네크트와의 대화(1985)

        section
          p <b>카뮈에게서 배울 수 있는 것은 그의 태도이다. 절망적인 시기를 참아낸 태도와, 약탈, 파괴, 증오에 대한 그 오랜 저항이다.</b> 이러한 태도는 카뮈의 시대보다 경제, 군비, 환경 등 여러 분야에서 절망적인 상황에 직면해 있는 오늘날 더욱더 필요하다. (…) 미래가 절망적으로 보일지라도 포기하지 않고 체념하지 않고 계속 저항할 수만 있다면 카뮈는 큰 도움이 될 수 있다. 카뮈와 나의 주치의 시시포스.


        hr
        h2(title='콜롬비아의 소설가이자 저널리스트. 마술적 사실주의를 전 세계에 소개하는데 큰 공헌을 했다.') 가브리엘 가르시아 마르케스(Gabriel García Marquez)
          sub ‘폭력’소설에 대한 의견(1985)

        section
          p <b>우리의 ‘폭력 작가들’과는 반대로 카뮈는 자신의 소설에서 방황하지 않았다.</b> 그는 알고 있었다. 극적인 것은 어둠이 깔리면 시체를 가득 싣고 시내를 달리는 낡은 전차가 아니라, 어쩌면 이미 다음날 전차에 자기 자리를 예약해두었다는 것을 알고 있었기 때문에 꽃으로 가득한 발코니에서 아래로 떨어지는 살아 있는 사람들이라는 것을. 극적인 것은 뒷문을 통해 공동묘지로 사라지는 사람들이 아니라-그들에게는 페스트에 대한 불안이 사라지도 없다-, 점령당한 도시에서 도망칠 수 없어서 끈적끈적한 침실에서 피를 흘리는 사람들이었다. 카뮈가 페스트를 경험하지 않아다는 것은 의심의 여지가 없다. 그러나 그는 밖에서 레지스탕스를 쫓는 나치의 총성이 울려 퍼지는 동안 파리의 어두운 방안에서 불법기사를 작성하던 점령기의 소름끼치는 밤에 피를 흘렸을 것이다.


        hr
        h2(title='알제리의 작가. 인권 운동에 힘썼으며, 알제리 사회를 현실적으로 묘사하는 글을 썼다.') 라시드 미무니(Rachid Mimouni)
          sub 누벨 옵세르바퇴르(1994)

        section
          p 카뮈와 알제리의 관계에 대해서 이야기하려면 우선 그가 한 유명한 말, 즉 그에게는 어머니가 정의보다 더 가치 있다고 한 말을 소개해야 한다. 이때 그가 한 또 다른 해명을 소개하지 않는다는 것 역시 부당한 일이다. 즉 알제리 분쟁에 대한 그의 의견을 묻는 질문에 대해 그는, 만약 안전을 보장받지 못하는 편이 있다면 자신은 바로 그 편에 속하게 되리라고 답했다. (…) 카뮈는 다른 사람들보다 의심을 많이 했다. <b>그는 인간 공동체를 만들 수 있는 도덕적 가치에 대해 생각했지만, 결코 그 목적을 이루지 못하리라는 것도 알고 있었다. 그리하여 그가 실망했다 할지라도, 우리는 그가 언제나 양심대로 행동했다는 점에 대해서는 확신할 수 있다.</b>


        hr
        h2(title='폴란드의 시인이자 작가. 폴란드어로 민족적 시를 발표 했으며, 반나치 활동을 한 저항시인으로 1980년 노벨 문학상을 수상했다.') 체스와프 미워시(Czeslaw Milosz)
          sub 누벨 옵세르바퇴르(1994)

        section
          p 1950년대초에 나는 프랑스에 도착했다. 당시 나는 바르샤바 정권과 갈라서고 프랑스로 와 망명 생활을 했다. 나는, 사르트르가 중심인 『현대』지의 정신이 승리하고 나를 사회주의의 반역자로 배척하던 당시의 파리 지식인들에 대해 민감해져 있었다. 그것은 집단 광기와도 같았다. 이러한 악의적이고 적대적인 분위기 저편에 알베르 카뮈가 있었다. 카뮈는 당시의 파리 분위기에 동조하지 않았다. 그는 아주 친절했다.


        hr
        h2(title='한국의 불문학자, 번역가. 카뮈 번역 전집을 발간한 카뮈 연구와 번역의 권위자.') 김화영 역/카트린 카뮈 저, 『나눔의 세계: 알베르 카뮈의 여정』(2016) 옮긴이의 말 중에서

        section
          p <b>카뮈는 일생 동안 타자와의 연대와 사랑을 통해서 무의미한 삶에 역동적인 의미를 부여하고자 했다. 그것이 바로 그의 참여 행위이고 사랑과 긍정을 바탕으로 한 윤리였다.</b> 그 결과 궁극적으로 그가 지중해에서 출발하여 유럽을 거쳐 도달한 ‘세계’는 단순히 공간적인 넓이만을 의미하는 것이 아니라 ‘우리’가 공동운명체로서 함께하고 나누는 인간 보편의 삶, 그리고 나아가 생태계 전체의 삶과 아름다움을 의미한다.


        hr
        h2(title='한국의 법학자이자 교수. 다수의 인물 평전을 냈다.') 박홍규
          sub 카뮈를 위한 변명(2003)

        section
          summary 그는 예술을 위한 예술에 잠긴 엉터리는 아니다. 그는 끝없이 현실에 대한 반항을 시도한 예술가였다.
          p 카뮈는 식민주의를 예찬한 전형적인 식민주의자는 아니었다. 그는 누구보다도 식민주의를 거부했다. 그는 식민지의 해방을 누구보다도 염원했다. 그러나 식민지로부터 유럽인을 쫓아내고 아랍인만의 독립된 권력국가를 세우는 것에는 반대했다.
          p 우리에게 카뮈는 흔히 실존주의자라고 알려져 있다. 카뮈 자신은 그것을 부정했지만 그렇게 불린다. 이 말은 우리나라에서 대단히 오해되어 왔고 지금도 오해되고 있다. 실존이란 추상적인 ‘인간’에 대한 구체적인 ‘인간, 즉 현실에 존재하는 구체적인 고독한 개인을 일컫는 말에 다름 아니다. 우리나라에서 실존주의는 철학이나 문학으로만 소개되었지만, 나는 그것을 근본적으로 반권력의 사상, 반체제의 사상으로 이해한다.
          p 그러나 카뮈는 사회과학자도, 기자도, 철학자도, 혁명가도 아니다. 그렇게 보는 경우 카뮈는 엉터리라고는 할 수 없어도 분명한 한계가 있다. 그는 한 사람의 예술가에 불과하다. 그러나 그는 예술을 위한 예술에 잠긴 엉터리는 아니다. 그는 끝없이 현실에 대한 반항을 시도한 예술가였다.
          p 그의 반항은 원고지 위의 반항에 그치지 않았다. 대단히 한계가 있는 것이기는 하지만, 그는 제 2차 대전 중 지배자인 독일에 저항한 레지스탕스였고, 전후에도 프랑스권력에 대한 반항인이었으며, 비록 알제리 독립을 요구하지는 않았어도 알제리에서의 평화를 위해 싸운 반항인이었다. 분명히 한계는 있었지만 나름 평화를 위해 싸운 반항인이었다.
          p 나는 카뮈를 프리랜스 지식인이라고 생각한다. 푸코는 지식인을 ‘특별한 지식인’과 ‘유기적 지식인’으로 나누었다. 유기적 지식인이란 어떤 집안이나 정당에 속하는 전문가를 말하지만, 특별한 지식인은 그런 소속을 거부한다. 카뮈는 그런 지식인을 스스로 프리랜스 지식인으로 불렀다. 프리랜스 지식인이란 대학의 학위나 지위와 무관하게 전쟁이나 평화, 자유와 정의와 같은 공적 과제에 관여한다.
          p 20세기 말에 카뮈가 이미 20세기 중반에 거부한 공산주의는 끝이 났다. 그래서 후쿠야마를 비롯한 많은 자유주의자들이 이성의 승리와 역사의 종언을 주장하고 다시 서양의 세기가 도래함을 예언했다. 그러나 그들은 그들이 구가하는 자유주의를 위한 새로운 이론을 구축하지는 못하고 있다. (…) 이러한 지적 상황에서 카뮈가 중요한 이유는 그가 아무런 위안없는 정치이론을 우리에게 제공한다는 점이다. 즉 근대 이데올로기가 전형적으로 옹호하고자 한 어떤 보장이 없는 정치이론을 보여준다는 점이다.


        hr
        h2(title='최초의 불한사전을 펴낸 한국 불어불문학의 선구자') 이휘영 역/알베르 카뮈 저, 『이방인』(1982) 옮긴이의 말 중에서

        section
          summary 교수 자격을 얻기 위한 준비를 하고 있는 도중에 결핵에 걸렸을 때, 그는 이미 불행의 경험에 의해 인생에 대한 마음의 태세가 되어 있었다. 그러나 알제리의 하늘, 구부러진 해안선, 풍부한 과수원...... 게다가 아름다운 여성들은 절망에 몸을 맡기는 그를 막아 주었다.
          p 1960년 1월 4일 이후로 카뮈에 대한 것은 사자(死者)를 다루듯 말하게 되었다. 즉, 그 존재가 마야흐로 역사 속에 끼어들었고, 그 작품이 이미 단순히 서명되어 있을 뿐 아니라, 날짜를 기입해 버린 인간을 말하듯 다루게 된 것이다. 축구시합과 서민가(街)의 파티를 좋아했으며, 활발하고, 상냥했던 카뮈는, 이제야말로 그가 생전에 그렇게 사랑하던 지중해의 하늘로 얼굴을 향하고 룰르마랑의 붉은 흙 아래 묻혀 있다. 그는 이 반세기를 유성처럼, 흘러갔고, 그 죽음과 함께, 그가 “존경할 만한 가치가 없는 역사 속에 있더라도, 한층 더 존경할 만한 가치가 있는 방법으로 인간의 존엄성을 섬겨야 함”을 가르친 세대의 사람들의 꿈과 희망을 가져가 버렸다.
          p “모든 것이 다 인간에게 죄가 있는 것은 아니다. 그러나 인간은 완전히 결백한 것도 아니다. 왜냐하면 인간은 역사를 지속시키고 있기 때문이다.”카뮈는 일생을 이 딜레마의 주위에서 맴돈 것이다. 그는 우선 인간의 무죄성, 그것도 사회로부터 부정되고, 사형을 선고받는 이방인의 무죄성을 주장하는 일에서부터 시작했다. 행복에 취하는 젊은 육체 속에 죽음이라는 비인간적인 사실에서 생겨나는 그 고뇌, 그 무서운 감정이 스며들었던 것이다. - “우리의 조건을 정하는 가혹한 수학을 앞에 놓고는, 어떠한 도덕이나 어떠한 노력일지라도, 선천적으로 정당화되는 수는 없다.”
          p 카뮈의 조숙한 정신은 이같은 형이상학적 고뇌를 배양하는 양액(養液)을 고향의 알제리가 지니는 갖가지 모순 속에서 퍼냈다고 생각해도 무방할 것이다. (중략) 교수 자격을 얻기 위한 준비를 하고 있는 도중에 결핵에 걸렸을 때, 그는 이미 불행의 경험에 의해 인생에 대한 마음의 태세가 되어 있었다. 그러나 알제리의 하늘, 구부러진 해안선, 풍부한 과수원...... 게다가 아름다운 여성들은 절망에 몸을 맡기는 그를 막아 주었다. 빈곤이 “태양 아래, 역사 속에서는 모든 것이 선(善)이다.”라는 생각을 삼가하게 했다 하더라도, 한편으로는 태양은 “역사가 전부가 아니다.”라는 것도 가르쳤었다. 대부분의 인텔리와는 달리 카뮈는 빈곤에 대해 말할 때, 그것을 실제로 체험한 인간으로서 말하는 것이다. 20세 때 빈곤에서 벗어나 평범한 관리 생활로 자리잡기를 거부했을 때 “나는 무섭다, 결정적인 것이 무섭다”고 카뮈는 이미 ‘운명’의 근원적인 문제를 조금도 바꾸지 않고 창조하는 일이야말로 그에게 있어 자기가 생(生)을 정당한 것으로 하는 길이라는 그의 진실을 밝히려는 마음이 불타오르고 있었던 것이다.


      hr.bottom-anchor

    include ../footer.partial.pug
