doctype html
html
  head
    include common-header.partial.pug
  body
    a(name='top')
    include ../mainmenu.partial.pug
    .banner
      img(src='../assets/img/camusstory-title.png', style='position:absolute; top:250px; left:100px')

    .top-floater
      a(href='#top')
        img(src='../assets/img/gototop.png')
        span TOP

    include common-submenu2.partial.pug
    script.
      $(function() {
        $('.submenu2 li.camus-life').addClass('active');
      });

    .content
      section.camus-life
        div(style='padding:30px')
        img(src='../assets/img/camus-life-title.png' alt='카뮈의 생애')

        section.overview
          p 카뮈의 생애에 대한 연구는 그의 사상적 배경을 이해하는 데 도움을 줄 뿐만이 아니라 그의 사회적 활동에 따른 여러 인물들과의 연결 관계를 파악하는 데 중요한 근거가 된다. 다행스럽게도 카뮈의 생애에 대한 선행연구는 상당히 풍요한 편이어서, 우리는 국내외의 다양한 선행연구들을 비교·분석하는 작업을 통하여 그의 생애를 크게 ‘아동기’, ‘청소년기’, ‘청년기’, ‘중년기와 갑작스런 죽음’이란 4개의 단계로 구분할 수 있었다. 그의 생애를 이렇게 임의적으로 4등분을 하는 이유는 각 단계별로 형성되는 알베르 카뮈의 인맥을 보다 체계적으로 파악하여 시각화할 수 있도록 하기 위해서 이다.
          p 이 구분의 첫 단계인 ‘아동기’는 알베르 카뮈가 태어난 1913년부터 그가 중학교에 진학하는 1922년까지로 설정하였다. 그리고 ‘청소년기’는 그가 초등학교 때의 담임 교사인 루이 제르맹(Louis Germain)에게 무료로 개인지도를 받으며 중고등부 장학생 시험을 준비하는 1923년부터 그가 19세가 되는 1932년까지로 구분하였다. 이 시기는 그가 장차 20세기를 대표하는 최고의 지성인 중 한 사람으로 성장해나갈 수 있도록 그를 돕는 스승들을 만나게 되는 기간이란 점에서 중요한 의미를 지닌다.
          p 카뮈의 ‘청년기’는 그가 만 20세가 되는 1933년부터 35세가 되는 1948년까지로 구분하였다. 카뮈의 대표작으로 간주되는 『안과 겉(L’envers et l’endroit)』, 『이방인(L’étranger)』, 『시지프의 신화(Le mythe de Sisyphe)』, 『페스트(La peste)』 등을 비롯한 주옥같은 작품들이 이 시기에 발표된다는 점에서, 카뮈의 ‘청년기’는 대단히 활동적이고 생산적인 시기였다고 할 수 있을 것이다.
          p 끝으로 그의 ‘중년기’는 편의상 그가 36세로 접어드는 1949년부터 갑작스런 교통사고로 사망하게 되는 1960년 1월 4일까지로 구분하였다. 이 시기에 그는 이미 세계적으로 인정받는 문학가이자 철학가로 활동하고 있었으며, 1957년엔 노벨문학상을 수상하는 영광을 누리기도 하였다. 하지만 이 시기는 그가 정신적으로 가장 고통을 받던 시기이기도 했다. 개인적으로 그는 아내 프랑신의 심각한 우울증 때문에 힘들어했고, 사회적으로 그는 알제리 독립에 대한 그의 견해 때문에 프랑스의 많은 지식인들과 갈등을 빚기도 했다.
          p 우리가 46년에 불과한 작가의 짧은 생애를 이렇게 4단계로 구분하는 이유는 각 단계별로 구성되는 그의 ‘인적 연결망(Human Network)’과 ‘사회적 연결망(Social Network)’을 체계적으로 조명하고, 또 그것을 시각화하기 위해서이다. 하지만 이런 분류 작업에 앞서서, 우리는 카뮈의 갑작스런 죽음으로 인하여 미완성인 상태로 남아있던 원고가 1994년에 『최초의 인간(Le Premier Homme)』이란 제목으로 출간되었다는 사실을 상기할 필요가 있을 것이다. 교통사고 현장에서 발견된 카뮈의 가방 속에 있던 “때로는 마침표도 쉼표도 찍지 않은 채 판독하기 어려운 속필로 써내려간 144쪽 분량의 원고”는 작가가 이 세상을 떠난 지 34년이 지난 시점에서야 비로소 갈리마르 출판사를 통하여 빛을 보게 된 것이다.
          p 『최초의 인간』에 관한 카뮈의 기록은 1951년 그의 『작가 수첩』에 처음 등장한다. 하지만 이 작품에 대한 구체적인 구상은 1953년 10월에 시작했다고 작가는 적고 있으며, 그 이후 3년 간 작품의 등장인물, 장면, 사건, 심리 등에 대한 단상도 간간히 기록하였다. 카뮈는 1959년 5월 “『최초의 인간』 제1부에 진척이 있다”는 기록도 남겼다. 하지만 ‘유년기’와 ‘청·중년기(정치적 입장, 알제리 문제, 레지스탕스)’그리고 ‘어머니(아랍 문제, 식민지 문제, 서구의 운명)’등의 3부작으로 구상됐던 이 작품은 카뮈의 예기치 못했던 갑작스런 죽음으로 인하여 제1부인 유년기에서 더 이상 진행되지 못하고 말았다.
          p 이 작품은 알제리 태생의 프랑스인 주인공 자크 코르므리(Jacques Cormery)가 자신이 한 살 때 제1차 세계대전에 참전해 사망한 아버지의 묘소를 찾아서 프랑스의 생브리외 군인묘지를 찾아가는 이야기로 시작된다. 이처럼 이 작품이 작가의 자서전적 작품이라는 점에서, 우리는 무엇보다도 먼저 ‘알베르 카뮈의 가계도(Généalogie d’Albert Camus)’를 제공할 필요가 있다고 판단하였다. 특히 주인공의 성(姓)인 ‘코르므리’는 알베르 카뮈의 할머니가 처녀 때의 성이었다는 점을 고려하여, 우리는 이 가계도를 카뮈의 직계 조상들 중 알제리로 이민을 떠났던 증조부 때부터 구성하기로 하였다.

        hr
        h2 아동기
          sub (1913. 11. 7. ~ 1922)
        section.children
          p 공식적인 알베르 카뮈의 연보에 따르면, 그의 친증조부인 클로드 카뮈(Claude Camus)는 1809년 프랑스의 포도주 생산지로 유명한 보르도(Bordeaux)에서 태어났으며, 성인이 된 다음 마르세유(Marseille) 태생인 마리 테레즈 벨레우드(Marie-Thérèse Belleoud)와 결혼하여 1830년경 알제리(Algérie)로 이민을 떠난 것으로 확인된다. 그들은 알제리의 수도인 알제(Alger)에서 남서쪽으로 약 15km 떨어진 울레드 파예트(Ouled Fayet)에 정착하였다. 하지만 알베르 카뮈의 친조부가 되는 바스티드 카뮈(Bastide Camus)가 1842년 마르세유에서 태어난 것을 보면, 그들은 조국 프랑스와 간헐적으로 왕래를 했던 것 같다.
          p 알베르 카뮈의 친조부인 바스티드 카뮈는 울래드 파예트에서 1852년에 태어난 마리 오르탕스 코르므리(Marie Hortense Cormery)와 1873년에 결혼하였고, 그들 사이에서 알베르의 아버지가 될 뤼시앵(Lucien)이 태어난다. 하지만 뤼시앵이 고아원에서 성장하였다는 기록으로 미루어 짐작할 때, 알베르의 친조부모는 뤼시앵이 어렸을 때 타계했을 것으로 짐작된다. 그리고 뤼시앵은 포도농장의 인부로 일을 하다가, 알제 서부의 바벨우드(Bâb El Oued) 거리에 있는 ‘리콤과 그의 아들(Ricôme et fils)’이라는 포도주 도매 및 수출 상회의 점원이 되었다는 기록에 비추어 짐작해 볼 때, 그는 매우 가난하고 고단한 삶을 영위했을 가능성이 크다.
          p 한편 알베르 카뮈의 어머니가 될 카트린느 엘렌 생테즈(Catherine Hélène Sintès)는 1882년 알제 근교의 비르카뎀(Birkhadem)에서 태어났다. 그녀는 1909년 11월 13일 루시앵과 알제에서 결혼식을 올리고, 알제 동부의 서민 거리인 벨쿠르(Bellecour)에서 거주한다. 그런데 1910년 1월 20일 이들의 장남 루시앵 장 아티엔 카뮈(Lucien Jean Étienne)가 태어났다는 사실로부터, 우리는 알베르 카뮈의 부모가 혼전 임신으로 인하여 서둘러 결혼했음을 짐작할 수 있다.
          p 알베르 카뮈는 그의 아버지가 포도원 관리인으로 일하던 몬도비(Mondovi)에서 1913년 11월 7일에 출생하였다. 그가 태어난 다음 해인 1914년 8월3일 독일이 프랑스에 선전포고를 하게 됨에 따라, 그의 아버지는 알제리 원주민 보병으로 징집당해 프랑스의 전선으로 투입된다. 남편이 입대를 하자, 알베르의 어머니는 두 아들을 데리고 남편이 훈련을 받던 알제의 동쪽 연병장이 있는 리옹가(rue de Lyon) 17번지로 이주하여 친정 식구들과 함께 살기 시작한다.
          p 이때부터 어린 알베르 카뮈는 엄격했던 외할머니와 두 외삼촌인 에티엔 생테스(Etienne Sintès) 그리고 조제프 생테스(Joseph Sintès)와 함께 생활하며 그들에 대한 추억을 간직할 수 있게 된다. 특히 귀가 들리지 않는 청각장애인으로 술통 제조공이었던 외삼촌 에티엔에 대한 추억은 『최초의 인간』과 『적지와 왕국』의 「말없는 사람들」에 반영되어 있다.
          p 1914년 9월 마른 전투에서 폭탄 파편으로 머리에 부상을 당한 카뮈의 아버지는 생브리외 군인 병원으로 이송되었지만, 그해 10월 11일 사망하고 만다. 이렇게 한 살이 채 되지 않았던 알베르에게 영원한 미지의 존재가 되어버린 아버지는 자전적 소설 『최초의 인간』에서 주인공으로 하여금 자신의 뿌리를 찾아가게 하는 존재로 반영된다. 한편 미망인이 된 알베르 카뮈의 어머니는 종신 연금을 받게 되지만, 그 액수가 너무 적어서 가정부로 일하며 힘들게 집안을 꾸려나가게 된다.
          p 평소 회초리를 들고 집안의 질서를 잡아갔던 외할머니 카트린느 마리 카르도나(Catherine Marie Cardona)와는 달리, 평소에도 말이 거의 없던 자신의 어머니를 알베르 카뮈는 산문집 『안과 겉(L’envers et l’endroit)』에서 따스한 눈빛으로 가족에게 사랑을 표시하는 감동적인 모습으로 추억하며 묘사하고 있다. 하지만 문맹이었던 그녀의 어머니는 자신의 생각이나 감정을 표현하는 데 어려움을 겪었던 것으로 알려져 있다.

        hr
        h2 청소년기
          sub (1923 ~ 1932)
        section.teenage
          p 알베르 카뮈의 초등학교 때의 담임교사였던 루이 제르맹(Louis Germain)은 카뮈가 평생 동안 고마움을 잊지 않고 살았던 인물이다. 왜냐하면 그의 헌신적인 도움 덕분에 가난했던 카뮈는 장학생으로 선발되어 고등학교에 진학할 수 있었고, 그렇게 그는 20세기를 대표하는 지성인의 한 사람으로 성장할 수 있는 기회를 얻었기 때문이다. 그렇기 때문에 카뮈는 1957년 12월 노벨문학상을 수상하며 발표한 「스웨덴 연설」을 루이 제르맹 선생님께 헌정하였던 것이다.
          p 한편 카뮈는 알제의 그랑 리세(Le grand lycée)에 진학한 이후부터 자신이 처해있던 끔찍하게 가난한 환경을 뚜렷하게 인식하기 시작했다고 추억한다. 하지만 1958년 프랑스의 갈리마르출판사에서 다시 출판된 『안과 겉』의 서문에서 그가 밝히고 있듯이, 그가 가난을 불행으로 간주한 적은 없었다. “가난은 나로 하여금 태양 아래서 그리고 역사 속에서 모든 것이 올바르다고 생각하지 않게 하였다. 하지만 태양은 나에게 역사가 다는 아니라는 것도 가르쳐 주었다.”라는 그의 고백은 바로 그가 가난을 인식하면서부터 오히려 자신의 정체성을 구축해나가기 시작했다는 사실을 알게 해준다.
          p 고등학교 때부터 카뮈는 집안의 생계를 돕기 위해 여름 방학이 되면 알제 중심가의 철물점에서 점원으로 일했으며, 바닷가 대로변에 위치한 선박 회사에서 견습 사원으로 일하기도 했다. 이때의 경험은 그가 훗날 『이방인』을 집필할 때, 주인공 뫼르소의 직장을 묘사할 때 활용된다.
          p 고등학교 시절 카뮈는 알제의 번화가에 살고 있던 이모부 귀스타브 아코(Gustave Acault)의 서재에서 앙드레 지드(André Gide)를 발견하게 된다. 당시 그는 서재에 잇던 지드의 작품을 모두 읽었지만 그의 문학세계를 잘 이해할 수 없었다. 하지만 1930년부터 1938년까지 알제 고등학교의 철학교사로 봉직했던 장 그르니에(Jean Grenier, 1898-1971)의 지도를 받으면서 카뮈는 그 어떤 작가보다도 앙드레 지드를 높이 평가하게 되었다고 회고한다.
          p 장 그르니에와의 만남은 카뮈의 인생에서 또 하나의 획기적인 사건이 된다. 왜냐하면 그는 당시의 카뮈에게 가장 결정적인 영향을 주었을 뿐만이 아니라, 카뮈가 평생을 신뢰하고 의지하던 정신적 스승이 되기 때문이다. 카뮈가 자신의 정신세계를 풍요롭게 해주었다고 기억하는 앙드레 드 리쇼(Andréde Richaud)나 마르셀 프루스트(Marcel Proust)의 작품을 접하게 되는 것도 장 그르니에의 지도 덕분이었다.

        hr
        h2 청년기
          sub (1933 ~ 1948)
        section.young
          p 카뮈의 ‘청년기’는 그가 만 20세가 되는 1933년부터 35세가 되는 1948년까지로 구분하였다. 카뮈의 대표작으로 간주되는 『안과 겉(L’envers et l’endroit)』, 『이방인(L’étranger)』, 『시지프의 신화(Le mythe de Sisyphe)』, 『페스트(La peste)』 등을 비롯한 주옥같은 작품들이 이 시기에 발표된다는 점에서, 카뮈의 ‘청년기’는 대단히 활동적이고 생산적인 시기였다고 할 수 있을 것이다.
          p 카뮈가 20세 생일을 10여 개월 앞두고 있던 1933년 1월 30일 독일에서 히틀러가 권력을 장악하자, 카뮈는 곧바로 반파시스트 운동조직인 암스테르탐-플리옐(Amsterdam-Pleyel)에 가입하여 활동하기 시작한다. 이런 행동은 카뮈가 1951년에 발표하게 될 철학에세이 『반항적 인간(L'Homme révolté)』의 제목처럼, 인간의 자유 및 정의를 위한 그의 투쟁적이고 행동주의적인 성향을 보여준다. 그리고 같은 해 말에 저 유명한 앙드레 말로(AndréMalraux)가 『인간 조건(La Condition humaine)』으로 공쿠르 상(Prix Goncourt)을 수상하게 되는데, 이때부터 이 작가와 그의 모든 작품들은 젊은 카뮈에게 지대한 영향을 끼치게 된다.
          p 카뮈는 대단히 일찍 결혼을 했던 작가이다. 그는 만 20세였던 1934년 6월 16일 동갑이었던 시몬 이에(Simone Hié)와 결혼한다. 알제의 유명한 안과 의사 딸이었던 시몬 이에는 미인이었고 매력적이었지만, 바람기가 있는 모르핀 중독자로 알려져 있다. 이런 이유 때문에 카뮈와 이에의 결혼생활은 순탄치 못했으며, 결혼한 지 대략 2년 만에 시몬 이에의 부정한 행동 때문에 헤어지게 된다. 하지만 이들의 이혼은 1940년 2월에서야 법적으로 확정된다. 어쨌든 이렇게 순탄치 못했던 그의 첫 결혼의 경험은 1938년에 완성되어 1939년 알제의 샤를로 출판사에서 간행된 산문집 『결혼』을 탄생시켰다.
          p 한편 사랑하는 여인의 배반이란 아픔을 맛보는 와중에도 불구하고, 카뮈는 라디오 알제(Radio-Alger)의 극단 배우로 발탁된다. 사실 카뮈는 이미 1935년에 친구들과 함께 ‘노동극단’을 창단하여 연극 활동을 전개했다는 사실을 상기할 때, 그는 연극에 많은 관심이 있었다. 그의 『작가수첩』에 1937년 1월 칼리굴라(Caligula) 혹은 죽음의 의미, 4막 극’이라고 기록된 사실을 보면, 희곡 『칼리굴라(Caligula)』는 이미 이때부터 구상되기 시작했다는 사실을 알 수 있다.
          p 스승 장 그르니에의 권유로 1935년 8~9월 경 공산당에 가입했던 알베르 카뮈는 그로부터 2년 뒤인 1937년 9월에 공산당에서 탈퇴한다. 이유는 공산당이 국제적 전략을 위해 반식민주의 운동을 우선순위에서 제외하기 시작했기 때문이었다. 하지만 그렇다고 해서, 그가 정치적 노선을 바꿨다는 뜻은 아니다. 1959년 엑상프로방스에서의 한 인터뷰에서 그가 좌파 지식인이냐는 질문이 제기되자, 그는 본의 아니게 좌파의 뜻과는 관계없이 좌파를 지지한다고 말한 바 있다.
          p 사실, 알제리 태생인 까뮈는 지중해의 지적 전통인 무정부주의와 중용을 요체로 하는 고대 그리스 사상을 정신적 고향으로 삼았다. 이런 사실은 그가 1936년 5월 알제대학의 철학고등학위(DES) 취득을 위해 제출한 논문 「기독교적 형이상학과 신플라톤 철학(Métaphysique chrétienne et néoplatonisme)」에서부터 확인된다. 기독교의 형이상학이 고대 후기 그리스 철학자인 플로티노스(Plotin)의 철학에서 영향을 받으며 시작되어 성 아우구스티누스(saint Augustin)를 거쳐 완성되었다는 이 논문의 내용으로부터 우리는 알베르 카뮈가 헬레니즘의 전통에 사상적 기반을 두고 있다는 것을 알 수 있는 것이다.
          p 1940년 3월 14일 알베르 카뮈는 신문기자이자 작가였던 파스칼 피아(Pascal Pia)의 추천으로 파리로 가서 일간지 &lt;파리-스와르(Paris-Soir)&gt;의 편집부에서 근무하게 된다. 하지만 독일군의 파리 점령이 임박해짐에 따라 카뮈는 신문사 편집부를 따라 리옹(Lyon)까지 피난을 떠난다. 그리고 그곳에서 그가 1937년부터 알고 지내던 알제리 오랑(Oran) 출신의 프랑신 포르(Francine Faure)와 12월 3일에 결혼한다. 이때 파스칼 피아가 결혼식의 증인이 된다. 결혼 직후 &lt;파리-스와르&gt;의 감원정책에 따라 해고당한 카뮈는 프랑신과 함께 알제리 오랑으로 되돌아간다. 알제리로 되돌아온 카뮈 부부는 물질적 어려움에 직면한다. 카뮈는 고정된 직업이 없었고, 프랑신은 대리교사를 하며 궁핍한 생활을 이어가지만, 이런 어려움 속에서 카뮈는 향후 그의 대표작이 될 『이방인』과 『시지프의 신화』를 탈고한다. 이 원고들은 파스칼 피아, 앙드레 말로, 장 폴랑(Jean Paulhan) 등의 도움으로 프랑스 최고의 출판사로 간주되는 갈리마르출판사에서 각각 1942년 5월과 10월에 출판된다. 이때부터 그는 쥘 루와(Jules Roy), 프랑시스 퐁주(Francis Ponge), 루이 아라공(Louis Aragon), 엘자 트리올레(Elsa Triolet) 등과 같은 문인들과 친교를 쌓기 시작한다.
          p 1943년 6월 알베르 카뮈는 마침내 사르트르와 시몬 드 보부와르(Simone de Beauvoir)를 만난다. 사르트르의 희곡 『파리떼(Les mouches)』의 리허설 때 인사를 나누며 맺어진 우정은 서로의 철학적 갈등이 깊어지면서 결국은 적대적인 관계로 변하게 된다.

        hr
        h2 중년기
          sub (1949 ~ 1959)
        section.midage
          p ‘부조리 철학’으로 이미 세계적으로 유명인사가 된 카뮈는 1949년 남아메리카로 순회강연을 떠난다. 그곳에 체류하는 동안 카뮈는 신체적으로 고통스런 나날을 겪었는데, 그것은 젊은 시절부터 그를 괴롭혀오던 취약한 폐 때문이었다. 그래서 카뮈는 손상된 폐의 치료를 위해 요양 여행을 다니면서도, 다양한 문학을 지속한다. 이 시기에는 카뮈의 경제적 사정도 좋아져서 1950년 12월에는 파리 6구에 아파트를 구입하기도 한다.
          p 하지만 그의 유명세와 비례하여 그에 대한 비판도 커진다, 특히 1951년 카뮈의 철학 에세이 『반항적 인간(L'Homme révolté)』이 발표되면서, 프랑스의 많은 좌파 지식인들은 약속이나 한 듯이 일제히 카뮈를 비판하기 시작한다. 이렇게 시작된 논쟁으로 인하여 카뮈는 장-폴 사르트르, 앙드레 브르통(André Breton), 프랑시스 장송(Francis Jeanson), 피에르 에르베(Pierre Hervé) 등과 결별하게 된다. “파리는 밀림이지만 그곳의 야수들은 한심하다(Paris est une jungle et les fauves y sont miteux).”란 카뮈의 표현은 그가 얼마나 많은 마음의 상처를 받고 있었는지를 짐작하게 한다.
          p 1953년부터 1954년은 카뮈의 가정생활 역시 평탄치 못했던 시기이다. 1953년 10월부터 그의 아내 프랑신이 심각한 우울증 증세를 보이기 시작했기 때문이다. 프랑신은 알제리의 오랑과 프랑스를 오가며 요양치료를 받았고, 이 시기에 카뮈는 주변 사람들에게 아내의 건강문제로 더 이상 글을 쓸 수가 없다고 하소연하기도 했다. 그렇다고 해서 그가 아내의 병간호에만 충실했던 것은 아니다. 그는 그의 하소연과는 달리 여전히 수많은 강연과 인터뷰에 응했고, 다양한 기고문들을 발표했다.
          p 이런 와중에 알제리의 독립문제가 프랑스의 사회적 이슈로 등장한다. 1954년 11월 1일 알제리의 민족주의 폭동이 일어났다. 이때부터 카뮈는 이 문제에 깊숙이 개입하기 시작한다. 그는 사실 알제리에서 태어났고, 그곳에서 교육을 받았던 인물이다. 그래서 그는 스스로를 ‘알제리인’이라고 생각했다. 그는 프랑스의 알제리에 대한 식민제도를 비난하였지만, 그렇다고 해서 아랍인들에 의한 민족독립국가의 건설을 지지하지도 않았다. 이렇게 식민주의적 통합에도, 아랍민족에 의한 새로운 국가 설립에도 찬성하지 않던 카뮈는 결국 양쪽 모두로부터 배신자로 낙인찍힌다.
          p 카뮈가 이렇게 정신적·심리적으로 힘든 시기를 보내고 있던 1957년 10월 16일, 세계의 모든 언론을 통해 그가 노벨문학상 수장자로 선정되었다는 소식이 전해진다. 그해 12월 9일 카뮈는 아내와 함께 노벨상을 수상하러 스톡홀름에 도착한다. 시상식 후 12일에 거행된 스톡홀름대학교 강연 때, 카뮈는 어느 알제리 청년의 공격적인 질문에 대해 “나는 정의를 믿는다. 그러나 정의보다 먼저 나의 어머니를 보호하겠다(Je crois àla justice, mais je défendrai ma mère avant la justice).”고 답변한다. 이 답변으로 인해 카뮈는 또 다시 많은 좌파 지식인들의 공격을 받게 된다. 이때부터 그 다음해 초에 걸쳐 카뮈는 심각한 불안 증세를 보인다. 그리고 그는 알제리 독립문제에 대한 일체의 공식입장 표명을 자제하게 된다.
          p 1958년 9월 28일 프랑스의 제5공화국 헌법안이 가결되었고, 그해 12월 21일 드골 장군이 제5공화국 대통령으로 선출된다. 이런 격동기 동안 카뮈는 알제리와 그리스를 여행했고, 도스토옙스키(Dostoïevski) 원작의 『악령(Les Possédés)』을 희곡으로 각색하는 작업에 몰두한다. 1959년 1월 30일 ‘앙투안 극장(Théâtre Antoine)’에서 그가 각색하고 직접 연출한 『악령』이 상연되었고, 여기에 당시 문화부장관이었던 앙드레 말로가 찾아와 관람하였다.
          p 그해 9월 16일 드골 대통령은 알제리 주민의 자결권을 선언한다. 이렇게 알제리는 독립국가로 거듭나게 되었고, 카뮈는 이에 대한 아무런 언급이 없이 자신의 일상에 전념한다. 그렇게 10월에 『악령』의 프랑스 국내와 국외 순회공연이 이루어지고, 카뮈는 연극인과 작가로서 여러 대중매체의 인터뷰에 응한다.
          p 1959년 연말과 1960년 새해를 카뮈는 프랑스 남동부에 위치한 ‘보클뤼즈(Vaucluse)’주의 루르마랭(Lourmarin)에 있던 자신의 휴양 자택에서 보냈다. 1960년 1월 3일 카뮈는 미셸 갈리마르가 운전하는 자동차를 타고 파리로 출발한다. 카뮈의 아내 프랑신은 그 전날 기차로 떠났기 때문에, 그 차에는 미셸의 아내 자닌(Janine Gallimard)과 딸 안(Anne Gallimard)가 동승하고 있었다. 1960년 1월 4일 그들이 탄 차는 파리로 향하던 중 빌블르뱅(Villeblevin)에서 갑자기 도로를 벗어나 도로변의 커다란 플라타너스(platane) 나무에 정면으로 충돌하고 말았다.
          p 사고 차량의 시계는 13시55분을 가리키며 멈춰있었다. 이 사고로 운전석 옆에 타고 있던 카뮈는 즉사했다. 그의 죽음을 확인한 사람은 빌뇌브-라-기아르(Villeneuve-la-Guyard)에 거주하는 의사였는데, 우연치고는 이상하게도 그 의사의 이름이 마르셀 카뮈(Marcel Camus)였다. 운전자였던 미셸은 중상을 입고 근처의 ‘몽트로 병원(l'hôpital de Montereau)’으로 이송되었지만, 5일 뒤에 사망했다. 뒷좌석에 타고 있던 미셸의 아내와 딸은 아무런 부상이 없이 무사했다.
          p 다음 날 카뮈의 시신은 그의 휴양 자택이 있는 루르마랭으로 이송되었고, 그곳의 공동묘지에 안장되었다. 그해 9월 알제의 벨쿠르에 거주하던 그의 어머니도 별세하였다.

        hr
        h2
          a(name='camus-timeline-detail') 알베르 카뮈 생애 타임라인
        section.camus-life-timeline
          table
            tr
              th 구분
              th 년도
              th 주요 내용
            tr.children
              td.range(rowspan='3') 아동기
              td.year 1913
              td.detail
                ul
                  li 1913년 11월 7일, 알제리 몽도비(Mondovi)에서 뤼시앵 카뮈(Lucien Camus)와 카트린 생테스 키뮈(Catherine Sintès Camus)의 차남으로 출생
            tr.children
              td.year 1914
              td.detail
                ul
                  li 아버지 뤼시앵 카뮈가 알제리 원주민 보병으로 징집
                  li 9월 뤼시앵 카뮈가 프랑스 마른전투(Bataille de la Marne)에서 머리에 파편을 맞아 부상
                  li 10월 11일 생브리외(Saint-Brieuc) 육군병원에서 뤼시앵 카뮈 사망
                  li 아버지가 사망했을 때 알베르 카뮈의 나이는 0.9세
                  li 아버지 뤼시앙 카뮈의 죽음은 훗날 알베르 카뮈의 마지막 작품이 될 『최초의 인간(Le premier homme)』의 중요한 소재가 됨
            tr.children
              td.year 1915<br/>~<br/>1922
              td.detail
                ul
                  li 청각 장애인이었던 어머니가 가정부 일로 생계를 꾸리며 외할머니 및 외삼촌들과 살아가기 시작
                  li 어머니처럼 청각장애인이었던 외삼촌 에티엔 생테즈(Etienne Sintès)와 가깝게 지냄
                  li 힘든 생활 속에서도 가족에 대한 사랑을 눈빛으로 표현하던 어머니에 대한 추억은 산문집 『안과 겉(L’envers et l’endroit)』에 반영됨
                  li 술통 제조공으로 일하던 에티엔 생테즈와의 추억은 훗날 단편집 『적지와 왕국 L'Exil et le Royaume)』의 「말없는 사람들(Les muets)」과 자서전적 성장소설에 해당하는 『최초의 인간』에 반영됨
            tr.teenage
              td.range(rowspan='6') 청소년기
              td.year 1923
              td.detail
                ul
                  li 초등학교 2학년 때의 담임 선생님 루이 제르맹(Louis Germain)의 도움으로 중고등부 장학생 시험 준비
            tr.teenage
              td.year 1924
              td.detail
                ul
                  li 알제의 그랑 리세에 장학생으로 입학
            tr.teenage
              td.year 1925<br/>~<br/>1928
              td.detail
                ul
                  li 고등학교 때부터 뚜렷하게 가난을 의식하기 시작
                  li 가난에 대한 인식은 알베르 카뮈의 정체성 구축의 원동력이 됨 : “가난은 나로 하여금 태양 아래 그리고 역사 속에서 모든 것이 올바르다는 것을 믿지 않게 만들었지만, 태양은 나에게 역사가 모든 것은 아니라는 것을 가르쳐주었다(La misère m’empêcha de croire que tout est bien sous le soleil et dans l’histoire ; le soleil m’apprit que l’histoire n’est pas tout).”(『안과 겉』 서문)
                  li 생계를 돕기 위해 여름방학이면 철물점, 선박회사 등에서 알르바이트를 함
                  li 이때 선박회사에서 일했던 경험이 『이방인(L’étranger)』의 주인공 뫼르소(Meursault)의 직장생활 묘사에 반영됨
            tr.teenage
              td.year 1929
              td.detail
                ul
                  li 알제의 번화가에 살고 있던 이모부 귀스타브 아코(Gustave Acault)의 서재에서 앙드레 지드(AndréGide)의 문학세계를 발견하기 시작
            tr.teenage
              td.year 1930<br/>~<br/>1931
              td.detail
                ul
                  li 대학입학자격시험인 바칼로레아(baccalauréat) 1부에 합격
                  li 철학반애 진급하여 평생의 스승으로 남게 되는 철학 교사 장 그르니에(Jean Grenier)를 만나게 됨
                  li 연극에 열정을 갖기 시작함
                  li 폐결핵 발병 및 치료
            tr.teenage
              td.year 1932
              td.detail
                ul
                  li 19세가 되는 1932년부터 문학지 &lt;쉬드(Sud)&gt;에 기고문 발표 시작 : 「새로운 베를렌(Un nouveau Verlaine)」, 「제앙 릭튀스-가난한 시인의 독백(Jehan Rictus-Les Soliloques du pauvre)」 등등.
                  li 장 그르니에의 지도로 앙드레 드 리쇼(Andréde Richaud), 앙드레 지드(AndréGide), 마르셀 프루스트(Marcel Proust) 등을 탐독하며 문학세계에 대한 시각을 넓혀감
                  li 바칼로레아 2부 합격
                  li 그랑제콜(Grandes Écoles) 입시 준비반 입학
            tr.young
              td.range(rowspan='12') 청년기
              td.year 1933
              td.detail
                ul
                  li 만 20세
                  li 독일에서 아돌프 히틀러(Adolf Hitler)가 집권하자 반파시스트 운동조직인 암스테르담-플레옐(Amsterdam-Pleyel)에 가입하여 활동
                  li 건강 때문에 고등사범학교 입시 준비 포기
                  li 알제 문과대학에서 계속 수학
            tr.young
              td.year 1934
              td.detail
                ul
                  li 6월 16일 만으로 21세도 채 안 된 나이에 시몬 이에(Simone Hié)와 결혼
                  li 알제의 유명한 안과 의사의 딸로 매력적이지만 모르핀 중독자였다고 알려진 시몬 이에는 젊은 남편 카뮈의 가슴에 커다란 상처를 남기게 됨
            tr.young
              td.year 1935
              td.detail
                ul
                  li 철학 학사 학위 취득(22세)
                  li 스승 장 그르니에의 권유로 공산당에 입당
                  li 노동극단 창단
            tr.young
              td.year 1936
              td.detail
                ul
                  li 철학 ‘고등학위(DES)’논문 「기독교적 형이상학과 신플라톤 철학(Métaphysique chrétienne et néoplatonisme)」 발표(23세)
                  li 시몬 이에의 불륜으로 별거 시작
                  li 라디오 알제 극단의 배우로 발탁
            tr.young
              td.year 1937
              td.detail
                ul
                  li 공산당 탈퇴(24세)
                  li 그의 두 번째 아내가 될 프랑신 포르(Francine Faure)와 알게 됨.
                  li 노동극단 해체
                  li 극단 ‘에키프(Équipe)’조직
            tr.young
              td.year 1938<br/>~<br/>1939
              td.detail
                ul
                  li 산문집 『결혼』 탈고(25세). 이 작품은 1939년 5월 알제의 샤를로출판사에서 간행됨.
                  li 극단 에키프의 『카라마조프의 형제들(Frères Karamazov)』 공연에서 이반 카라마조프(Ivan Karamazov) 배역 연기. 훗날 집필하게 될 『이방인(L’étranger)』의 영감을 얻음
                  li 폐결핵 후유증으로 철학 교수 자격 시험 응시 좌절
                  li 일간지 <알제 레퓌블리캥(Alger républicain)>의 ‘독서 살롱(Le Salon de Lecture)’에 서평 발표 시작
            tr.young
              td.year 1940<br/>~<br/>1941
              td.detail
                ul
                  li 시몬 이에와 법적 이혼(27세)
                  li &lt;파리 수아르(Paris-Soir)&gt;지의 편집부에서 일을 시작
                  li 1940년 12월 3일 프랑스 리용(Lyon)에서 프랑신 포르(Francine Faure)와 결혼
                  li &lt;파리-스와르&gt; 감원정책으로 카뮈 해고
                  li 알제리 오랑에서 생활
            tr.young
              td.year 1942
              td.detail
                ul
                  li 갈리마르출판사(Les Éditions Gallimard)에서 『이방인(L’étranger)』, 『시지프 신화(Le mythe de Sisyphe)』 출판
                  li 시인 프랑시스 퐁쥬( Francis Ponge)와 친교
            tr.young
              td.year 1943
              td.detail
                ul
                  li 30세
                  li 장 폴 사르트르(Jean-Paul Sartre), 시몬 드 보부아르(Simone de Beauvoir)와의 첫 만남
                  li 갈리마르출판사의 출판편집위원에 임명
                  li 비밀 지하 신문 &lt;콩바(Combat)&gt;활동에 가담
                  li 시인 루이 아라공(Louis Aragon)과 친교
            tr.young
              td.year 1944
              td.detail
                ul
                  li 희곡『오해(Le Malentendu)』와 『칼리귤라(Caligula)』가 갈리마르출판사에서 출간
                  li 전국 작가위원회 탈퇴
                  li 8월 25일 파리가 해방된 후 숙청의 필요성을 역설하면서 프랑수아 모리악(François Mauriac)과 대립
            tr.young
              td.year 1945<br/>~<br/>1946
              td.detail
                ul
                  li 쌍둥이 남매 카트린(Catherine)과 (Jean) 출산
                  li 11월 15일 『누벨 리테레르(Les Nouvelles littéraires)』와의 인터뷰를 통하여 자신의 부조리 철학은 사르트르의 실존주의 철학과 다른 것임을 발표 : “아니요, 나는 실존주의자가 아닙니다. 사르트르와 나는 우리 둘의 이름이 연계되어 언급되는 것을 볼 때마다 서로 놀랍니다. (...) 사르트르는 실존주의자입니다. 그리고 내가 출간한 유일한 사상서인 『시지프의 신화』는 소위 실존주의 철학이라는 것에 반대하기 위해서 집필된 것입니다.(Non, je ne suis pas existentialiste. Sartre et moi nous étonnons toujours de voir nos deux noms associés (…) Sartre est existentialiste, et le seul livre d’idées que j’ai publié, le mythe de Sisyphe, était dirigécontre les philosophies dites existentialistes.)”
                  li 시인 르네 샤르(René Char)와 우정을 맺으며 평생을 형제처럼 지냄
            tr.young
              td.year 1947<br/>~<br/>1948
              td.detail
                ul
                  li 『페스트(La Peste)』 의 출간 및 상업적 성공과 더불어 비평가상 수상
                  li 실존주의 철학자 메를로 퐁티(Merleau-Ponty), 가브리엘 마르셀(Gabriel Marcel) 등과 절교
            tr.midage
              td.range(rowspan='7') 중년기
              td.year 1949
              td.detail
                ul
                  li 만 36세
                  li 앙드레 브르통(André Breton), 시몬 베유(Simone Weil) 등과 우호적 활동 전개
                  li 남아메리카 순회강연 및 여행
                  li 심각한 폐 손상으로 치료
            tr.midage
              td.year 1950<br/>~<br/>1951
              td.detail
                ul
                  li 건강회복
                  li 집필 및 다양한 문학활동
                  li 앙드레 브르통과 단교
                  li 『반항인((L'Homme révolté)』 출간.
                  li 마르크시즘과 니힐리즘에 반대하며 제3의 부정정신을 옹호하는 이 책의 발표는 사르트르를 비롯한 많은 좌파 지식인들의 공격을 유발시키며 프랑스의 지식사회에서 격렬한 논쟁을 유발
                  li 『시지프의 신화』와 함께 카뮈의 철학적·윤리적·정치적 성찰을 보여주는 대표적인 시론(試論)인 『반항인』은 작가가 생전에 자신의 저서들 중 가장 아꼈던 작품이라고 알려져 있음
            tr.midage
              td.year 1952
              td.detail
                ul
                  li 『현대지(Les Temps Modernes)』의 온쟁을 통해 사르트르와의 결별
                  li 많은 좌파 지식인들과 갈등을 겪으며 “파리는 밀림이지만 그곳의 야수들은 한심하다(Paris est une jungle et les fauves y sont miteux)”란 유명한 말을 남김
            tr.midage
              td.year 1953<br/>~<br/>1956
              td.detail
                ul
                  li 아내 프랑신의 우울증 시작
                  li 『최초의 인간』 초안 구상
                  li 알제리 독립문제로 많은 지식인들과 갈등관계를 유발
                  li 1956년 5월 『전락(La Chute)』 발표. 이 작품에 대하여 카뮈와 대립적 관계에 있던 사르트르는 걸작이라는 찬사를 보냄
                  li 1956년 8월 &lt;르몽드(Le Monde)&gt;와의 인터뷰에서 “나는 신을 믿지 않는다. 그렇다고 해서 내가 무신론자인 것은 아니다.(Je ne crois pas en Dieu. Mais je ne suis pas athée pour autan)”라는 말로 종교에 대한 자신의 입장을 표명
            tr.midage
              td.year 1957
              td.detail
                ul
                  li <b>노벨 문학상 수상</b>
                  li 스톡홀름대학교 강연에서 알제리 독립에 대한 카뮈의 입장을 묻는 질문에 대하여 “나는 정의를 믿는다. 그러나 정의보다 먼저 나의 어머니를 보호하겠다(Je crois àla justice, mais je défendrai ma mère avant la justice).”라고 답변
            tr.midage
              td.year 1958<br/>~<br/>1959
              td.detail
                ul
                  li 도스토옙스키(Dostoïevski) 원작의 『악령(Les Possédés)』을 희곡으로 각색
                  li 알제리 독립 문제에 대한 공식적인 입장표명 자제
                  li 1959년 1월 30일 카뮈 연출의 『악령』 공연. 이 공연을 당시 문화부장관이던 앙드레 말로(AndréMalraux)가 관람
                  li 1959년 10월 『악령』의 국내 및 국외 순회공연
            tr.midage
              td.year 1960
              td.detail
                ul
                  li <b>1월 4일 자동차 사고로 사망(47세)</b>
                  li 카뮈의 시신은 그의 휴양 저택이 있던 프랑스 남동부 보클뤼즈(Vaucluse)주 루르마랭(Lourmarin)의 공동묘지에 안장
                  li 2009년 11월 니콜라스 사르코지(Nicolas Sarkozy) 당시 프랑스 대통령이 알베르 카뮈의 유해를 2010년 초에 팡테옹(Panthéon)으로 이장할 것을 제안했으나, 카뮈의 아들 장 카뮈(Jean Camus)는 평생을 ‘반항인(l'Homme révolté)’으로 살았던 아버지의 뜻에 위배된다며 거절

      hr.bottom-anchor

    include ../footer.partial.pug
