doctype html
html
  head
    include common-header.partial.pug
  body
    a(name='top')
    include ../mainmenu.partial.pug
    .banner
      img(src='../assets/img/camusstory-title.png', style='position:absolute; top:250px; left:100px')

    .top-floater
      a(href='#top')
        img(src='../assets/img/gototop.png')
        span TOP

    include common-submenu2.partial.pug
    script.
      $(function() {
        $('.submenu2 li.camus-family').addClass('active');
      });

    .content
      section.camus-family
        div(style='padding:30px')
        img(src='../assets/img/camus-family-title.png' alt='카뮈의 가족')

        object(id='camus-family-chart' type='image/svg+xml' data='../assets/img/camus-family-chart.svg' onload='onSvg2Loaded()')
          img(src='../assets/img/camus-family-chart.png')

      hr.bottom-anchor

    include ../footer.partial.pug
