.submenu2
  ul
    li.camus-life
      a(href='camus-life.html') 카뮈의 생애
    li.camus-family
      a(href='camus-family.html') 카뮈의 가족
    li.camus-social
      a(href='camus-social-network.html') 사회적 연결망
    li.camus-affected
      a(href='camus-affected.html') 영향을 끼친 작가들
    li.camus-portrait
      a(href='camus-portrait.html') 카뮈의 초상
