meta(charset='utf-8')
meta(name='author', content='Hoya Kim')
meta(name='author', content='Jihyun Ahn')
meta(name='contact', content='wbstory@storymate.net')
meta(name='copyright', content='Inha University')
title Albert Camus - 카뮈이야기
script(src='../vendor/jquery-3.1.0.min.js')
script(src='../vendor/lodash.min.js')
link(href='../vendor/animate.min.css' rel='stylesheet')
script(src='../maincontroller.js')
script(src='../db/networks.js')
script(src='controller.js')
link(href='../main.css', rel='stylesheet')
link(href='camusstory.css' rel='stylesheet')
