#timeline
  .timeline-menubar-1
    div(style='padding-left:40px; width:30%')
      .title 타임라인
      .more
        a(href='camusstory/camus-life.html#camus-timeline-detail' style='color:white; text-decoration:none') ▶ MORE
    .ad(style='padding-left:20px; padding-right:20px; width:7em; text-align:center') AD
    .works(style='float:right; padding-right:20%; text-align:left;') 작품
  .timeline-menubar-2
    div(style='width:50%; float:right')
      div(style='width:10em; float:left;')
        img(src='assets/img/hexagon-g.png', style='width:1em')
        span 스토리군
      div(style='width:10em; float:left;')
        img(src='assets/img/hexagon-r.png', style='width:1em')
        span 비스토리군
      div(style='width:10em; float:left;')
        img(src='assets/img/hexagon-b.png', style='width:1em')
        span 사적인 글
  .timeline
    .row(style='height:5px')
      .spacer-blue(style='border:none') &nbsp;
      .bio &nbsp;
      .spacer-gold1(style='border:none') &nbsp;
      .spacer-gold2(style='border:none') &nbsp;
      .year &nbsp;
      .age &nbsp;
      .spacer-blue(style='border:none') &nbsp;
      .works &nbsp;
      .spacer-blue(style='float:right; border:none;') &nbsp;
    .row
      .spacer-blue &nbsp;
      .bio 11월 7일 알제리 몽도비(Mondovi)출생
      .spacer-gold1 &nbsp;
      .spacer-gold2 &nbsp;
      .year.year1913 1913
      .age 0세
      .spacer-blue &nbsp;
      .works &nbsp;
      .spacer-blue(style='float:right') &nbsp;
    .row
      .spacer-blue &nbsp;
      .bio 아버지 뤼시앙 카뮈(Lucien Camus) 사망
      .spacer-gold1 &nbsp;
      .spacer-gold2 &nbsp;
      .year.year1914 1914
      .age 0.9세
      .spacer-blue &nbsp;
      .works &nbsp;
      .spacer-blue(style='float:right') &nbsp;
    .row
      .spacer-blue &nbsp;
      .bio 알제리 그랑 리세에 장학생 입학
      .spacer-gold1 &nbsp;
      .spacer-gold2 &nbsp;
      .year.year1924 1924
      .age 11세
      .spacer-blue &nbsp;
      .works &nbsp;
      .spacer-blue(style='float:right') &nbsp;
    .row
      .spacer-blue &nbsp;
      .bio
        | 바칼로레아 1부 합격
        br
        | 철학교사 장 그르니에(Jean Grenier) 만남
        br
        | 폐결핵 발병
      .spacer-gold1 &nbsp;
      .spacer-gold2 &nbsp;
      .year.year1930 1930
      .age 17세
      .spacer-blue &nbsp;
      .works &nbsp;
      .spacer-blue(style='float:right') &nbsp;
    .row
      .spacer-blue &nbsp;
      .bio &nbsp;
      .spacer-gold1 &nbsp;
      .spacer-gold2 &nbsp;
      .year.year1931 1931
      .age 18세
      .spacer-blue &nbsp;
      .works &nbsp;
      .spacer-blue(style='float:right') &nbsp;
    .row
      .spacer-blue &nbsp;
      .bio
        | 쉬드(Sud)에 기고문 발표 시작
        br
        |             바칼로레아 2부 합격
        br
        |             그랑제콜 입시 준비반 입학
      .spacer-gold1 &nbsp;
      .spacer-gold2 &nbsp;
      .year.year1932 1932
      .age 19세
      .spacer-blue &nbsp;
      .works &nbsp;
      .spacer-blue(style='float:right') &nbsp;
    .row
      .spacer-blue &nbsp;
      .bio
        | 반파시스트 조직 암스테르담-플레옐(Amsterdam-Pleyel)에 가입하여 활동
        br
        |           건강상의 이유로 고등사범학교 입시 준비 포기
        br
        |           알제 문과대학에서 계속 수학
      .spacer-gold1 &nbsp;
      .spacer-gold2 &nbsp;
      .year.year1933 1933
      .age 20세
      .spacer-blue &nbsp;
      .works &nbsp;
      .spacer-blue(style='float:right') &nbsp;
    .row
      .spacer-blue &nbsp;
      .bio 시몬 이에(Simone Hie)와 결혼
      .spacer-gold1 &nbsp;
      .spacer-gold2 &nbsp;
      .year.year1934 1934
      .age 21세
      .spacer-blue &nbsp;
      .works &nbsp;
      .spacer-blue(style='float:right') &nbsp;
    .row
      .spacer-blue &nbsp;
      .bio
        | 철학 학사학위 취득
        br
        |             공산당에 입당
        br
        |             노동극단 창단
        br
      .spacer-gold1 &nbsp;
      .spacer-gold2 &nbsp;
      .year.year1935 1935
      .age 22세
      .spacer-blue &nbsp;
      .works &nbsp;
      .spacer-blue(style='float:right') &nbsp;
    .row
      .spacer-blue &nbsp;
      .bio
        | 시몬 이에와 별거 시작
        br
        |             라디오 알제 극단의 배우로 발탁
      .spacer-gold1 &nbsp;
      .spacer-gold2 &nbsp;
      .year.year1936 1936
      .age 23세
      .spacer-blue &nbsp;
      .works &nbsp;
      .spacer-blue(style='float:right') &nbsp;
    .row
      .spacer-blue &nbsp;
      .bio
        | 공산당 탈퇴
        br
        |             프랑신 포르(Francien Faure)와의 만남
        br
        |             노동극단 해체
        br
        |             극단 에키프(Equipe) 조직
      .spacer-gold1 &nbsp;
      .spacer-gold2 &nbsp;
      .year.year1937 1937
      .age 24세
      .spacer-blue &nbsp;
      .works &nbsp;
      .spacer-blue(style='float:right') &nbsp;
    .row
      .spacer-blue &nbsp;
      .bio 폐결핵 후유증으로 철학교수 자격 시험 응시 좌절
      .spacer-gold1 &nbsp;
      .spacer-gold2 &nbsp;
      .year.year1938 1938
      .age 25세
      .spacer-blue &nbsp;
      .works &nbsp;
      .spacer-blue(style='float:right') &nbsp;
    .row
      .spacer-blue &nbsp;
      .bio &nbsp;
      .spacer-gold1 &nbsp;
      .spacer-gold2 &nbsp;
      .year.year1939 1939
      .age 26세
      .spacer-blue &nbsp;
      .works &nbsp;
      .spacer-blue(style='float:right') &nbsp;
    .row
      .spacer-blue &nbsp;
      .bio
        | 시몬 이에와 법적 이혼
        br
        |             파리 수아르(Paris-Soir)지의 편집부에서 일을 시작
        br
        |             프랑신 포르(Prancien Faure)와 결혼
      .spacer-gold1 &nbsp;
      .spacer-gold2 &nbsp;
      .year.year1940 1940
      .age 27세
      .spacer-blue &nbsp;
      .works &nbsp;
      .spacer-blue(style='float:right') &nbsp;
    .row
      .spacer-blue &nbsp;
      .bio 시인 프랑시스 포쥬(Francis Ponge)와 친교
      .spacer-gold1 &nbsp;
      .spacer-gold2 &nbsp;
      .year.year1942 1942
      .age 29세
      .spacer-blue &nbsp;
      .works &nbsp;
      .spacer-blue(style='float:right') &nbsp;
    .row
      .spacer-blue &nbsp;
      .bio
        | 장폴 사르트르 시몬 드 보부아르(Simone de Beauvoir)와의 첫만남
        br
        |             비밀지하신문 콩바(Combat) 활동에 가담
        br
        |             시인 루이 아라공(Louis Aragon)과 친교
      .spacer-gold1 &nbsp;
      .spacer-gold2 &nbsp;
      .year.year1943 1943
      .age 30세
      .spacer-blue &nbsp;
      .works &nbsp;
      .spacer-blue(style='float:right') &nbsp;
    .row
      .spacer-blue &nbsp;
      .bio
        | 전국 작가위원회 탈퇴
        br
        |             8월 25일 파리 해방 후, 플라수아 모리악(Francois Mauriac)과 대립
      .spacer-gold1 &nbsp;
      .spacer-gold2 &nbsp;
      .year.year1944 1944
      .age 31세
      .spacer-blue &nbsp;
      .works &nbsp;
      .spacer-blue(style='float:right') &nbsp;
    .row
      .spacer-blue &nbsp;
      .bio
        | 쌍둥이 남매 카트린(Catherine)과 장(Jean) 출산
        br
        |             사르트르의 실존철학과 자신의 부조리 철학은 서로 다른 것임을 발표
      .spacer-gold1 &nbsp;
      .spacer-gold2 &nbsp;
      .year.year1945 1945
      .age 32세
      .spacer-blue &nbsp;
      .works &nbsp;
      .spacer-blue(style='float:right') &nbsp;
    .row
      .spacer-blue &nbsp;
      .bio &nbsp;
      .spacer-gold1 &nbsp;
      .spacer-gold2 &nbsp;
      .year.year1946 1946
      .age 33세
      .spacer-blue &nbsp;
      .works &nbsp;
      .spacer-blue(style='float:right') &nbsp;
    .row
      .spacer-blue &nbsp;
      .bio
        | 페스트(La Peste)의 출판 및 상업적 성공과 더불어 비평가상 수상
        br
        |             철학자 메를로 퐁티(Merleau-Ponty)와 절교
      .spacer-gold1 &nbsp;
      .spacer-gold2 &nbsp;
      .year.year1947 1947
      .age 34세
      .spacer-blue &nbsp;
      .works &nbsp;
      .spacer-blue(style='float:right') &nbsp;
    .row
      .spacer-blue &nbsp;
      .bio &nbsp;
      .spacer-gold1 &nbsp;
      .spacer-gold2 &nbsp;
      .year.year1948 1948
      .age 35세
      .spacer-blue &nbsp;
      .works &nbsp;
      .spacer-blue(style='float:right') &nbsp;
    .row
      .spacer-blue &nbsp;
      .bio &nbsp;
      .spacer-gold1 &nbsp;
      .spacer-gold2 &nbsp;
      .year.year1949 1949
      .age 36세
      .spacer-blue &nbsp;
      .works &nbsp;
      .spacer-blue(style='float:right') &nbsp;
    .row
      .spacer-blue &nbsp;
      .bio &nbsp;
      .spacer-gold1 &nbsp;
      .spacer-gold2 &nbsp;
      .year.year1950 1950
      .age 37세
      .spacer-blue &nbsp;
      .works &nbsp;
      .spacer-blue(style='float:right') &nbsp;
    .row
      .spacer-blue &nbsp;
      .bio &nbsp;
      .spacer-gold1 &nbsp;
      .spacer-gold2 &nbsp;
      .year.year1951 1951
      .age 38세
      .spacer-blue &nbsp;
      .works &nbsp;
      .spacer-blue(style='float:right') &nbsp;
    .row
      .spacer-blue &nbsp;
      .bio 현대지(Les Temps Modernes)를 통한 논쟁으로 사르트르와의 결별
      .spacer-gold1 &nbsp;
      .spacer-gold2 &nbsp;
      .year.year1952 1952
      .age 39세
      .spacer-blue &nbsp;
      .works &nbsp;
      .spacer-blue(style='float:right') &nbsp;
    .row
      .spacer-blue &nbsp;
      .bio &nbsp;
      .spacer-gold1 &nbsp;
      .spacer-gold2 &nbsp;
      .year.year1954 1954
      .age 41세
      .spacer-blue &nbsp;
      .works &nbsp;
      .spacer-blue(style='float:right') &nbsp;
    .row
      .spacer-blue &nbsp;
      .bio &nbsp;
      .spacer-gold1 &nbsp;
      .spacer-gold2 &nbsp;
      .year.year1956 1956
      .age 43세
      .spacer-blue &nbsp;
      .works &nbsp;
      .spacer-blue(style='float:right') &nbsp;
    .row
      .spacer-blue &nbsp;
      .bio 노벨 문학상 수상
      .spacer-gold1 &nbsp;
      .spacer-gold2 &nbsp;
      .year.year1957 1957
      .age 44세
      .spacer-blue &nbsp;
      .works &nbsp;
      .spacer-blue(style='float:right') &nbsp;
    .row
      .spacer-blue &nbsp;
      .bio &nbsp;
      .spacer-gold1 &nbsp;
      .spacer-gold2 &nbsp;
      .year.year1958 1958
      .age 45세
      .spacer-blue &nbsp;
      .works &nbsp;
      .spacer-blue(style='float:right') &nbsp;
    .row
      .spacer-blue &nbsp;
      .bio &nbsp;
      .spacer-gold1 &nbsp;
      .spacer-gold2 &nbsp;
      .year.year1959 1959
      .age 46세
      .spacer-blue &nbsp;
      .works &nbsp;
      .spacer-blue(style='float:right') &nbsp;
    .row
      .spacer-blue &nbsp;
      .bio
        | 1월 4일 자동차 사고로 사망
        br
        |             프랑스 남동부 보클뤼즈(Vaucluse)주 루르마랭(Lourmarin)의 공동묘지에 안장
      .spacer-gold1 &nbsp;
      .spacer-gold2 &nbsp;
      .year.year1960 1960
      .age 47세
      .spacer-blue &nbsp;
      .works &nbsp;
      .spacer-blue(style='float:right') &nbsp;
    .row
      .spacer-blue &nbsp;
      .bio &nbsp;
      .spacer-gold1 &nbsp;
      .spacer-gold2 &nbsp;
      .year.year1971 1971
      .age &nbsp;
      .spacer-blue &nbsp;
      .works &nbsp;
      .spacer-blue(style='float:right') &nbsp;
    .row
      .spacer-blue &nbsp;
      .bio &nbsp;
      .spacer-gold1 &nbsp;
      .spacer-gold2 &nbsp;
      .year.year1994 1994
      .age &nbsp;
      .spacer-blue &nbsp;
      .works &nbsp;
      .spacer-blue(style='float:right')
    .row(style='height:50px')
      .spacer-blue(style='border:none') &nbsp;
      .bio &nbsp;
      .spacer-gold1(style='border:none') &nbsp;
      .spacer-gold2(style='border:none') &nbsp;
      .year.year1995 &nbsp;
      .age &nbsp;
      .spacer-blue(style='border:none') &nbsp;
      .works &nbsp;
      .spacer-blue(style='float:right; border:none;') &nbsp;
