@import "../theme.less";

.timeline-menubar-1 {
  padding:0;
  margin:0;
  background-color:@theme-color-blue;
  color:#ffffff;
  width:100%;
  height:3em;
  overflow-x:hidden;
}

.timeline-menubar-1 div {
  float:left;
  padding-top:0.3em;
  font-size:large;
  font-weight:bold;
}

.timeline-menubar-1 div.more {
  font-size:small;
  font-weight:normal;
  padding-top:1em;
  padding-left:30px;
}

.timeline-menubar-2 {
  background-color:@theme-color-gold;;
  width:100%;
  height:1.5em;
  color:#ffffff;
  overflow-x:hidden;
}

@timeline-bg-color:#dce4f3;

.timeline {
  background-color:@timeline-bg-color;
  padding-left:20px;
  padding-right:20px;
  padding-top:0;
  padding-bottom:0;
  margin:0;
}

.timeline .row {
  clear:both;
  overflow-y:hidden;
  background-color:#ffffff;
  margin:0;
  padding:0;
}

.timeline .bio {
  color:#000000;
  background-color:#ffffff;
  text-align:left;
  overflow:visible;
  word-wrap:break-word;
  float:left;
  width:30%;
}

.timeline .spacer-blue {
  border-top:1px solid @timeline-bg-color;
  width:20px;
  float:left;
}

.timeline .spacer-gold1 {
  border-top:1px solid @theme-color-gold;
  width:14px;
  float:left;
}

.timeline .spacer-gold2 {
  border-top:1px solid @theme-color-gold;
  width:6px;
  background-color:@timeline-bg-color;
  float:left;
  padding-bottom:500em;
  margin-bottom:-500em;
}

.timeline .year {
  border-top:1px solid @theme-color-gold;
  background-color:@theme-color-gold;
  color:#000000;
  text-align:center;
  width:4em;
  float:left;
  font-weight:bold;
  padding-bottom:500em;
  margin-bottom:-500em;
}

.timeline .age {
  border-top:1px solid @timeline-bg-color;
  background-color:@timeline-bg-color;
  color:#000000;
  text-align:center;
  width:3em;
  float:left;
  font-weight:bold;
  padding-bottom:500em;
  margin-bottom:-500em;
}

.timeline .works {
  float:left;
}

.timeline .time-bar {
  height:100%;
  float:left;
}

.timeline .fiction {
  position:absolute;
  opacity:0.7;
  margin-left:1.1em;
}

.timeline .fiction .time-bar {
  background-color:#c4e8c6;
}

.timeline .nonfiction {
  position:absolute;
  opacity:0.7;
  margin-left:1.1em;
}

.timeline .nonfiction .time-bar {
  background-color:#fcd9c5;
}

.timeline .private {
  position:absolute;
  opacity:0.7;
  margin-left:1.1em;
}

.timeline .private .time-bar {
  background-color:#dbdbed;
}

.timeline .fiction img, .timeline .nonfiction img, .timeline .private img {
  float:left;
}

