@import "../theme.less";

body {
  margin:0;
  padding:0;
}

.banner {
    left:0;
    margin:0;
    padding:0;
    padding-top:100px;
    width:100%;
    height:450px;
    background:#ffffff;

    .work-type {
      width:100%;
      max-width:450px;
      top:100px;

      img {
        display:block;
        margin-left:auto;
        margin-right:auto;
        overflow:hidden;
        position:static;
        max-height:450px;
      }
    }
}

.footer {
  position:static;
}

.submenu2 ul li {
  width:150px;
  margin-left:70px;
  margin-right:70px;
  font-weight:bold;
}

.submenu3 {
  z-index:100;
  visibility:hidden;
  position:absolute;
  padding-top:20px;
  width:100%;
  height:50em;
  background-color:@theme-color-gold;
  color:white;

  font-size:15px;

  .col {
    position:absolute;
    min-width:290px;
    height:100%;
  }

  .category {
    margin:0;
    padding:0;
    margin-top:5px;
    float:left;
    width:130px;
    text-align:center;
    border-right:4px solid #445d71;
    clear:both;
  }

  .works {
    float:left;
    margin-top:5px;
    width:300px;

    ul {
      margin:0;
      padding:0;
      padding-left:20px;
      list-style:none;

      li {
        text-align:left;

        a {
          color:white;
          text-decoration:none;
        }

        a:hover {
          font-weight:bold;
        }
      }
    }
  }
}

.content {
  position:static;
  overflow-y:visible;
  min-height:100em;
  height:100%;

  section.work-type-title {
    img {
      margin:30px;
    }
  }

  section.navigation {
    position:fixed;
    z-index:50;

    img {
      cursor:pointer;
    }

    img.goto-previous {
      position:fixed;
      top:50%;
      left:5px;
    }

    img.goto-next {
      position:fixed;
      top:50%;
      right:5px;
    }
  }

  section.book {
    padding-left: 100px;
    padding-right: 100px;
    animation-duration: 0.3s;
  }

  hr {
    width:0%;
    color:@theme-color-blue;
  }

  h1 {
    font-size:25px;
    color:@theme-color-blue;
  }

  h2 {
    font-size:25px;
    color:@theme-color-blue;
    sub {
      font-size:18px;
    }
  }

  table {
    width:100%;
    max-width: 1280px;
    border-collapse: collapse;

    th, td {
      border:1px solid @theme-color-gold;
      padding:10px;
    }

    img.chart {
      min-width:500px;
      max-width:1024px;
      width:100%;
      background: url(../assets/img/loading.gif) 50% no-repeat;
    }

    tr {
      td {
        padding: 10px;
        vertical-align:top;
      }

      td:first-child {
        min-width: 100px;
        word-break:keep-all;
        font-weight:bold;
      }
    }
  }
}