doctype html
html
  head
    meta(charset='utf-8')
    meta(name='author', content='Hoya Kim')
    meta(name='author', content='Jihyun Ahn')
    meta(name='contact', content='wbstory@storymate.net')
    meta(name='copyright', content='Inha University')
    title Albert Camus - 카뮈이야기
    script(src='../vendor/jquery-3.1.0.min.js')
    script(src='../vendor/lodash.min.js')
    link(href='../vendor/animate.min.css' rel='stylesheet')
    script(src='../maincontroller.js')
    script(src='controller.js')
    link(href='../main.css', rel='stylesheet')
    link(href='camuswriting.css' rel='stylesheet')

    script(src='../db/books.js')
  body
    a(name='top')
    include ../mainmenu.partial.pug
    .banner
      a.work-type.fiction-only(href='fullview.html?filename=../assets/img/camus-worktype-fiction-full.svg' target='_blank')
        img(src='../assets/img/camus-worktype-fiction-banner.png' alt='카뮈-작품에 등장하는 빈도수' title='크게보기-클릭')
      a.work-type.nonfiction-only(href='fullview.html?filename=../assets/img/camus-worktype-nonfiction-full.svg' target='_blank')
        img(src='../assets/img/camus-worktype-nonfiction-banner.png' alt='카뮈-비스토리형-작품연결망' title='크게보기-클릭')
      a.work-type.private-only(href='fullview.html?filename=../assets/img/camus-worktype-private-full.svg' target='_blank')
        img(src='../assets/img/camus-worktype-private-banner.png' alt='사적인글-작품 연결-시간순-캐릭터플라워' title='크기보기-클릭')
      img(src='../assets/img/camuswriting-title.png', style='position:absolute; top:250px; left:100px')
      span.statement(style='position:absolute; top:330px; left:100px; font-weight:bold; color:#dbcb99;') 카뮈 작품 속 주제어 연결망

    .top-floater
      a(href='#top')
        img(src='../assets/img/gototop.png')
        span TOP

    .submenu2
      ul
        li.fiction
          a(href='#이방인') 스토리형 작품
        li.nonfiction
          a(href='#젊은 시절의 글') 비스토리형 작품
        li.private
          a(href='#카뮈-그르니에 서한집 1932~1960') 사적인 글

    .submenu3
      .col.fiction(style='top:0; left:0', data-section='fiction')
        .category
          span 중/장편 소설
        .works
          ul
            li
              a(href='#이방인') 이방인
            li
              a(href='#페스트') 페스트
            li
              a(href='#전락') 전락
            li
              a(href='#행복한 죽음') 행복한 죽음
            li
              a(href='#최초의 인간') 최초의 인간
        br
        .category
          span 단편소설
        .works
          ul
            li
              a(href='#간부') 간부
            li
              a(href='#배교자') 배교자(혼미해진 정신)
            li
              a(href='#말없는 사람들') 말없는 사람들
            li
              a(href='#손님') 손님
            li
              a(href='#요나') 요나
            li
              a(href='#자라나는 돌') 자라나는 돌
        br
        .category
          span 희곡
        .works
          ul
            li
              a(href='#칼리굴라') 칼리굴라
            li
              a(href='#오해') 오해
            li
              a(href='#계엄령') 계엄령
            li
              a(href='#정의의 사람들') 정의의 사람들
      .col.nonfiction(style='top:0; left:300px', data-section='nonfiction')
        .category
          span 에세이
        .works
          ul
            li
              a(href='#젊은 시절의 글') 젊은 시절의 글
            li
              a(href='#안과 겉') 안과 겉
            li
              a(href='#결혼') 결혼
            li
              a(href='#시지프 신화') 시지프 신화
            li
              a(href='#독일 친구에게 보내는 편지') 독일 친구에게 보내는 편지
            li
              a(href='#시사평론') 시사평론
            li
              a(href='#반항적 인간') 반항적 인간
            li
              a(href='#여름') 여름
            li
              a(href='#단두대에 대한 성찰') 단두대에 대한 성찰
            li
              a(href='#스웨덴 연설') 스웨덴 연설
        br
        .category
          span 문학비평
        .works
          ul
            li
              a(href='#장 폴 사르트르의 『구토』') 장 폴 사르트르의 '구토'
            li
              a(href='#장 폴 사르트르의 『벽』') 장 폴 사르트르의 '벽'
            li
              a(href='#이냐치오 실로네의 『빵과 포도주』') 야나치오 실로네의 '빵과 포도주'
            li
              a(href='#프랑시스 퐁주의 시집 《사물의 편》에 대한 편지') 프랑시스 퐁쥬의 시집 '사물의 편'에 대한 편지
            li
              a(href='#지성과 단두대') 지성과 단두대
            li
              a(href='#샹포르의 《잠언집》 서문') 샹포르의 '잠언집' 서문
            li
              a(href='#쥘 루아의 『행복한 골짜기』') 쥘 루아의 '행복한 골짜기'
            li
              a(href='#루이 기유의 《민중의 집》 서문') '민중의 집'에 대해
            li
              a(href='#앙드레 지드와의 만남') 앙드레 지드와의 만남
            li
              a(href='#허먼 멜빌') 허먼 멜빌
            li
              a(href='#감옥에 갇힌 예술가') 감옥에 갇힌 예술가
            li
              a(href='#로제 마르탱 뒤 가르') 로제 마르탱 뒤 가르의 '전집' 서문
            li
              a(href='#문학 비평 – 르네 샤르') 르네 샤르의 독일어판 '시' 서문
            li
              a(href='#장 그르니에의 수상집 『섬』 서문') 장 그르니에의 수상집 '섬' 서문
        br
        .category
          span 인터뷰/짧은 글
        .works
          ul
            li
              a(href='#『기슭』지(지중해 문화 잡지) 소개') 기슭지
            li
              a(href='#아닙니다, 나는 실존주의자가 아닙니다…') 아닙니다. 나는 실존주의자가 아닙니다
            li
              a(href='#『세르베르』지와의 인터뷰') 세르비르 지와의 인터뷰
            li
              a(href='#시몬 베유, 『뿌리내리기』') 시몬 베유 뿌리내리기 서문 초안
            li
              a(href='#나는 왜 연극을 하는가') 나는 왜 연극을 하는가?
            li
              a(href='#장클로드 브리스빌에게 답하다') 장 클로드 브리스빌에게 답하다
            li
              a(href='#알베르 카뮈의 마지막 인터뷰') 알베르 카뮈의 마지막 인터뷰
            li
              a(href='#우리의 친구 로블레스') 우리의 친구 노블레스
      .col.private(style='top:0; left:600px', data-section='private')
        .category
          span 편지
        .works
          ul
            li
              a(href='#카뮈-그르니에 서한집 1932~1960') 장 그르니에와의 서한집
        br
        .category
          span 메모
        .works
          ul
            li
              a(href='#작가수첩 1') 작가수첩1
            li
              a(href='#작가수첩 2') 작가수첩2
            li
              a(href='#작가수첩 3') 작가수첩3
        br
        .category
          span 일기
        .works
          ul
            li
              a(href='#여행일기 1') 여행일기1
            li
              a(href='#여행일기 2') 여행일기2

    .content
      section.work-type-title
        div.work-type.fiction-only
          img(src='../assets/img/camuswriting-fiction-title.png' alt='스토리형 작품')
        div.work-type.nonfiction-only
          img(src='../assets/img/camuswriting-nonfiction-title.png' alt='비스토리형 작품')
        div.work-type.private-only
          img(src='../assets/img/camuswriting-private-title.png' alt='사적인 글')

      section.navigation
        img.goto-previous(src='../assets/img/gotoprev.png' alt='이전작품')
        img.goto-next(src='../assets/img/gotonext.png' alt='다음작품')

      section.book
        h1.title -
        table
          tr
            td 자료 구분
            td.category -
          tr
            td 원저자
            td.author -
          tr
            td 원저 제목
            td.title -
          tr
            td 원저 출판지
            td.location -
          tr
            td 원저 출판사
            td.publisher -
          tr
            td 원저 출판년도
            td
              span.published_year -
              span 년
          tr
            td 원저 기술언어
            td.language -
          tr
            td 번역본 제목
            td.t_title -
          tr
            td 번역자
            td.t_author -
          tr
            td 번역본 출판사
            td.t_publisher -
          tr
            td 번역본 출판년도
            td
              span.t_year -
              span 년
          tr
            td 작품에 등장하는 주제어
            td.keywords1 -
          tr
            td 작품 관련 주제어
            td.keywords2 -
          tr.work-type.fiction-only
            td 줄거리
            td.story -
          tr.work-type.nonfiction-only.private-only
            td 핵심내용
            td.story -
          tr.work-type.fiction-only
            td 시간, 공간적 배경
            td.background -
          tr.work-type.fiction-only
            td 주요 인물
            td
              img.chart
              ul.characters
          tr.work-type.fiction-only
            td 시점과 문체
            td.style -
          tr
            td 작품 연결망 - 카뮈
            td.network1 -
          tr
            td 작품 연결망 - 다른 작가
            td.network2 -
          tr
            td 작품 연결망 - 파생 작품
            td.network3 -
          tr
            td 인물 연결망
            td.character_network
          tr
            td 사회 연결망
            td.social_network
          tr
            td 디지털 자료
            td.digital_works -
          tr
            td 비고
            td.legends -

      hr.bottom-anchor

      include ../footer.partial.pug