doctype html
html
  head
    meta(charset='utf-8')
    meta(name='author', content='Hoya Kim')
    meta(name='author', content='Jihyun Ahn')
    meta(name='contact', content='wbstory@storymate.net')
    meta(name='copyright', content='Inha University')
    title Albert Camus - 카뮈이야기
    script(src='../vendor/jquery-3.1.0.min.js')
    script(src='../vendor/lodash.min.js')
    script(src='../maincontroller.js')
    style.
        .viewer {
            width:100%;
        }

        .viewer.double {
            width:200%;
        }

    script.
      $(function() {
        var img = parseQueryString()['filename'];
        console.log(img);
        $('.viewer').attr('src', img);

        $('.viewer').on('click', function(e) {
          e.stopPropagation();
          $(this).toggleClass('double');
        });

        $(window).on('blur', function() {
          window.close();
        });

        $(':not(.viewer)').on('click', function() {
          window.close();
        })
      });

    body
      img.viewer