doctype html
html
  head
    include common-header.partial.pug
  body
    a(name='top')
    include ../mainmenu.partial.pug
    .banner
      img(src='../assets/img/camus-face2.png' style='position:relative; top:0; left:350px')
      img(src='../assets/img/related-works-title.png', style='position:absolute; top:250px; left:100px')

    .top-floater
      a(href='#top')
        img(src='../assets/img/gototop.png')
        span TOP

    include common-submenu2.partial.pug
    script.
      $(function() {
        $('.submenu2 li.related-works-overseas').addClass('active');
      });

    .content
      section.related-works-overseas
        div(style='padding:30px')
        img(src='../assets/img/related-works-overseas-title.png' alt='해외자료')

        h2 카뮈의 작품
          sub (책)
        section.camus-book
          table
            tr
              th 연도
              th 저자(괄호 안은 편집자)
              th 제목
              th 출판사
            tr
              td 1971
              td Albert Camus
              td L'étranger
              td Gallimard (coll. Folio)
            tr
              td 2012
              td Albert Camus
              td L'homme révolté
              td Gallimard (coll. Folio essais)
            tr
              td 2000
              td Albert Camus
              td Le premier homme
              td Gallimard (coll. Folio)
            tr
              td 1985
              td Albert Camus
              td Le mythe de Sisyphe
              td Gallimard (coll. Folio essais)
            tr
              td 1972
              td Albert Camus
              td La chute
              td Gallimard (coll. Folio)
            tr
              td 1973
              td Albert Camus
              td Les Justes
              td Gallimard (coll. Folio)
            tr
              td 1972
              td Albert Camus
              td Noces suivi de L'Été
              td Gallimard (coll. Folio)
            tr
              td 2012
              td Albert Camus
              td Caligula
              td Gallimard (coll. Folio plus)
            tr
              td 1972
              td Albert Camus
              td L'exil et le royaume
              td Gallimard (coll. Folio)
            tr
              td 2013
              td Albert Camus (Raymond Gay-Crosier)
              td Carnets (Tome 1-Mai 1935 - février 1942)
              td Gallimard (coll. Folio)
            tr
              td 1986
              td Albert Camus
              td L'envers et l'endroit
              td Gallimard (coll. Folio essais)
            tr
              td 1997
              td Albert Camus
              td Discours de Suède
              td Gallimard (coll. Folio)
            tr
              td 1995
              td Albert Camus, (Pierre-Louis Rey)
              td Le Malentendu
              td Gallimard (coll. Folio)
            tr
              td 2010
              td Albert Camus
              td La mort heureuse
              td Gallimard (coll. Folio)
            tr
              td 2006
              td Albert Camus
              td L'été
              td Gallimard (coll. Folio)
            tr
              td 2013
              td Albert Camus, (Raymond Gay-Crosier)
              td Carnets (Tome 2-Janvier 1942 - mars 1951)
              td Gallimard (coll. Folio)
            tr
              td 2013
              td Albert Camus, (Raymond Gay-Crosier)
              td Carnets (Tome 3-Mars 1951 - décembre 1959)
              td Gallimard (coll. Folio)
            tr
              td 1991
              td Albert Camus
              td Lettres àun ami allemand
              td Gallimard
            tr
              td 2013
              td Albert Camus, (Jacques Ferrandez)
              td L'Étranger
              td Gallimard (coll. Folio)
            tr
              td 2002
              td Albert Camus
              td Chroniques algériennes, 1939-1958
              td Gallimard (coll. Folio)
            tr
              td 1972
              td Albert Camus
              td Caligula suivi de Le malentendu
              td Gallimard (coll. Folio)
            tr
              td 2013
              td Albert Camus, (Roger Quilliot)
              td Journaux de voyage
              td Gallimard (coll. Folio)
            tr
              td 2007
              td Albert Camus, RenéChar
              td Correspondance: (1946-1959)
              td Gallimard
            tr
              td 2006
              td Albert Camus, Jacqueline Lévi-Valensi
              td OEuvres complètes I, II
              td Gallimard (coll. Bibliothèque de la Pléiade)
            tr
              td 2010
              td Albert Camus
              td Les Justes: Pièce en cinq actes
              td Gallimard (coll. Folio plus)
            tr
              td 2015
              td Eve Tiberghien, Gauthier De Wulf
              td Albert Camus, de l'absurde àla révolte: L'itinéraire d'un écrivain marquépar la guerre et l'injustice
              td 50minutes
            tr
              td 2008
              td William Rejault
              td La chambre d'Albert Camus : Et autres nouvelles
              td J'ai Lu
            tr
              td 1998
              td Albert Camus, Pierre-Louis Rey
              td L'État de siège
              td Gallimard (coll. Folio)
            tr
              td 1991
              td Roger Grenier
              td Albert Camus soleil et ombre: Une biographie intellectuelle
              td Gallimard (coll. Folio)
            tr
              td 1997
              td Albert Camus
              td Actuelles - Ecrits politiques
              td Gallimard (coll. Folio essais)
            tr
              td 2011
              td Eve Morisi, Robert Badinter
              td Albert Camus contre la peine de mort
              td Gallimard
            tr
              td 2006
              td Albert Camus, Jacqueline Lévi-Valensi
              td OEuvres complètes (Tome 1-1931-1944)
              td Gallimard (coll. Bibliothèque de la Pléiade)
            tr
              td 2002
              td Arthur Koestler, Albert Camus
              td Réflexions sur la peine capitale
              td Gallimard (coll. Folio)
            tr
              td 1977
              td Jean Grenier, Albert Camus
              td Les Îles
              td Gallimard
            tr
              td 2009
              td Albert Camus
              td La Postéritédu soleil
              td Gallimard
            tr
              td 2013
              td Albert Camus, JoséMuñoz
              td Le premier homme
              td Gallimard
            tr
              td 1985
              td Albert Camus
              td Albert Camus : Théatre, récits et nouvelles
              td Gallimard (coll. Bibliothèque de la Pléiade)
            tr
              td 1968
              td Jean Grenier
              td Albert Camus: Souvenirs
              td Gallimard
            tr
              td 2013
              td Albert Camus, Martin du Gard, Roger
              td Correspondance: (1944-1958)
              td Gallimard
            tr
              td 2009
              td Albert Camus, Jacques Ferrandez
              td L'Hôte
              td Fétiche
            tr
              td 2013
              td Catherine Camus, Alexandre Alajbegovic, Béatrice Vaillant
              td Le monde en partage : Itinéraires d'Albert Camus
              td Gallimard
            tr
              td 1987
              td Albert Camus, (Paul-F. Smets)
              td Albert Camus, éditorialiste àL'Express, mai 1955-février 1956
              td Gallimard
            tr
              td 2013
              td Albert Camus, (acquelineLévi-Valensi)
              td À«Combat»: Éditoriaux et articles (1944-1947)
              td Gallimard (coll. Folio)
            tr
              td 2008
              td Albert Camus, (Raymond Gay-Crosier)
              td OEuvres complètes (Tome 4-1957-1959)
              td Gallimard (coll. Bibliothèque de la Pléiade)
            tr
              td 2003
              td Albert Camus
              td Jonas ou l'artiste au travail, suivi de "La pierre qui pousse"
              td Gallimard (coll. Folio)
            tr
              td 1971
              td Albert Camus
              td Cahiers Albert Camus, tome 1 : La Mort heureuse
              td Gallimard
            tr
              td 2010
              td Albert Camus, (Pierre-Louis Rey)
              td Les Possédés: Pièce en trois parties adaptée du roman de Dostoïevski
              td Gallimard (coll. Folio)
            tr
              td 2002
              td Albert Camus, (Jacqueline Lévi-Valensi)
              td Camus àCombat
              td Gallimard
            tr
              td 2000
              td Albert Camus, Pascal Pia
              td Correspondance 1939-1947
              td Gallimard
            tr
              td 2013
              td Albert Camus
              td La révolte: Les justes, La Peste, L'Homme révolté
              td Gallimard (coll. Folio)
            tr
              td 2013
              td Albert Camus, (Pierre-Louis Rey)
              td Un cas intéressant: Pièce en deux parties et onze tableaux
              td Gallimard (coll. Folio)
            tr
              td 2013
              td Francis Ponge, Albert Camus
              td Correspondance: (1941-1957)
              td Gallimard
            tr
              td 2013
              td Albert Camus, (Gay-Crosier, Raymond)
              td Carnets (Tome 1) - mai 1935 - février 1942
              td Gallimard (coll. Folio)
            tr
              td 2009
              td Albert Camus
              td LA FEMME ADULTERE suivi de LES MUETS
              td Gallimard (coll. Folio)
            tr
              td 2008
              td Albert Camus
              td Réflexions sur la guillotine
              td Gallimard (coll. Folio plus)
            tr
              td 2013
              td Albert Camus, (Gay-Crosier, Raymond)
              td Carnets (Tome 2) - janvier 1942 - mars 1951
              td Gallimard (coll. Folio)
            tr
              td 2013
              td Albert Camus, (Lou Marin)
              td Ecrits libertaires : 1948-1960
              td EGREGORES
            tr
              td 2001
              td Albert Camus
              td Les Racines de la liberté
              td L'Originel - Accarias
            tr
              td 1978
              td Albert Camus
              td Journaux de voyage
              td Gallimard
            tr
              td 1964
              td Albert Camus
              td Carnets II
              td Gallimard
            tr
              td 1981
              td Albert Camus
              td Correspondance : [Albert Camus, Jean Grenier] : 1932-1960
              td Gallimard


        h2 카뮈의 작품
          sub (글)
        section.camus-writing
          table
            tr
              th 발간년도
              th 저자
              th 제목
              th 실린 곳
            tr
              td 1952
              td Albert Camus
              td L'Artiste en prison
              td Falaize
            tr
              td 1955.10
              td Albert Camus
              td Roger Martin du Gard
              td Roger Marin du Gard, Œuvres complètes, coll. Bibliothèque de la Pléiade, Gallimard
            tr
              td 1948.1
              td Albert Camus
              td Essais critiques :  Avant-propos à«La Maison du peuple », de Louis Guilloux
              td Caliban
            tr
              td 1959
              td Albert Camus
              td Préface àl’édition allemande des 《Poésies》 de RENÉCHAR
              td RenéChar, Poésie, Dichtungen
            tr
              td 1938.10.20
              td Albert Camus
              td La Nausée, par  Jean-Paul Sartre (20 octobre 1938)
              td Alger Républicain
            tr
              td 1939.3.12
              td Albert Camus
              td Le Mur, par Jean-Paul Sartre (12 mars 1939)
              td Alger Républicain
            tr
              td 1944
              td Albert Camus
              td Introduction aux «Maximes »de Chamfort
              td Chamfort, Maximes, Gallimard (coll. Incidences)
            tr
              td 1952.11
              td Albert Camus
              td Herman Melville
              td Les écrivains célèbres, t. III, Mazenod
            tr
              td 1939.5.23
              td Albert Camus
              td Le Pain et le Vin, par Ignazio Silone (23 mai 1939)
              td Alger Républicain
            tr
              td 1943.7
              td Albert Camus
              td L'Intelligence et l'Échafaud
              td Confluences n°21-24
            tr
              td 1947.2
              td Albert Camus
              td La Vallée heureuse de Jules Roy (février 1947)
              td L'Arche n°24
            tr
              td 1952.11
              td Albert Camus
              td Essais critiques :  Rencontres avec AndréGide
              td N.R.F.
            tr
              td 1956.9
              td Albert Camus
              td Lettre au sujet du Parti pris.
              td -
            tr
              td 1959.1
              td Albert Camus
              td Préface aux Îles de Jean Grenier
              td Preuves n°59
            tr
              td 1959
              td Albert Camus
              td Réponses àJean-Claude Brisville
              td La bibiliothèque idéale 2e trimestre
            tr
              td 1959.11
              td Albert Camus
              td Notre ami Roblès
              td Simoun n°30
            tr
              td 1959.12
              td Albert Camus
              td Dernière Interview (décembre 1959)
              td Venture n°4
            tr
              td 1945.11.15
              td Albert Camus
              td «Non, je ne suis pas existentialiste...»(15 novembre 1945)
              td Les Nouvelles Littéraires n°954
            tr
              td 1945.12.20
              td Albert Camus
              td Interview à«Servir»(20 décembre 1945)
              td Servir
            tr
              td 1949.6
              td Albert Camus
              td L'Enracinement de Simone Weil (juin 1949)
              td Bulletin de la «N.R.F»
            tr
              td 1959.5.12
              td Albert Camus
              td Albert Camus : 《Pourquoi Je fais du théâtre》
              td TV 프로그램 &lt;Gros Plan&gt; 인터뷰
            tr
              td 1938.12
              td Albert Camus
              td Rivages. Revue de culture méditerranéenne
              td Rivages


        h2 카뮈의 작품
          sub (온라인자료)
        ul.external-links
          li 『안과 겉 L'Envers et l'Endroit』 불어 텍스트 원문<a href='http://classiques.uqac.ca/classiques/camus_albert/envers_et_endroit/Camus_envers_et_endroit.pdf' target='_blank'>▶ Link</a>
          li 『결혼 Noces』 불어 텍스트 원문<a href='http://classiques.uqac.ca/classiques/camus_albert/noces/camus_noces.rtf' target='_blank'>▶ Link</a>
          li 『독일 친구에게 보내는 편지 Lettres àun ami allemand』 불어 텍스트 원문<a href='http://classiques.uqac.ca/classiques/camus_albert/lettres_ami_allemand/lettres_ami_allemand.rtf' target='_blank'>▶ Link</a>
          li 『시사평론 Actuelles』 불어 텍스트 원문<a href='http://classiques.uqac.ca/classiques/camus_albert/actuelles_I/Camus_actuelles_I.pdf' target='_blank'>▶ Link</a>
          li 『반항적 인간 L'homme révolté』 불어 텍스트 원문<a href='http://classiques.uqac.ca/classiques/camus_albert/homme_revolte/camus_homme_revolte.pdf' target='_blank'>▶ Link</a>
          li 『여름L'Été』  불어 텍스트 원문<a href='http://classiques.uqac.ca/classiques/camus_albert/ete/camus_ete.rtf' target='_blank'>▶ Link</a>
          li 『단두대에 대한 성찰 Réflexion sur la guillotine』 불어 텍스트 원문<a href='http://classiques.uqac.ca/classiques/camus_albert/reflexions_guillotine/reflexions_guillotine.pdf' target='_blank'>▶ Link</a>
          li 『작가수첩 I Carnets I』 불어 텍스트 원문<a href='http://classiques.uqac.ca/classiques/camus_albert/carnets_I/camus_carnets_t1.pdf' target='_blank'>▶ Link</a>
          li 『작가수첩 I Carnets II』 불어 텍스트 원문<a href='http://classiques.uqac.ca/classiques/camus_albert/carnets_II/camus_carnets_t2.pdf' target='_blank'>▶ Link</a>
          li 『작가수첩 I Carnets III』 불어 텍스트 원문<a href='http://classiques.uqac.ca/classiques/camus_albert/carnets_III/camus_carnets_t3.pdf' target='_blank'>▶ Link</a>
          li 장 폴 사르트르의 『구토』 비평 텍스트 원문<a href='http://wikilivres.ca/wiki/La_Naus%C3%A9e,_de_Jean-Paul_Sartre' target='_blank'>▶ Link</a>


        h2 카뮈에 관한 연구 및 카뮈 관련 자료
        h3 a. 카뮈에 관한 연구
        ul
          li Abdel-Kader, C., «Personnages dans La mort heureuse et L'etranger», 1973
          li Anderson, “Maternal presence and narrative voice in the novels of Albert Camus: "Une solitude a deux" (Algeria, France)”, University of California, 2001.
          li Anderson, K. H., «Justification and Happiness in Camus's La mort heureuse». In Forum for Modern Language Studies, Oxford University Press, 1984.
          li ANDRIANNE, R., «Eros et cosmos dans La Mort heureuse de Camus», Revue Romane, 2, 2012.
          li Annick Jauer, «Absurde et révolte dans les Lettres àun ami allemand,»dans Lionel Dubois [éd.], Albert Camus : La Révolte. Actes du 3eͤ Colloque international de Poitiers, Poitiers, Les  Éditions du Pont-Neuf, 2001.
          li Camus, Catherine, Albert Camus Solitaire et solidaire, Michel Lafon,　2013.
          li David Sachs, «The Rebel by Albert Camus», The Philosophical Review Vol. 64 No. 1 pp.150-152, Duke University Press, 1955.
          li De Col, F., «Les thématiques du soleil et de la mort dans L'étranger, La mort heureuse et La peste d'Albert Camus», 1988.
          li De Paola, D., «La mort heureuse by Albert Camus: the Dionysian motif», 1972
          li Detrez, C., &amp; Camus, C. A., «Review of JOURNAUX DE VOYAGE; FRAGMENTS D'UN COMBAT». Esprit, 18, 1978.
          li Dubois, Lionel. «Le Premier Homme, Le Roman InachevéD'Albert Camus»., The French Review 69.4, 1996.
          li Dunwoodie, P., «La Mort heureuse" et" Crime et Châtiment; une étude comparée». Revue de littérature comparée, 46, 1972.
          li Elvira Cassa Salvi, 'L'homme Révolté' di Albert Camus. Humanitas 7, 1952.
          li Etienney, F., «Le bonheur dans trois oeuvres d'Albert Camus: "La Mort heureuse"," L'Envers et l'endroit"," Noces», 2004.
          li Fernande Bartfeld, «Albert Camus, voyageur et conférencier : le voyage en Amérique du Sud», Lettre Modernes, 1991.
          li Gaëlle About., «Le bonheur dyonisiaque dans les premiers textes de Camus: L'Envers et l'endroit, Noces, La mort heureuse, L'Eté», 1981.
          li George Strauss, «A reading of Albert Camus'La Mort heureuse», Neophilologus Vol. 59, No. 2., 1975.
          li Ghani Merad, «Paul Viallaneix: Le premier Camus suivi de Ecrits de jeunesse d‘Albert Camus», Revue Romane, Bind 10, 1975.
          li Guérin, Jeanyves. "Des Chroniques Algériennes Au Premier Homme: Pour Une Lecture Politique Du Dernier Roman De Camus." Esprit, 211, 1995.
          li Henry, M. N., «From Albert Camus' La mort heureuse to L'etranger». University Microfilms International, 1981.
          li Hiroyuki Takatsuka, «Les retouches et l'avant-textualitédes Carnets d'Albert Camus», フランス語フランス文学研究, No.102, 2013.
          li Hughes, Edward J. "Building the Colonial Archive: The Case of Camus's "Le Premier Homme"" Research in African Literatures 30, 1999.
          li John Foley, «Albert Camus: from the Absurd to Revolt», Stocksfield, Acumen, 2008.
          li John K. West, «Political or Personal: The Role of the Chenoua Landscape in Camus's La Mort heureuse», The French Review, Vol. 73, 2000.
          li Just, Daniel. «LITERATURE AND ETHICS: HISTORY, MEMORY, AND CULTURAL IDENTITY IN ALBERT CAMUS'S LE PREMIER HOMME». The Modern Language Review 105.1 (2010): 69-86. Web.
          li Kanes, M., «Review of Journaux de voyage», World Literature Today, 53, 1979.
          li KIRSTEEN H. R. ANDERSON, «JUSTIFICATION AND HAPPINESS IN CAMUS'S LA MORT HEUREUSE», Forum for Modern Language Studies Vol. 20, 1984.
          li Lee, H. J., «La sensibilitéde Camus dans" Noces" et" La Mort heureuse", 1990.
          li Margaret M. Willen, «The Morality of Revolt in Gide's L'immoraliste and Camus' La mort heureuse», Dalhousie French Studies Vol. 34,1996.
          li Onfrayk Michel, L'ordre libertaire : La vie philosophique d'Albert Camus, J'ai Lu,　2013.
          li Owen J. Miller, &lt;L'exil et le royaume: Cohérence du recueil&gt;, 《Albert Camus 6 Camus nouvelliste:L'exil et le royaume》, La Revue des Lettres Modernes(Minard, 1973)
          li Ozwald, Thierry, «Lettres àun ami allemand ou la juste mesure de Camus», dans Roman 20-50 : Revue d’Étude du Roman du XXe siècle, décembre, 1999.
          li P. Horak, «Concerning One Metaphysical Critique of the French-Revolution-Camus, Albert and His L'Homme-Revolte», Filosoficky Casopis 37, 1989.
          li Patrick Godon, «Attitudes to war in the writings of Albert Camus 1939-1944», mémoire de maîtrise en histoire, Mc Gill University, 1985.
          li Peter Kampits, «La mort et la révolte dans la pensée d'Albert Camus». Giornale di Metafisica 23, 1968.
          li Petropoulou, Z., «L'écriture figurédu language sensoriel dans L'Etranger, La Peste, La Mort Heureuse et Noces, d'Albert Camus». Strategies of Rhetoric, 19, 94, 1992
          li Reinach, Théodore. «De l'état de siège: étude historique et juridique». F. Pichon, 1885.
          li Richard H. Cox, «Ideology, history and political philosophy: Camus' l'homme rèvoltè», Social research v.32 no.1, 1965.
          li Roger Grenier, Albert Camus Soleil et Ombre, Gallimard, 1987.
          li Roger Quilliot, &lt;Prèsentation de L'exil et le royaume&gt;, Albert Camus, 《Théâtre, Récits, Nouvelles, Textes》 réunis et annotés par Roger Quillot, Bibliothèque de la pléiade, (Gallimard, 1962)
          li Sarocchi, J., «Review of Journaux de voyage Fragments d 9 un combat, 1938-1940. Alfer Républicain», Revue D'histoire Littéraire De La France, 80, 1980.
          li SHIMADA, K., «Caligula entre La Mort heureuse et L'Etranger». Etudes de Langue et Littérature Françaises Tokyo, 1981
          li Strauss, G., «A Reading of Albert Camus' La mort heureuse». Neophilologus, 59, 1975.
          li Todd, Olivier, Albert Camus, une vie, coll. Folio,　Gallimard, 1999.
          li Vistica, Rita R. "A Woman Called "Jesus": Reflections on Catherine Cormery in Camus's "Le Premier Homme" (1994)." Pacific Coast Philology, 31.1, 1996.
          li WYRWA, TADEUSZ. “PRISE DE CONSCIENCE DE L'UNITÉEUROPÉENNE DANS LA RÉSISTANCE POLONAISE ET FRANÇAISE”. Revue des études slaves 75.2, 2004,

        h3 b. 기타 자료
        ul.external-links
          li 갈리마르(Gallimard)　출판사의　『이방인 L'Étranger』초판본 표지（1942）<a href='https://commons.wikimedia.org/wiki/File:Camus23.jpg?uselang=ko' target='_blank'>▶ Link</a>
          li 1948년 마이요의 '이방인' 삽화 이미지<a href='https://commons.wikimedia.org/wiki/File:Mayo_illustration_l_Etranger.jpg?uselang=ko' target='_blank'>▶ Link</a>
          li JoséMuñoz　(Éditions Futuropolis), 2012　(ISBN 9782754807685)　:　«Le roman dans son texte intégral accompagnéde plus de 50　illustrations.»: 삽화가 들어간 &lt;이방인&gt; 표지 이미지<a href='http://www.gallimard.fr/Catalogue/FUTUROPOLIS/Albums/L-etranger' target='_blank'>▶ Link</a>
          li Gianni Amelio(지아니 아멜리오), "Le Premier Homme(최초의 인간)"  예고편<a href='https://www.youtube.com/watch?v=LL7aHHIonfA' target='_blank'>▶ Link</a>
          li Gianni Amelio(지아니 아멜리오), "Le Premier Homme(최초의 인간)"  포스터 이미지<a href='https://arunwithaview.files.wordpress.com/2013/05/le-premier-homme.jpg' target='_blank'>▶ Link</a>
          li 『La Chute』 요약<a href='http://www.alalettre.com/camus-oeuvres-la-chute.php' target='_blank'>▶ Link</a>
          li 『전락 La Chute』 초판 이미지<a href='http://classiques.uqac.ca/classiques/camus_albert/chute/chute_L12.jpg' target='_blank'>▶ Link</a>
          li 『행복한　죽음　La mort heureuse』 표지 이미지<a href='http://a.decitre.di-static.com/img/fullsize/albert-camus-la-mort-heureuse/9782070277896FS.gif' target='_blank'>▶ Link</a>
          li '요나'(그래픽 소설) 이미지: GRAPHIC NOVEL Jonas oder der Künstler bei der Arbeit Camus / Katia Fouquet Edition Büchergilde<a href='http://www.katiafouquet.com/' target='_blank'>▶ Link</a>
          li 『최초의 인간 Le premier homme』 표지 이미지<a href='http://www.devoir-de-philosophie.com/images_dissertations/30234.jpg' target='_blank'>▶ Link</a>
          li 『칼리굴라　Caligula』 표지 이미지<a href='http://www.musanostra.fr/caligula1.jpg' target='_blank'>▶ Link</a>
          li 『칼리굴라　Caligula』 1945년 초연 광고 (이미지)<a href='http://images.delcampe.com/img_large/auction/000/156/517/471_001.jpg' target='_blank'>▶ Link</a>
          li 『칼리굴라　Caligula』 관련 영상<a href='https://www.youtube.com/watch?v=zEECzApPQ_E&list=PLspayHD-jYsEq-heK9tUAMDnM90ztG5nF' target='_blank'>▶ Link</a>
          li 『오해 Le malentendu』 초판본 이미지<a href='http://81.169.222.198/still/kunst/pic570/397/411202500.jpg' target='_blank'>▶ Link</a>
          li 『계엄령 L’État de Siège』 초판본 이미지<a href='http://pictures.abebooks.com/EDCONROY/7344783749.jpg' target='_blank'>▶ Link</a>
          li 유튜브 계엄령(L’État de Siège) (Pourquoi Camus? 인터뷰) 영상<a href='https://www.youtube.com/watch?v=fQqhu1wxtS8' target='_blank'>▶ Link</a>
          li 유튜브 계엄령(Etat de Siège) 영상 -Théâtre de Poche-<a href='https://www.youtube.com/watch?v=tPvYyzl4nuE&list=UU1cg8OEiWEydFuGK1Rwq6gw#action=share' target='_blank'>▶ Link</a>
          li 『정의의 사람들　Les Justes』 초판본 이미지<a href='http://www.devoir-de-philosophie.com/images_dissertations/30234.jpg' target='_blank'>▶ Link</a>
          li 『정의의 사람들』 'Les Justes' d'Albert Camus - Club Théâtre Sciences Po Aix 2013<a href='https://www.youtube.com/watch?v=sIe2Hs71mwc' target='_blank'>▶ Link</a>
          li 『정의의 사람들』 Les Justes performed by Harvard's La Troupe at Cornell University<a href='https://www.youtube.com/watch?v=tfY94jPhpiw' target='_blank'>▶ Link</a>
          li 『정의의 사람들』 Les Justes d'Albert Camus, présentée par la Troupe de l'Echo<a href='https://www.youtube.com/watch?v=Ho4gNlZUzWM' target='_blank'>▶ Link</a>
          li 카뮈와 실로네의 관계를 다룬 기사<a href='http://armeniantrends.blogspot.fr/2012/11/albert-camus-ignazio-silone.html' target='_blank'>▶ Link</a>
          li 카뮈를 비롯해 여러 작가들이 『클레브 공작 부인』에 대해 평가한 글들을 모아놓은 웹페이지<a href='http://www.alalettre.com/la-fayette-oeuvres-cleves-evoquee.php' target='_blank'>▶ Link</a>
          li 카뮈와 '최초의 인간'에 관한 강연: Albert Camus et «LE PREMIER HOMME»(Les conférences de l'Universitéde Nantes)<a href='https://www.youtube.com/watch?v=usphG1sZY4E' target='_blank'>▶ Link</a>
          li 카뮈와 지중해의 연관성을 다른 강연 원고<a href='http://www.forumuniversitaire.com/Joumela/index.php/2013-03-05-23-28-06/litterature/litterature-francaise/albert-camus/122-albert-camus-sur-les-rivages-de-la-mediterranee' target='_blank'>▶ Link</a>
          li 《나는 왜 연극을 하는가 Pourquoi Je fais du théâtre》의 원본이 된 tv 프로그램의 동영상을 볼 수 있는 웹페이지<a href='http://education.francetv.fr/matiere/litterature/premiere/video/albert-camus-pourquoi-je-fais-du-theatre' target='_blank'>▶ Link</a>
          li 《나는 왜 연극을 하는가 Pourquoi Je fais du théâtre》의 스크립트와 연극 관련 카뮈의 사진이 나오는 웹 페이지<a href='http://lastrolabe44.over-blog.com/albert-camus-pourquoi-j-aime-le-theatre' target='_blank'>▶ Link</a>
          li 일본 논문: “알베르 카뮈의 퇴고과 작가수첩의 전(前)-텍스트성”<a href='http://ci.nii.ac.jp/els/110009597281.pdf?id=ART0010056253&type=pdf&lang=jp&host=cinii&order_no=&ppv_type=0&lang_sw=&no=1451886555&cp=' target='_blank'>▶ Link</a>
          li 카뮈가　이방인에　대해　말하다（영상）<a href='http://education.francetv.fr/litterature/premiere/video/albert-camus-commente-l-etranger' target='_blank'>▶ Link</a>
          li 삽화가 들어간 &lt;이방인&gt;: JoséMuñoz　(Éditions Futuropolis), 2012　(ISBN 9782754807685)　:　«Le roman dans son texte intégral accompagnéde plus de 50　illustrations.»<a href='http://www.gallimard.fr/Catalogue/FUTUROPOLIS/Albums/L-etranger' target='_blank'>▶ Link</a>
          li ‘Jean-Claude Gallotta’의 공연 ‘L'Étranger’의 공식 소개페이지<a href='http://www.gallotta-danse.com/L-Etranger' target='_blank'>▶ Link</a>
          li ‘Pierre de Mûelenaere’. ‘les VJ Orchid Bites qui’의 공연, ‘Albert Camus lit l’Étranger Remix‘의 공식 소개페이지<a href='http://heliceproductions.net/camusremix' target='_blank'>▶ Link</a>
          li Luchino Visconti(루치노 비스콘티)의 영화 ‘Lo Straniero’, ‘L’Étranger‘(이방인)，에 대한 프랑스 영화사이트 <알로 시네(AlloCiné)>의 소개<a href='http://www.allocine.fr/film/fichefilm_gen_cfilm=27797.html' target='_blank'>▶ Link</a>


      hr.bottom-anchor

    include ../footer.partial.pug
