doctype html
html
  head
    include common-header.partial.pug
  body
    a(name='top')
    include ../mainmenu.partial.pug
    .banner
      img(src='../assets/img/camus-face2.png' style='position:relative; top:0; left:350px')
      img(src='../assets/img/related-works-title.png', style='position:absolute; top:250px; left:100px')

    .top-floater
      a(href='#top')
        img(src='../assets/img/gototop.png')
        span TOP

    include common-submenu2.partial.pug
    script.
      $(function() {
        $('.submenu2 li.related-works-domestic').addClass('active');
      });

    .content
      section.related-works-domestic
        div(style='padding:30px')
        img(src='../assets/img/related-works-domestic-title.png' alt='국내자료')

        h2 카뮈의 작품
          sub (책)

        section.camus-book
          table
            tr
              th 출판년도
              th 번역자
              th 제목
              th 출판사
            tr
              td 1988
              td 이재하
              td 결혼(Noces)
              td 동천사
            tr
              td 1987
              td 김화영
              td 결혼(Noces), 여름(L'Été)
              td 책세상
            tr
              td 1994
              td 우종길
              td 결혼(Noces). 여름(L'Été)
              td 청하
            tr
              td 2004
              td 김화영
              td 단두대에 대한 성찰, 독일 친구에게  보내는 편지
              td 책세상
            tr
              td 1992
              td 김웅권
              td 무어의 집
              td 대성
            tr
              td 1992
              td 유기환
              td 반항인(L'homme révolté)
              td 한마당
            tr
              td 1986
              td 신일숙
              td 반항적 인간(L'homme révolté)
              td 일신사
            tr
              td 1995
              td 박은수
              td 반항하는 사람(L'homme révolté)
              td 인폴리오
            tr
              td 2003
              td 김화영
              td 반항하는 인간(L'homme révolté)
              td 책세상
            tr
              td 2014
              td 김화영
              td 손님(L'Hôte), 일러스트: 자크 페랑데즈
              td 문학동네
            tr
              td 1995
              td 박명용
              td 손님(L'Hôte). 이방인(L'étranger)
              td 글벗사
            tr
              td 2007
              td 김화영
              td 스웨덴 연설 문학 비평
              td 책세상
            tr
              td 2009
              td 김화영
              td 시사평론
              td 책세상
            tr
              td 2014
              td 오영민
              td 시시포스 신화(Le mythe de Sisyphe)
              td 연암서가
            tr
              td 2016
              td 김화영
              td 시지프 신화(Le mythe de Sisyphe)
              td 민음사
            tr
              td 2004
              td 김화영
              td 시지프 신화(Le mythe de Sisyphe)
              td 책세상
            tr
              td 1994
              td 김혜숙
              td 시지프스의 신화(Le mythe de Sisyphe). 비평에세이. 표리
              td 청하
            tr
              td 1997
              td 이정림
              td 시지프의 신화(Le mythe de Sisyphe)
              td 범우사
            tr
              td 1991
              td 권오석
              td 시지프의 신화(Le mythe de Sisyphe)
              td 홍신문화사
            tr
              td 1994
              td 이재하
              td 시지프의 신화(Le mythe de Sisyphe)
              td 동천사
            tr
              td 1989
              td 정애린
              td 시지프의 신화(Le mythe de Sisyphe)
              td 청년사
            tr
              td 1988
              td 김화영
              td 안과 겉(L'envers et l'endroit)
              td 책세상
            tr
              td 2013
              td 김영래
              td 알베르 카뮈 : 태양과 청춘의 찬가
              td 토담미디어
            tr
              td 2010
              td 김화영
              td 알베르 카뮈 전집 1<br/>: 젊은 시절의 글, 안과 겉(L'envers et l'endroit), 행복한 죽음(La mort heureuse), 결혼(Noces), 칼리굴라(Caligula), 1931~1939
              td 책세상
            tr
              td 2010
              td 김화영
              td 알베르 카뮈 전집 2<br/>: 작가수첩(Carnets) 1, 시지프 신화(Le mythe de Sisyphe), 이방인(L'étranger), 1939~1942
              td 책세상
            tr
              td 2010
              td 김화영
              td 알베르 카뮈 전집 3<br/>: 오해(Le malentendu), 독일 친구에게 보내는 편지, 페스트, 1944~1947
              td 책세상
            tr
              td 2010
              td 김화영
              td 알베르 카뮈 전집 4<br/>: 여행일기, 계엄령, 정의의 사람들(Les Justes), 시사평론, 1947~1950
              td 책세상
            tr
              td 2010
              td 김화영
              td 알베르 카뮈 전집 5<br/>: 작가수첩(Carnets) 2, 반항하는 인간(L'homme révolté), 1950~1951
              td 책세상
            tr
              td 2010
              td 김화영
              td 알베르 카뮈 전집 6<br/>: 여름(L'Été), 전락(La chute), 단두대에 대한 성찰, 적지와 왕국(L'exil et le royaume), 1951~1957
              td 책세상
            tr
              td 2010
              td 김화영
              td 알베르 카뮈 전집 7<br/>: 작가수첩(Carnets) 3, 스웨덴 연설, 문학비평 (1957-1959)<br/> * 문학비평에 수록된 글 : 감옥에 갇힌 예술가, 로제 마르탱 뒤 가르, 루이 기유의 《민중의 집》 서문, 르네 샤르, 장 폴 사르트르의 『구토, 장 폴 사르트르의 『벽』, 샹포르의 《잠언집》 서문, 허먼 멜빌, 이냐치오 실로네의 『빵과 포도주』, 지성과 단두대, 쥘 루아의 『행복한 골짜기』, 앙드레 지드와의 만남, 프랑시스 퐁주의 시집 《사물의 편》에 대한 편지, 장 그르니에의 수상집 『섬』 서문, 장 클로드 브리스빌에게 답하다, 우리의 친구 로블레스, 알베르 카뮈의 마지막 인터뷰, “아닙니다, 나는 실존주의자가 아닙니다…”, 『세르비르』지와의 인터뷰, 시몬 베유, 『뿌리내리기』, 나는 왜 연극을 하는가, 『기슭』지(지중해 문화 잡지) 소개
              td 책세상
            tr
              td 2005
              td 김화영
              td 여행일기(Journaux de voyage)
              td 책세상
            tr
              td 1988
              td 이숙희
              td 유배받은 땅(L'exil)
              td 지원북클럽
            tr
              td 2011
              td 김화영
              td 이방인(L'étranger)
              td 민음사
            tr
              td 2014
              td 이정서
              td 이방인(L'étranger)
              td 새움
            tr
              td 2011
              td 김예령
              td 이방인(L'étranger)
              td 열린책들
            tr
              td 2012
              td 김화영
              td 이방인(L'étranger)
              td 책세상
            tr
              td 2015
              td 김화영
              td 이방인(L'étranger)
              td 책세상
            tr
              td 2014
              td 최헵시바
              td 이방인(L'étranger)
              td 더클래식
            tr
              td 2014
              td 유기환
              td 이방인(L'étranger)
              td 홍익출판사
            tr
              td 2004
              td 이휘영
              td 이방인(L'étranger)
              td 문예출판사
            tr
              td 2013
              td 이효숙
              td 이방인(L'étranger)
              td 보물창고
            tr
              td 2015
              td 김옥진
              td 이방인(L'étranger)
              td 심야책방
            tr
              td 1998
              td 최정순
              td 이방인(L'étranger)
              td 일신서적출판사
            tr
              td 2014
              td 북트랜스
              td 이방인(L'étranger)
              td 북로드
            tr
              td 2014
              td 이수진
              td 이방인(L'étranger)
              td 온스토리
            tr
              td 2015
              td 방곤
              td 이방인(L'étranger)
              td 삼성출판사
            tr
              td 2013
              td 김용석
              td 이방인(L'étranger)
              td 부북스
            tr
              td 1993
              td 유혜경
              td 이방인(L'étranger)
              td 소담출판사
            tr
              td 2012
              td 최수철
              td 이방인(L'étranger)
              td 시공사
            tr
              td 1980
              td 이정림
              td 이방인(L'étranger)
              td 범우사
            tr
              td 2001
              td 임해진
              td 이방인(L'étranger)
              td 청목
            tr
              td 1999
              td 정돈영
              td 이방인(L'étranger)
              td 교육문화연구회
            tr
              td 2003
              td 박용철
              td 이방인(L'étranger)
              td 도로시
            tr
              td 1987
              td 함미경
              td 이방인(L'étranger)
              td 을지출판사
            tr
              td 1990
              td 정소성
              td 이방인(L'étranger)
              td 청림출판사
            tr
              td 1994
              td 김용훈
              td 이방인(L'étranger)
              td 여명출판사
            tr
              td 1998
              td 송진희
              td 이방인(L'étranger), 전락
              td 혜원출판사
            tr
              td 1999
              td 이정림
              td 이방인(L'étranger), 전락
              td 범우사
            tr
              td 2011
              td 이혜윤
              td 이방인(L'étranger), 페스트 시지프 신화
              td 동서문화사
            tr
              td 2013
              td 김화영
              td 이방인(L'étranger) (일러스트: 호세 무뇨스)
              td 책세상
            tr
              td 1993
              td 최규남
              td 이방인(L'étranger). 전락
              td 홍신문화사
            tr
              td 2000
              td 이수화
              td 이방인(L'étranger). 전락
              td 육문사
            tr
              td 1993
              td 김남주
              td 이방인(L'étranger). 행복한 죽음. 유형과 왕국
              td 청하
            tr
              td 2011
              td 이기언
              td 이인(L'étranger)
              td 문학동네
            tr
              td 1991
              td 김화영
              td 작가수첩
              td 책세상
            tr
              td 1998
              td 김화영
              td 작가수첩(Carnets) 1
              td 책세상
            tr
              td 2002
              td 김화영
              td 작가수첩(Carnets) 2
              td 책세상
            tr
              td 1998
              td 김화영
              td 작가수첩(Carnets) 3
              td 책세상
            tr
              td 1998
              td 김화영
              td 적지와 왕국(L'exil et le royaume)
              td 책세상
            tr
              td 2015
              td 이휘영
              td 전락(La chute)
              td 문예출판사
            tr
              td 1989
              td 김화영
              td 전락(La chute)
              td 책세상
            tr
              td 2012
              td 유영
              td 전락(La chute)
              td 창비
            tr
              td 2015
              td 방곤
              td 전락(La chute)
              td 삼성출판사
            tr
              td 2014
              td 이정림
              td 전락(La chute)
              td 범우사
            tr
              td 1995
              td 정돈영
              td 전락(La chute), 페스트
              td 교육문화연구회
            tr
              td 2008
              td 김화영
              td 젊은 시절의 글
              td 책세상
            tr
              td 1996
              td 방곤
              td 정의의 사람들(Les Justes)
              td 서문당
            tr
              td 2000
              td 김화영
              td 정의의 사람들(Les Justes), 계엄령
              td 책세상
            tr
              td 2009
              td 김화영
              td 최초의 인간(Le premier homme)
              td 열린책들
            tr
              td 2014
              td 김화영
              td 최초의 인간(Le premier homme), 일러스트: 호세 무뇨스
              td 미메시스
            tr
              td 2012
              td 김화영
              td 카뮈 그르니에 서한집(Correspondance)
              td 책세상
            tr
              td 2013
              td 김화영
              td 칼리굴라(Caligula), 오해
              td 책세상
            tr
              td 2006
              td 김화영
              td 태양의 후예
              td 책세상
            tr
              td 2011
              td 김화영
              td 페스트
              td 민음사
            tr
              td 2014
              td 최윤주
              td 페스트
              td 열린책들
            tr
              td 2015
              td 한수민
              td 페스트
              td 심야책방
            tr
              td 2012
              td 이휘영
              td 페스트
              td 문예출판사
            tr
              td 2013
              td 김성범
              td 페스트
              td 부북스
            tr
              td 1994
              td 유혜경
              td 페스트
              td 소담출판사
            tr
              td 1998
              td 김화영
              td 페스트
              td 책세상
            tr
              td 1993
              td 정성국
              td 페스트
              td 홍신문화사
            tr
              td 2016
              td 유호식
              td 페스트
              td 문학동네
            tr
              td 1986
              td 김병일
              td 페스트
              td 학원사
            tr
              td 1995
              td 김용훈
              td 페스트
              td 여명출판사
            tr
              td 1989
              td 이재하
              td 페스트 외
              td 동천사
            tr
              td 1998
              td 방곤
              td 페스트. 이방인
              td 범우사
            tr
              td 2011
              td 김화영
              td 행복한 죽음(La mort heureuse)
              td 책세상
            tr
              td 1992
              td 강경호
              td 행복한 죽음(La mort heureuse)
              td 지문사
            tr
              td 1990
              td 배철웅
              td 행복한 죽음(La mort heureuse)
              td 민예사
            tr
              td 2004
              td 김화영
              td 독일 친구에게 보내는 편지
              td 책세상


        h2 카뮈에 관한 연구 및 카뮈 관련 자료
        h3 a. 카뮈에 관한 연구
        ul
          li 강은경, “A. Camus의 &lt;La Peste&gt;에 나타난 침묵에 관한 연구”, 단국대학교, 1995.
          li 고선아, “알베르 카뮈의 이방인에 나타난 사물화 현상 연구”, 한국교원대학교 대학원, 2013.
          li 고인숙, “『전락 La Chute』에 대한 소고”, 인문과학연구, Vol.1, 1982.
          li 권영옥, “「(La) Chute」에 나타난 주인공의 언어의 유희”, 서울대학교 대학원, 1977.
          li 권이오, “까뮈의 작품 「전락」에 대한 연극적 고찰”, 프랑스어문교육, Vol.11, 2001.
          li 권이오, “알베르 까뮈 텍스트 『전락』의 화법과 시점연구”, 프랑스어문교육, Vol.34, 2010.
          li 권이오, “알베르 까뮈의 『전락 La Chute』에 나타나는 의사소통 기능에 관한 연구”, 프랑스어문교육, Vol.16, 2003.
          li 권이오, “알베르 까뮈의 『전락』에 나타난 내레이션과 화자”, 프랑스어문교육, Vol.19, 2005.
          li 권이오, “알베르 카뮈의 『전락』을 통해 본 열림의 미학”, 프랑스어문교육, Vol.31, 2009.
          li 김경희, “A. Camus의 태양과 바다의 변신(Metamorphose)에 대한 이미지 : 이방인을 중심으로”, 숭실대학교, 1990.
          li 김동현, “까뮈의 문학적 에쎄 "여름"에 관한 연구”, 아주대학교 논문집, Vol. 9, 1986.
          li 김동현, “A. Camus의 "표리"(L' Envers et L'Endroit)에 관한 연구 : A Camus의 에쎄연구 1”, 아주대학교 논문집, 1982.
          li 김미경, “Camus의 희곡 작품에 나타난 부조리의 전개”, 이화여대 석사학위논문, 1974
          li 김병익, “카뮈 읽기 8,  젊은 시절의 글, 시사평론”, 본질과 현상, 통권 33호, 2013년.
          li 김병익, “카뮈 읽기”, 본질과 현상, Vol.27, 2012.
          li 김언지, “La chute 의 주인공을 통해서 본 인간의 죄의식”, Foreign language teaching, No.13, 1982.
          li 김연수, “[알베르 카뮈의 소설 〈이방인〉중, 뫼르소] 햇빛 눈부신 날에 울어본 적 있나요?”, 월간 샘터, 34, 2003.
          li 김용석, “알베르 카뮈의 &lt;이방인 L'Etranger&gt; 번역본 비교 연구”, 한국외국어대학교 대학원, 2011.
          li 김점석, “쟝 타루의 죽음을 통해 본 『페스트』의 의미”, 한국프랑스학논집, Vol.50, 2005.
          li 김종우, “판늘루 신부를 통해 본 알베르 카뮈의 종교관”, 프랑스문화예술연구, Vol. 46, 2013.
          li 김진식, “알베르　카뮈의　『적지와　왕국』　연구, 한국불어불문학회, 1994.
          li 김진하, “문체론적 접근을 통한 알베르 카뮈의 『이방인』 분석과 교육”, 불어불문학연구, 99, 2014.
          li 김진하, “알베르 카뮈의 『이방인』 한국어 번역본들에 대한 문체론적 고찰”. 불어불문학연구, 101, 2015.
          li 김혜동, "「행복한 죽음」에서 「이방인」으로 ", 論文集/20(-), 27-39, 경희대학교, 1991.
          li 김혜동, “〈이방인〉을 통해 본 카뮈의 사회관”, 불어불문학연구, 18, 1983.
          li 김혜동, “「이방인」 해석에 관한 비판적 고찰 : 1943-1977”, 이화여자대학교 대학원, 1985.
          li 김호성, “카뮈의 『이방인』에 대한 불교적 이해”, 동서비교문학저널, 2012
          li 김화영, 󰡔카뮈󰡕, 문학과지성사, 1978.
          li 김화영, “알베르 카뮈를 위한 노트”, 󰡔프랑스문학산책󰡕, 세계사, 1989.
          li 김화영, “「반항적 인간」의 쟁점 ; 카뮈와 사르트르의 논쟁을 중심으로”, 기독교사상, 33, 1989.
          li 김화영, “알베르 카뮈 : 반항과 테러에 대한 성찰”, 예술원보, 통권 제47호, 2003.
          li 김화영, ｢알베르 카뮈를 위한 노트｣, 󰡔프랑스 문학 산책󰡕, 세계사, 1989.
          li 나애리, “작품 &lt;페스트&gt;의 객관적 서술양식  작품 &lt;페스트&gt;의 객관적 서술양식 : 자유 간접 화법을 중심으로”, 논문집, Vol.11, 1993.
          li 문나리, “카뮈(Albert CAMUS)의 ｢Caligula｣에서의 행위소 모델 연구”, 숙명여자대학교 대학원, 2006.
          li 문영택, “Albert Camus의 문학에 있어서의 반항과 구원의 관계”, 충남대학교 교육대학원, 1979.
          li 박규현, “카뮈의 첫 작품 『안과 겉』과 마지막 작품 『최초의 인간』 비교연구”, 인문과학연구, 제48집, 2005.
          li 박동혁, “연극 연출의 사회적 조건에 대한 연구 : Albert Camus의 Les justes를 중심으로”, 성균관대학교 대학원, 국내석사, 1982
          li 박미리, "Camus 의 「La Mort heureuse」에 나타난 돌의 이미지 연구", 이화여자대학교 대학원, 1982.
          li 박옥희, “작품 L'Etranger와 La Chute에서의 주어인칭과 동사문제”, 성균관대학교, 1983.
          li 박우경, “Camus의 「La Peste」에 나타난 연대의식에 관한 연구”, 아주대학교, 1986.
          li 박홍규, “사이드와 카뮈”. 인문연구, 61, 2011.
          li 박흠련,  “Camus에 있어서의 부조리와 반항에 관한 몇 가지 고찰”, 이화여자대학교 대학원, 1971.
          li 박흠련, “Camus에 있어서의 부조리와 반항에 관한 몇가지 고찰”, 이화여자대학교 대학원, 1971.
          li 변광배, “『이방인』의 재판 장면 재탐사”. 프랑스문화예술연구, 51, 2015.
          li 변광배, “알베르 카뮈의 『페스트』 : 나, 우리, 반항”, 외국문학연구, Vol.53, 2014.
          li 변광배，“카뮈, 서약, ‘우리’：「자라나는　돌」의　두　장면을　중심으로”,　한국　프랑스학회　추계　학술대회, 2013.
          li 부새롬, “칼리큘라는 왜, 무엇과 싸우고 있는가”, 공연과 이론, 통권 55호, 2014.
          li 상돈, 박명화, “정의의　아포리아(aporia)외형의　유예제도에　대한　법문학적　이해－카뮈의　＜손님＞을　예로　하여”, 고려대학교　법학원, 고려법학, 72권, 2014.
          li 손보현, “알베르 까뮈의 「정의의 사람들」에 나타난 반항의 의미”, 아주대학교 대학원, 국내석사, 2000.
          li 송가현, “까뮈의 예술에 대한 소명의식: Jonas ou l'artiste at travail를 중심으로”, 연세대학교, 2001.
          li 송민숙, “알베르 카뮈의 극 칼리귤라 연구: 부조리와 잔혹”, 불어불문학연구 36권 1호, 1998.
          li 송민숙. “사운드 리믹스를 통해 부조리를 전달하는 퀘벡 테르데좀므 극단의 〈칼리굴라 리믹스〉”, 2013.
          li 양기찬, “&lt;칼리큘라&gt;, 삶의 가치에 대한 논증, 공연과 이론”, 통권 55호, 2014.
          li 양은경, “Albert Camus의 La Peste, 그 구조와 주제의 비극성”, 건국대학교 대학원, 1995.
          li 오은하, “『최초의 인간』 : 카뮈의 알제리 찾기 (Le Premier homme : la recherche de l`Algerie d`Albert Camus)”, 불어불문학연구, 제100집, 2014.
          li 유기환, “『이방인』의 살인사건과 리쾨르의 삼중의 미메시스”, 프랑스어문교육, 35, 2010.
          li 유기환, “왜 ‘이방인’인가 – 등장인물 뫼르소의 행동과 서술자 뫼르소의 언어 연구”, 프랑스어문교육, 45, 2014.
          li 유기환, “정의의 배반성 : 정의의 사람들 Les Justes = Double Face de la Justice”상명대학교 논문집, Vol.17, No.-, 1986
          li 윤석진, “Camus의 「La Peste」에 나타난 인간조건에 관한 연구”, 한국외국어대학교, 1989.
          li 이경철, “&lt;L'ETRANGER&gt;에서의 빛의 Image 연구”, 아주대학교, 1987.
          li 이경해, “Camus의, Noces, L'Envers et l'Endroit, L'Etranger에 나타난 태양의 양면성과 삶과 죽음의 관계”, 한국프랑스학논집, 2004.
          li 이경해, “Camus의, Noces, L'Envers et l'Endroit, L'Etranger에 나타난 태양의 양면성과 삶과 죽음의 관계”, 한국프랑스학논집, 제47집(2004) pp.221-234.
          li 이기언(Lee Kie-Un), “L'énigme de Meursault ou la dissimulation du langage”, 프랑스어문교육, 19, 2005.
          li 이기언, "Camus의 인물들에 있어서 Dualisme : L'Envers et l'Endroit, noces 그리고 La Mort heureuse를 중심으로", 연세대학교 대학원, 1986.
          li 이기언, “까뮈와 실존철학”, 지중해지역연구, 제7권, 2005.
          li 이기언, “까뮈와 실존철학”, 지중해지역연구, 제7권, 제1호, 2005.
          li 이기언, “카뮈와 알제리”, 불어불문학연구, 제95집, 2013.
          li 이랑아, “A. Camus의 인간적 반항과 사랑연구 : "La Peste"를 중심으로”, 숙명여자대학교, 1997.
          li 이문호, “‘이방인’, ‘페스트’그리고 ‘전락’에 나타난 부조리”, 철학연구, Vol. 35, 1983.
          li 이미경, "카뮈(Albert Camus)의 『La mort heureuse』를 중심으로 본 공간과 인물에 관한 연구", 숙명여자대학교 대학원, 2006.
          li 이상화, “Camus의 La Peste와 기독교 사상”, 성심여자대학교, 1982.
          li 이서규, “카뮈의 반항개념에 대한 고찰”, 철학논총, 75, 2014.
          li 이소연, “알베르 카뮈의 『안과 겉』에서 나타난 지중해적 요소 연구”, 연세대학교, 2008.
          li 이소연, “알베르 카뮈의 『안과 겉』에서 나타난 지중해적 요소 연구”, 연세대학교, ㅊ2008.
          li 이숙희, “A. Camus의 종교관 연구”, 숙명여자대학교, 1984.
          li 이신철, “Albert Camus의 &lt;&lt;La Peste&gt;&gt; 고찰 : 그 신화의 재창조성을 중심으로”, 동아논총, Vol.19, 1982.
          li 이양재, “L'Etranger, La peste, La chute를 통해본 Albert Camus의 세계의 이중성과 그 변모”, 서울대학교 대학원, 1985
          li 이양재, “L'Etranger, La peste, La chute를 통해본 Albert Camus의 세계의 이중성과 그 변모”, 서울대학교 대학원, 1985.
          li 이양재, “L’Etranger와 La Peste의 관계 연구”, 불어불문학연구, Vol.22, 1987.
          li 이우동, “A. Camus의 La Peste 연구, 연구논문집, Vol.14 No.1, 1974.
          li 이은숙, “『페스트』에 나타난 공간의 의미연구”, 울산대학교 교육대학원, 2001.
          li 이해방, “인문과학편 : 카뮈의 &lt; 표리 &gt; 에 나타난 「유년시절」연구”, 상명대학교 논문집 17권, 1986.
          li 장영, “Une etude sur la justice et l'humanite chez Camus : 작품 Les justes를 중심으로”, 숙명여자대학교 대학원, 국내석사, 1985.
          li 장영숙, “Temps du passe dans La Peste : analyse stylistique”, S.N., 1984.
          li 정순철, “『페스트』의 공포와 등장 인물들의 공동체 의식 : Camus의 「La peste」를 중심으로”, 논문집, Vol.15 No.1, 1994.
          li 정태철, “Albert Camus의 《L'Envers et l'Endroit》 考”, 한국프랑스학논집, 제2집, 1975.
          li 조병준, “카뮈의　「손님」과　사르트르의　「벽」이　보여주는　서술공간　비교”, 한국불어불문학회, 불어불문학연구, 100권, 2014.
          li 진경환, “Albert Camus의 소설 La chute에 나타난 물의 이미지 분석”, 한국외국어대학교, 1989.
          li 진인혜, “물루드 마므리와 알베르 카뮈 그리고 알제리, 인문과학”, 100권, 2014.
          li 최성민, “La Peste를 통해서 본 Camus의 휴머니즘에 관한 하나의 고찰 ”, 한국문화연구원 논총, Vol.57, 1990.
          li 최윤주, “‘죽음'의 테마를 통해서 본 Albert Camus의 'La Chute' : 정신분석적 해석의 한 시도, 성심여자대학 대학원, 1991.
          li 최윤주, “알베르 카뮈의 『이방인 L`Etranger』연구 - "반대 오이디푸스"에서 "반(反) 오이디푸스"로-”, 불어불문학연구, 56, 2003.
          li 태선영, “『안과 겉』에 나타난 CAMUS의 평형의식(EQUILIBRE)”, 인문과학연구 2, 1995.
          li 하수현, “Albert Camus의 La Chute에 나타난 주인공의 전락의 과정에 관한 연구”, 연세대학교 대학원, 2003
          li 하은정, “알베르 카뮈의 칼리귈라에서 나타난 죽음과 자유의 의미”, 연세대학교 대학원, 2006.
          li Coppola, “L’ADAPTATION DE L’ETRANGER DE CAMUS PAR VISCONTI”, 프랑스문화예술연구, 34, 2010.

        h3 b. 기타 자료
        ul.external-links
          li 가톨릭 뉴스 (서평) 정의의 사람들<a href='http://www.catholicnews.co.kr/news/articleView.html?idxno=14621' target='_blank'>▶ Link</a>
          li 『시지프의 신화 Le mythe de Sisyphe』 에 대한 네이버 캐스트 설명<a href='http://terms.naver.com/entry.nhn?docId=2012359&cid=41773&categoryId=44397' target='_blank'>▶ Link</a>
          li 『반항적 인간 L'homme révolté』 관련 네이버 리뷰 : 반항은 죄악인가, 희망인가?<a href='http://blog.naver.com/toy83/220352523021' target='_blank'>▶ Link</a>
          li Luchino Visconti(루치노 비스콘티)의 영화 ‘Lo Straniero’, ‘L’Étranger‘(이방인)，에 대한 한국시네마테크협의회의 소개.<a href='http://www.cinematheque.seoul.kr/rgboard/addon.php?file=filmdb.php&md=read&no=2513' target='_blank'>▶ Link</a>
          li 연극 「페스트」 (공간 소극장, 2015.11.20. ~ 2015.11.21.)<a href='http://www.playdb.co.kr/playdb/PlaydbDetail.asp?sReqPlayNo=86051' target='_blank'>▶ Link</a>
          li 연극 「페스트」 (극단 송곳, 2016.08.01. ~ 2016.08.07.)<a href='http://ticket.interpark.com/gate/TPGate.asp?Where=Naver&GPage=http://ticket.interpark.com/Ticket/Goods/GoodsInfo.asp?GoodsCode=16008416&NaPm=ct%3Dir2xv7uw%7Cci%3D7af4713e2583f00ffde754c8e4c7a2e388cf2ced%7Ctr%3Dslsl%7Csn%3D115%7Chk%3D3326d7daa534a8878d746590accb3f14708483f9' target='_blank'>▶ Link</a>
          li 뮤지컬 「페스트」 (노우성 연출, 2016.07.22. ~ 2016.09.30.)<a href='http://peste.modoo.at/' target='_blank'>▶ Link</a>
          li 연극 「기억을 기억하다 - 페스트」 (정의로운 천하극단 걸판, 2016.05.18. ~ 2016.05.19.)<a href='http://www.playdb.co.kr/playdb/PlaydbDetail.asp?sReqPlayNo=92325' target='_blank'>▶ Link</a>
          li 연극 「2015 앙코르 고전극장 – 페스트」 (산울림 고전극장, 2015.10.21. ~ 2015.10.31.)<a href='http://www.playdb.co.kr/playdb/PlaydbDetail.asp?sReqPlayNo=83344' target='_blank'>▶ Link</a>
          li 연극 「2015 산울림 고전극장 - 페스트 (산울림 고전극장, 2015.02.04. ~ 2015.02.15.)<a href='http://www.playdb.co.kr/playdb/PlaydbDetail.asp?sReqPlayNo=72895' target='_blank'>▶ Link</a>
          li 권기희 글, 이철희 그림, "페스트 (문학고전의 감동을 만화로 만난다)", 채우리, 2013<a href='http://book.naver.com/bookdb/book_detail.nhn?bid=7271725' target='_blank'>▶ Link</a>



      hr.bottom-anchor

    include ../footer.partial.pug
