@import "../theme.less";

body {
  margin:0;
  padding:0;
}

.banner {
    margin:0;
    padding:0;
    background: #00399c;
}


.content {
  padding-left:5em;
  padding-right:5em;
  max-width:90%;
  overflow-y:visible;

  section {
    summary {
      color: @theme-color-gold;
      font-size:large;
    }
  }

  li {
    list-style-image:url('../assets/img/list-style-square.png');
  }

  hr {
    width:100%;
    color:@theme-color-blue;
  }

  h2 {
    font-size:25px;
    color:@theme-color-blue;
    sub {
      font-size:18px;
      padding-left:0.5em;
    }
  }

  h3 {
    font-size:20px;
    color:@theme-color-blue;
  }

  table {
    width:100%;
    max-width: 1280px;
    border-collapse: collapse;

    th, td {
      border:1px solid @theme-color-gold;
      padding:10px;
    }

    tr {
      td {
        padding: 10px;
        vertical-align:top;
      }

      td:first-child {
        min-width: 100px;
        word-break:keep-all;
        font-weight:bold;
      }
    }
  }

  section.related-works-domestic section.camus-book {
    table {
      max-width: 1280px;

      td:first-child {
        text-align:center;
        width: 6em;
      }

      td:first-child + td {
        text-align:center;
        width: 4em;
      }

      td:first-child + td + td {
        text-align:left;
      }

      td:first-child + td + td + td {
        text-align:center;
        width: 5em;
      }
    }
  }

  section.related-works-overseas section {
    table {
      max-width: 1280px;

      td:first-child {
        text-align:center;
        width: 6em;
      }

      td:first-child + td {
        text-align:center;
        width: 10em;
      }

      td:first-child + td + td {
        text-align:left;
      }

      td:first-child + td + td + td {
        text-align:center;
        width: 8em;
      }
    }
  }

  ul.external-links li a {
    text-decoration:none;
    color:@theme-color-blue;
    padding-left:10px;
  }
}