doctype html
html
  head
    meta(charset='utf-8')
    meta(name='author', content='Hoya Kim')
    meta(name='author', content='Jihyun Ahn')
    meta(name='contact', content='wbstory@storymate.net')
    meta(name='copyright', content='Inha University')
    title Albert Camus - 카뮈이야기
    script(src='vendor/jquery-3.1.0.min.js')
    script(src='vendor/lodash.min.js')
    link(href='main.css', rel='stylesheet')
    script(src='maincontroller.js')
    style.
      body { margin:0; padding:0; }
      h2 { color:#0068b8; font-size:25px;}
      h3 { font-weight:bold; font-size:1.1em; }
      section { padding:20px; }
      summary { }
      ul { list-style:none; }
      a { text-decoration:none; color:inherit; font-weight:bold; }
      img.logo { width:64px; height:64px;}
      img.avatar { display:inline; width:32px; height:32px; border:1px solid blank; border-radius:50%;}

  body
    a(name='top')
    include mainmenu.partial.pug
    .banner(style='margin:0; padding:0; height:auto; max-height: 600px; overflow:hidden;')
      img(src='assets/img/credits-banner.png' style='position:relative; padding-top:100px; left:0; width:100%')
      img(src='assets/img/credits-title.png', style='position:absolute; top:250px; left:100px')

    .top-floater
      a(href='#top')
        img(src='../assets/img/gototop.png')
        span TOP

    .content
      section
        h2 CREDITS

        summary 본 홈페이지는 대한민국 교육부와 한국연구재단의 디지털인문학 사업의 지원을 받아 수행된 연구 (NRF-2015SLA6A8051185)로<br/>연구제목은 “인포그래픽 요소를 활용한  문학작품 세계의 시각화:알베르 카뮈의 디지털문학관 구축 사례”이다.

        br
        br
        h3 연구진
        ul
          li 조병준 인하대학교 문학박사
          li 도윤정 인하대학교 문학박사
          li 유은순 인하대학교 전산언어학 박사
          li 박승보 가천대학교 공학박사

        h3 감사합니다.
        p 수고로운 작업을 열성적으로 수행해 준 인하대학교 프랑스 언어문화학과 대학원 학생
        ul
          li 장선우
          li 손형주
          li 신수진
          li 진유경

        h3 디지털문학관을 훌륭하게 제작해주신
          a(href='https://mediafishweb.com')
            img.logo(src='assets/img/mediafish-logo.png')
            span ㈜미디어피쉬
        ul
          li 전혜정 대표
            img.avatar(src='assets/img/mediafish-ceo-avatar.jpg')
          li 안지현 실장
            img.avatar(src='assets/img/ahn-jihyun-avatar.jpg')
          li 김현식 기술팀장
            img.avatar(src='assets/img/hoya-avatar.png')


      hr.bottom-anchor
    include footer.partial.pug
