doctype html
html
  head
    meta(charset='utf-8')
    meta(name='author', content='Hoya Kim')
    meta(name='author', content='Jihyun Ahn')
    meta(name='contact', content='wbstory@storymate.net')
    meta(name='copyright', content='Inha University')
    title Albert Camus - 카뮈이야기
    script(src='vendor/jquery-3.1.0.min.js')
    script(src='vendor/lodash.min.js')
    link(href='main.css', rel='stylesheet')
    link(href='timeline/timeline.css', rel='stylesheet')
    script(src='maincontroller.js')
    script(src='db/bio.js')
    script(src='timeline/controller.js')
    style.
      .banner {
          background:url('assets/img/camusimage.png') #ffffff no-repeat;
      }

  body
  include mainmenu.partial.pug
  .banner
    img(src='assets/img/logo.png', style='position:absolute; top:250px; left:100px')
    span.statement(style='position:absolute; top:330px; left:100px; font-weight:bold; color:#dbcb99;') 부조리와 반항의 작가

  include timeline/timeline.pug

  include footer.partial.pug
