.menu
  .brand
    a(href='/')
      a(href="/")
        img(src='/assets/img/brand.png')
  .menubar
    div
      ul.main
        li
          a.mainmenu-item.camus-story(href='/camusstory/camus-life.html') 카뮈이야기
        li
          a.mainmenu-item.camus-works(href='/camuswriting/camuswriting.html') 카뮈작품
        li
          a.mainmenu-item.camus-literture(href='/literture-tour/reallife-space.html') 문학여행
        li
          a.mainmenu-item.camus-related-works(href='/related-works/related-works-domestic.html') 관련자료
    .submenu
      .submenu-item(data-parent='camus-story')
        ul
          li
            a(href='/camusstory/camus-life.html') 카뮈의 생애
          li
            a(href='/camusstory/camus-family.html') 카뮈의 가족
          li
            a(href='/camusstory/camus-social-network.html') 사회적 연결망
          li
            a(href='/camusstory/camus-affected.html') 영향을 끼친 작가들
          li
            a(href='/camusstory/camus-portrait.html') 카뮈의 초상
      .submenu-item(data-parent='camus-works')
        ul
          li
            a(href='/camuswriting/camuswriting.html#이방인') 스토리형 작품
          li
            a(href='/camuswriting/camuswriting.html#젊은 시절의 글') 비스토리형 작품
          li
            a(href='/camuswriting/camuswriting.html#카뮈-그르니에 서한집 1932~1960') 사적인 글
      .submenu-item(data-parent='camus-literture')
        ul
          li
            a(href='/literture-tour/reallife-space.html') 카뮈 실제 삶의 공간
          li
            a(href='/literture-tour/fiction-space.html') 작품 속 공간
      div
        ul.submenu-item(data-parent='camus-related-works')
          li
            a(href='/related-works/related-works-domestic.html') 국내자료
          li
            a(href='/related-works/related-works-overseas.html') 해외자료
