@import "theme.less";

html, body {
  font-family: "Nanum Gothic", sans-serif;
}

body {
  min-width:900px;
  width:100%;
  height:100%;
  min-height:100%;
  overflow-x:hidden;
}

.menu {
  position:absolute;
  top:0;
  left:0;
  margin:0;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:0px;
  padding-right:0px;
  width:100%;
  min-width:900px;
  height:80px;
  background-color:@theme-color-gold;
  opacity:1.0;
  z-index:10;
  overflow:hidden;
}

.menu:hover {
  background-color:@theme-color-blue;
  height:300px;
}

.menu .brand {
  float:left;
  padding-left:40px;
  width:100px;
}

.menu div {
  overflow:hidden;
}

.menu .menubar {
  float:left;
  overflow-x:hidden;
}

.menu ul {
  list-style:none;
}

.menu ul li {
  text-align:center;

  a {
    position:relative;
    display:inline;
    text-align:center;
    text-decoration:none !important;
    color:#ffffff;
    font-weight:400;
  }

  a.hover, a.active {
    border-bottom:5px solid @theme-color-gold;
  }
}

.menu ul.main li {
  float:left;
  font-size:25px;
  width:140px;
  height:2em;
  margin-left:15px;
  margin-right:15px;

  a {
    border-bottom:5px solid rgba(0,0,0,0);
  }

  a:hover, a.hover {
    border-bottom:5px solid white;
  }
}

.menu .submenu {
  position:relative;
  margin-top:30px;
  margin-left:30px;
}

.menu .submenu div {
  float:left;
  width:155px;
  margin-left:15px;
  height:150px;
  padding:0;
  border-left:1px solid #ffffff;
}

.menu .submenu div:first-child {
  border-left:none;
}

.menu .submenu ul {
  margin:0;
  padding:0;
}

.menu .submenu ul li {
  float:none;
  margin-bottom:5px;
  padding:0;
  margin:0;
}

.menu .submenu ul li a {
  font-size:15px;
  text-align:center;
  word-break:keep-all;
}

.menu .submenu ul li a:hover {
  font-weight:bold;
}


.submenu2 {
  padding:0;
  margin:0;
  background-color:@theme-color-blue;
  color:#ffffff;
  width:100%;
  height:60px;
  overflow:hidden;
  position:relative;

  ul {
    margin:0;
    padding:0;
    list-style:none;
    height:35px;
    position:absolute;
    bottom:0;
    vertical-align:bottom;

    li {
      display:block;
      text-align:center;
      float:left;
      font-size:18px;
      width:150px;
      height:35px;
      margin-left:15px;
      margin-right:15px;

      a {
        display:inline;
        text-align:center;
        text-decoration:none !important;
        color:#ffffff;
        font-weight:400;
        border-bottom:5px solid rgba(0,0,0,0);
        padding-bottom:10px;
      }
    }

    li.hover, li.active {
      a {
        border-bottom:5px solid @theme-color-gold;
      }
    }
  }
}

.banner {
  height:450px;
  overflow:hidden;
}

.top-floater {
  position:fixed;
  left:50%;
  bottom:50px;
  z-index:100;

  span {
    display:block;
    position:absolute;
    top:28px;
    left:0;
    color:@theme-color-blue;
    font-size:12px;
    width:28px;
    text-align:center;
    text-decoration:none;
  }
}

.bottom-anchor {
  opacity:0;
}

.footer {
  position:relative;
  clear:both;
  z-index:100;
  bottom:0;
  margin:0;
  padding-top:30px;
  width:100%;
  height:100px;
  text-align:center;
  color:#ffffff;
  background-color:@theme-color-blue;

  a {
    text-decoration:none;
    color:white;
    font-weight:bold;
  }
}