.submenu2
  ul
    li.camus-literture-tour-reallife-space(style='width:160px')
      a(href='reallife-space.html' style='width:160px') 카뮈 실제 삶의 공간
    li.camus-literture-tour-fiction-space
      a(href='fiction-space.html') 작품 속 공간