doctype html
html
  head
    include common-header.partial.pug
  body
    a(name='top')
    include ../mainmenu.partial.pug
    .banner(style='background-color:#dae2ed')
      img(src='../assets/img/camus-literture-tour-fiction-map.png' style='position:relative; top:0; left:0; width:100%')
      img(src='../assets/img/camus-literture-tour-title.png', style='position:absolute; top:250px; left:100px')

    .top-floater
      a(href='#top')
        img(src='../assets/img/gototop.png')
        span TOP

    include common-submenu2.partial.pug
    script.
      $(function() {
        $('.submenu2 li.camus-literture-tour-fiction-space').addClass('active');
      });

    .content
      section.fiction-space
        div(style='padding:30px')
          img(src='../assets/img/camus-literture-tour-fiction-title.png' alt='작품 속 삶의 공간')

        h2
          a(name='alger1') 알제(Alger)
          span.year 1931 ~ 1933.06
          span.book 작가수첩 I(Carnets I)

        p "가난한 어린 시절, 내가 이모부 댁에 갔을 때 깨달은 중요한 차이점.<br/>우리 집에서는 사물에 이름이 없었다. 우리는 수프 접시, 난로 위의 물주전자라는 식으로 말했다.<br/>그런데 이모부 집에서는 보주 그릇, 캥페르 접시라는 식으로 말한다. 요컨대 나는 선택에 대한 자각을 얻은 것이다."

        h2
          a(name='tipasa1') 티파사(Tipasa)
          span.year 1935. 08. 01
          span.book 티파사에서의 결혼(Noces a Tipasa)

        p 이 장소를 기리는 글이 《결혼(Noces)》의 첫 번째 산문<br/>&lt;티파사에서의 결혼(Noces à Tipasa)&gt;이다.

        h2
          a(name='alger2') 알제(Alger)
          span.year 1935. 봄
          span.book 결혼(Noces)에 수록될 세상 위의 집

        p 그는 삶을 최대한 누리면서 살 생각이었다. 산책을 하고 난 후 그는, 바다와 태양과 꽃을 찬미하면서 경험한 흥분에 대해 기록했다. 그리고 그와 동시에 “여자들과의 부드러운 우정, 미소와 농담과 계획들”에 대해서도 썼는데, 이는 피쉬 별장의 동지들을 가리키고 있었으며 “나는 내 모든 행동으로써 세상과, 또한 깊이 감사하는 마음으로 사람들과 굳게 결합할 것이다.”라고 절규했다.

        h2
          a(name='alger3') 알제(Alger)
          span.year 1936.08 ~ 09.09
          span.book 안과 겉의 영혼 속의 죽음(La mort dans l&apos;âme)

        p “그럼에도 불구하고 비엔나에서 베네치아로 가는 기차 속에서 나는 뭔가를 기다리고 있었다” 비첸차에서 카뮈는 태양과 햇살에 감싸인 전원이 자신에게 어떤 의미가 있는지 자각했다.

        h2
          a(name='pisa1') 피사(Pisa) , 피렌체(Firenze)
          span.year 1937.08 ~ 09.16
          span.book 여름(L’été)의 사막(La désert), 작가수첩(Carnets)

        p 〈사막(La désert〉에서 카뮈는 피사, 피렌체에서의 행복을 거듭 토로한다.그는 태양 아래 아름다운 사물의 덕없음, 혹은 그 아름다움을 성찰하는 인간의 덧없음을 피렌체에서 스스로 찾아냈다.

        h2
          a(name='oran1') 오랑(Oran)
          span.year 1939.10
          span.book 미노타우로스 또는 오랑에서 잠시(Le Minotaure ou la Halte d&apos;Oran)

        p 후일 여름(L&apos;Été)에 수록

        h2
          a(name='paris1') 파리(Paris)
          span.year 1941 ~ 1942
          span.book 이방인, 시지프신화

        p 카뮈의 작가로서의 활동 범위가 알제에서 프랑스로 확대됨: 피아, 말로의 독서 이후 장 폴랑까지 합해 세 사람의 지원으로 &lt;이방인&gt; 원고가 갈리마르 출판사로 전달됨. 그 후 &lt;시지프신화&gt;도. 11월 출판 결정됨 1942년 5월 &lt;이방인&gt;, 10월 &lt;시지프 신화&gt;가 출간됨.

        h2
          a(name='paris2') 파리(Paris)
          span.year 1947년 여름
          span.book 계엄령, 적지와 왕국 속 요나

        p 여름 파리로 돌아와서 장 루이 바로로부터 페스트에 관한 희곡을 합작하자는 제안을 받는다. 그리하여 창작된 작품이 &lt;계엄령&gt;이다. 그는 또 한 편의 단편(후일 《적지와 왕국》에 편입된 &lt;요나&gt;)과 《반항하는 인간》 집필에 몰두.

        h2
          a(name='alger4') 알제(Alger)
          span.year 1953.01
          span.book 티파사에 돌아오다(Retour à Tipasa)

        p 알제리로 돌아와 &lt;티파사에 돌아오다&gt;를 쓰다.

        h2
          a(name='alger5') 알제(Alger), 티파사(Tipasa)
          span.year 1955.02
          span.book 최초의 인간

        p 유년기를 보냈던 곳 방문. 티파사와 오를레앙빌 방문. 후에 《최초의 인간》에 풍부하게 묘사됨

      hr.bottom-anchor

    include ../footer.partial.pug
