@import '../theme.less';

body {
  margin:0;
  padding:0;
}

.banner {
  position:relative;
  margin:0;
  padding:0;
  padding-top:100px;
  overflow:hidden;
  width:100%;
  min-width:950px;
  height:auto;
  min-height:100%;
}

.content {
  position:relative;
  height:100%;
  padding-left:5em;
  padding-right:5em;

  section {
    width:100%;
  }

  section.reallife-space {
    table {
      width:100%;
      max-width: 1280px;
      border-collapse: collapse;

      th, td {
        border:1px solid @theme-color-gold;
        padding:10px;
        word-break:keep-all;
      }

      tr.image1 td.year {
        background-color:#d5be8b
      }

      tr.image2 td.year {
        background-color:#006db6;
      }

      tr.image3 td.year {
        background-color:#6fbe44;
      }
    }
  }

  h2 {
    font-size:25px;
    color:@theme-color-blue;

    span.year {
      font-size:20px;
      padding-left:0.5em;
    }

    span.book {
      font-size:20px;
      color: @theme-color-gold;
      padding-left: 0.5em;
    }
  }
}