doctype html
html
  head
    include common-header.partial.pug
  body
    a(name='top')
    include ../mainmenu.partial.pug
    .banner(style='background-color:#e2e3e7')
      img(src='../assets/img/camus-literture-tour-reallife-map.png' style='position:relative; top:0; left:0; width:100%')
      img(src='../assets/img/camus-literture-tour-title.png', style='position:absolute; top:250px; left:100px')

    .top-floater
      a(href='#top')
        img(src='../assets/img/gototop.png')
        span TOP

    include common-submenu2.partial.pug
    script.
      $(function() {
        $('.submenu2 li.camus-literture-tour-reallife-space').addClass('active');
      });

    .content
      section.reallife-space
        div(style='padding:30px')
          img(src='../assets/img/camus-literture-tour-reallife-title.png' alt='카뮈 실제 삶의 공간')

        p 전반적으로 카뮈 작품 세계는 그의 실제 삶의 공간과 직접적으로 연결된다. 실제로 그의 작품의 배경 중『배교자-혼미해진 정신』의 배경이 되는 사하라 사막의 도시 타가사를 제외하고는 모든 작품의 배경이 현실 속에 존재하는 공간이며 카뮈가 직접 거주하거나 방문했던 공간이다.
        p 작품 속 공간은 다시 크게 두 가지 이미지로 나뉜다. 우선 카뮈의 실제적, 정신적 고향으로 등장하는 알제리의 도시들(알제, 티파사, 오랑)과 그리스 도시(아테네)는 카뮈의 세계에서는 유럽의 대도시들(파리, 암스테르담, 프라하 등)과 대비되어 등장하는 경우가 많다. 전자는 지리적으로 해가 나는 맑은 날이 많고 따뜻한 바다에 접해 있는 지중해 지역으로 헬레니즘 문명이 지배하는 지역이자 자연 친화적인 공간으로 행복감과 상승의 이미지를 띤다. 후자는 지리적으로 내륙 지역이며 기독교 문명이 지배하는 지역이자 인간이 건설한 도시 공간으로 삭막함과 억압, 하강의 이미지를 띤다. 전자는 카뮈 어머니의 고향인 스페인 발레아레스 제도나 역시 지중해 연안 지역으로 카뮈에게 많은 영감과 행복감을 안겨 준 이탈리아의 도시들(피사, 피렌체 등), 카뮈가 파리 생활을 견딜 수 있게 숨 쉴 틈을 마련해 준 남프랑스 지방까지 확대되며 후자는 폴란드의 브로츠와프, 독일의 드레스덴, 오스트리아의 비엔나와 같은 중부 유럽의 도시들까지로 확대된다.
        p 이와 같은 도시들의 대비는 실제 카뮈 삶의 체험을 반영한다. 카뮈 생애에서 가장 중요한 도시는 단연 알제리의 알제이다. 이곳은 카뮈가 탄생한 곳이며 전체 청소년기를 보낸 곳이다. 후일 파리 문단에 본격적으로 진출한 이후에도 카뮈에게 이곳을 실질적이고 정신적인 고향으로 삼았고 그런 만큼 '이방인', '행복한 죽음', '최초의 인간' 등 자신 작품의 주요 배경으로 선택하였다.
        p 다음으로 그에게 중요한 도시는 파리이다. 파리는 카뮈에게 애증의 도시이다. 그곳에서 카뮈는 작가로서의 명성을 얻었지만 대도시의 삶은 카뮈에서 괴로움을 안겨주었다. 또, 철학, 정치적 견해 차이로 파리 문단, 철학, 정치계의 중심인물들로부터 거센 비난을 받기도 한다. 파리는 카뮈로 하여금 끊임없이 잃어버린 고향, 혹은 너무 멀리 있는 고향을 떠올리게 하는 곳이었다. 그의 작품 '전락'에는 파리에 대한 그의 이런 양가적인 이미지가 등장한다.
        p 그는 1840년 알제리의 알제를 떠나 프랑스 파리로 가는데 이는 카뮈에게 있어 매우 의미 있는 공간 이동이다. 파리 진출이 그의 작가로서의 활동 범위와 명성에 있어 그 자체로도 중요한 사건이지만 이후 카뮈가 지속적으로 두 도시로 대표되는 두 세계의 대립과 공존을 처절하게 겪게 되는 출밤점이기 때문이기도 하다. 어둡고 삭막한 파리로부터 멀리 떨어져 태양과 바다를 가까이에서 접할 수 있는 남프랑스의 루르마랭에 여생을 보낼 거처를 정한 것도 자연스러운 일이었다. 이런 점에서 그가 루르마랭에서 파리로 이동 중 사고를 당해 죽음을 맞는 것은 우연이지만 그의 생애의 여정을 상징하는 것처럼 보이기도 한다.
        p 그밖에 카뮈 생애에서 중요한 도시로 스웨덴의 스톡홀름을 꼽을 수 있다. 그곳에서 그는 노벨상을 수상하면서 작가로서의 최고의 영예를 누리게 되지만 동시에 수상 기념 연설에서의 발언으로 알제리 독립 문제와 관련하여 많은 사람들로부터 비난을 받게 되기도 한다. 또, 피난과 이사, 개인적, 공적 여행으로 아프리카와 유럽, 그리고 북․남미에까지  두루 오갔던 노마드적인 그의 삶을 보여주는 도시로 미국의 뉴욕과 브라질의 이과페를 대표적으로 꼽을 수 있다. 그의 여정은 영국 런던, 캐나다 몬트리올, 우루과이 몬테비데오, 아르헨티나 부에노스아이레스, 칠레 등에도 이른다.

        table
          tr
            th 도시 (국가)
            th 년도 (나이)
            th 설명
          tr.image1
            td.location 알제 (알제리)
            td.year 1913.11.13 - 1935.8 (0세-22세)
            td.description 카뮈는 알제리의 알제에서 태어나 알제 대학교에서 철학을 전공하기까지 22년간 유아기, 청소년기, 청년기 초반을 이곳에서 보낸다. 따라서 이 도시는 카뮈의 생애나 작품 세계에 있어 가장 중요한 장소이다. 그는 1935년(22세) 8월에 알제리의 티파사와 스페인의 발레아레스 제도로 여행을 하기 전까지 줄곧 알제를 떠나지 않았고 1940년(27세) 작가로서의 활동 영역을 파리로 넓힌 후에도 종종 알제에 왕래한다. 그의 대표작 '이방인'을 비롯해 '행복한 죽음', '최초의 인간', ｢말없는 사람들｣ 등이 알제를 배경으로 하고 있으며 산문집 '결혼'과 '여름'에도 알제에서의 추억이 담겨 있다.
          tr.image1
            td.location 알제 (알제리)
            td.year 1936.봄, 1937.04 (23, 24세)
            td.description 1934년(21세) 결혼한 시몬 이에와 1936년(23세) 헤어지고 나서 그는 자주 알제의 ‘세계를 앞에 둔 집(la Maison devant le monde)’에서 공동생활을 한다. 이 집은 '행복한 죽음'에도 등장한다. 그는 삶을 최대한 누리면서 살 생각이었다. 산책을 하고 난 후 그는, 바다와 태양과 꽃을 찬미하면서 경험한 흥분에 대해 기록했다. 그리고 그와 동시에 “여자들과의 부드러운 우정, 미소와 농담과 계획들”에 대해서도 썼는데, 이는 피쉬 별장의 동지들을 가리키고 있었으며 “나는 내 모든 행동으로써 세상과, 또한 깊이 감사하는 마음으로 사람들과 굳게 결합할 것이다.”라고 절규했다.
          tr.image1
            td.location 알제 (알제리)
            td.year 1937.09 - 1940.3.14. (24세-27세)
            td.description 알제 기상연구소의 임시 조수로 취업하여 1년 남짓 일을 하기도 하면서 산문집 '결혼'을 완성하고 희곡 '칼리굴라'를 위한 메모를 하는 한편 '행복한 죽음'을 포기하지 않은 채 장차 '이방인'에 활용될 단편적인 텍스트들을 작성한다. 카뮈가 조직한 에키프 극단이 샤를 빌드라크의 &lt;상선 테나시티&gt;와 지드의 &lt;탕아 돌아오다&gt;(여기서 카뮈는 탕아 역을 맡는다)를 무대에 올린다. 철학적 에세이를 집필할 계획으로 카뮈는 니체, 키르케고르, 그리고 미국 소설가 멜빌의 작품들을 읽는다. 그리고 몇 년 후 1940년 알제를 떠나 파리로 진출한다.
          tr.image1
            td.location 알제 (알제리)
            td.year 1941년 초
            td.description 1940년 결혼한 아내 프랑신과 함께 오랑(알제리)에 머물면서 몇 번 알제에 왕래한다.
          tr.image1
            td.location 알제 (알제리)
            td.year 1948.03.02 - 1948.03.13 (35세)
            td.description 프랑스에 머물던 중 잠깐 알제에 들른다. 젊은 예술가들과 만나고 루이 기유와 재회한다.
          tr.image1
            td.location 알제 (알제리)
            td.year 1956.01.22. (43세)
            td.description 알제에서 “민간인 휴전”을 위한 호소문(Appel pour une trêve civile)을 낭독한다.
          tr.image1
            td.location 알제 (알제리)
            td.year 1959.03.23 ~ 1959.03.29 (46세)
            td.description 어머니의 수술을 위해 알제에, 아버지의 고향인 울레드파예트에 방문한다.
          tr.image1
            td.location 티파사 (알제리)
            td.year 1935.08.21
            td.description 카뮈가 알제 밖으로 나간 최초의 여행이다. 티파사는 로마의 유적지로 카뮈는 이 도시를 기리는 글을 썼는데 바로 '결혼'의 첫 산문인 ｢티파사에서의 결혼｣이다.
          tr.image1
            td.location 티파사 (알제리)
            td.year 1952.1
            td.description 다시 방문한 티파사에 대해 카뮈는 ｢티파사에 돌아오다｣를 썼는데 이 글은 산문집 '여름'에 수록돼 있다.
          tr.image1
            td.location 오랑 (알제리)
            td.year 1939.04, 1939.10
            td.description 오랑은 알제리의 바닷가 도시이다. 카뮈의 장편소설 '페스트'의 무대가 바로 이 곳이다. 또, 산문집 '여름'에 수록되어 있는 ｢미노타우로스 또는 오랑에서 잠시｣에 이 도시에 대한 감상이 실려 있다. 카뮈의 둘째 부인인 프랑신도 오랑 출신이다.
          tr.image1
            td.location 오랑 (알제리)
            td.year 1941년
            td.description 1940년 12월 '파리 수아르'지의 감원 정책으로 해고되자 카뮈 부부는 프랑스에서 오랑으로 되돌아온다. 오랑의 아르제브 가에 있는 아파트에서 생활하며 물질적 어려움에 직면한다. 카뮈는 종종 알제(알제리)에 왕래한다.
          tr.image1
            td.location 오랑 (알제리)
            td.year 1942년 전반, 1942.7월 말 ~ 8월 초
            td.description 오랑에서 거주하며 교외의 해수욕장 아인엘튀르크로 가서 휴식을 취하기도 한다.
          tr.image1
            td.location 오랑 (알제리)
            td.year 1948.2월 말 ~ 3월 초, 7월
            td.description 오랑에 머무는 가족과 합류한다.
          tr.image1
            td.location 오랑 (알제리)
            td.year 1953.12.
            td.description 아들과 함께 아내를 만나러 간다.
          tr.image1
            td.location 발레아레스 제도 (스페인)
            td.year 1935. 09.
            td.description 카뮈의 어머니는 알제에서 태어났지만 고향은 스페인 발레아레스 제도의 최대 섬인 마요르크 섬이다. 이 때문에 카뮈의 친구인 로블레스는 그를 스페인 혈통으로 보고 다음과 같이 그에 대해 평가했다. “스페인 사람들은 죽음이 피할 수 없는 현실이며 한 인간이 분명히 믿을 수 있는 유일한 것, 단 하나의 확신이라는 것을 알고 있다. (중략) 우리 두 사람이 몸 속에 지니고 있었던 그 스페인의 피(그는 어머니 쪽이 스페인 계였다)로 인하여 우리들은 과연 그 ‘관심’에 눈떠 있었던 것이다. 카뮈의 경우 그 관심은 삶에 대한 뜨거운 열정과 동시에 생명에 대한 깊은 존중으로 이어지는 것이었다.”
          tr.image1
            td.location (피사), 베네치아 등 (이탈리아)
            td.year 1936.08 ~ 09.09.
            td.description “그럼에도 불구하고 비엔나에서 베네치아로 가는 기차 속에서 나는 뭔가를 기다리고 있었다”<br/>비첸차(이탈리아 도시, 베네치아 근처)에서 카뮈는 태양과 햇살에 감싸인 전원이 자신에게 어떤 의미가 있는지 자각했다. 1937년 8월에 다시 이 이탈리아 도시들을 방문한다. 그는 ｢사막｣에서 피사, 피렌체에서의 행복을 거듭 토로한다. 태양 아래 아름다운 사물의 덧없음, 혹은 그 아름다움을 성찰하는 인간의 덧없음을 피렌체에서 스스로 찾아냈다.
          tr.image1
            td.location 루르마랭 (프랑스)
            td.year 1937.08 ~ 09.16.
            td.description 루르마랭은 장 그르니에가 흔히 바캉스를 보내곤 하는 곳이었다. 태양이 내리쬐고 바다가 가까운 이 남프랑스 작은 마을은 카뮈가 파리 생활의 삭막함을 이기게 하는 휴양지였다. 이 마을을 비롯하여 카뮈는 휴양차 남 프랑스를 자주 방문하였고 1958년 9월 마침내 이곳에 거처를 마련하였으나 1960년 여기서 출판하여 파리로 가는 길에 자동차 사고로 사망하게 되었다. 그 때 차 안에서 발견된 미완의 원고가 '최초의 인간'이다. 현재 카뮈의 딸인 카트린 카뮈가 이곳에 머물면서 아버지의 자료를 보존하고 정리, 발간하는 작업을 하고 있다.
          tr.image1
            td.location 아테네
            td.year 1955.4월말 ~ 1955.5월 초
            td.description 이 때 그리스의 다른 섬도 방문, 강연한다.<br/>그리스 아테네는 카뮈에게 있어 정신적 고향임. 알제를 비롯한 지중해 지역을 헬레니즘 문명의 지역으로 삼아 기독교 문명 지역과 대비시킬 때 이 지역의 원류는 아테네가 되기 때문임. '젊은 시절의 글'에 실려 있는 그의 시 ｢지중해｣나 '여름'에 실려 있는 ｢헬레네의 추방｣에 지중해 지역에 대한 그의 애정이 드러남. 1958년 6월엔 친구들과 이 지역 크루즈 여행을 하기도 하였다.
          tr.image2
            td.location 프라하 (체코)
            td.year 1936. 07 ~ 08
            td.description 이 도시는 카뮈의 작품 속에서 삭막한 중부 유럽의 대표적 도시로 등장한다. 희곡 '오해'에서 아이러니한 가족 살해사건이 일어나는 어둡고 적막하고 음침한 여관은 바로 이 프라하에 위치한다.
          tr.image2
            td.location 드레스덴, 브로츠와프, 비엔나
            td.year 1936.08 ~ 09.09
            td.description 카뮈는 아내 시몬 이에, 친구 부르주아와 함께 이 지역을 여행한다. 이 체험은 '행복한 죽음'에서 형상화된다. 작품 속에서 이 공간은 주인공이 행복한 시간을 보내는 공동생활공간인 알제의 ‘세계를 앞에 둔 집’과 대비된다.
          tr.image2
            td.location 파리 (프랑스)
            td.year 1937.8-9
            td.description 처음으로 파리를 방문한다. 그리고 남프랑스 마르세유로 여행을 하고 이어 남프랑스 다른 지역과 이탈리아까지 여행을 한다.
          tr.image2
            td.location 파리 (프랑스)
            td.year 1940.3.14.
            td.description 알제(알제리)를 떠나 파리(프랑스)로 거처를 옮긴다. 파스칼 피아의 추천으로 '파리 수아르'지의 편집부에서 일하게 되었기 때문이다. 여행자로서가 아니라 거주자이자 작가로서 카뮈가 활동 범위를 프랑스로 넓히는 결정적인 지역 이동이다. 그러나 독일의 점령으로 카뮈는 '파리 수아르'지 직원들과 프랑스 중부 클레르 몽페랑 등으로 피난을 가야 했고 건강 문제로 남프랑스에서 휴양도 해야 했기에 카뮈의 파리 체류는 이후 지속적이지 못 했고 체류할 때마다의 기간도 그리 길지 않았다. 호텔이나 아는 사람 집에 단속적으로 거주하다가 1946년 마침내 파리 6구에 가족과 함께 머물 아파트를 빌리게 되고 1950년에는 파리 6구에 아파트를 구입하게 된다. 그러나 그러는 중에는 여전히 강연 여행과 휴양, 가족과의 휴가와 남프랑스에서의 집필 작업 등으로 파리에는 꾸준히 거주하게 되지는 않는다.
          tr.image2
            td.location 암스테르담
            td.year 1954. 10
            td.description 지식인의 고뇌를 다룬 독백 형식의 장편 소설 '전락'의 배경이 암스테르담이다. 이 도시는 항구 도시이지만 이 작품 속에서 비와 안개로 폐쇄된 공간으로 묘사되면서 지중해 지역과 대비되는 대표적인 유럽의 대도시로 묘사되고 있다.
          tr.image3
            td.location 뉴욕 (미국)
            td.year 1946.03.
            td.description “이 여행의 메아리는 ｢뉴욕에 내리는 비｣(《형상과 색채》, 1946)에 표현되어 있다.”이 여행은 캐나다 퀘벡 지역으로 이어지는데 북미 여행에서 얻은 단상들이 '여행일기 1'에 상세하게 기록되어 있다.
          tr.image3
            td.location 런던 (영국)
            td.year 1948.05
            td.description 강연여행을 간다.
          tr.image3
            td.location 이과페 (브라질)
            td.year 1949.08.05
            td.description 마르세이유에서 배로 출발, 7월 21일 남미 도착하여 미국여행 동안 제대로 쓰지 못했던 ｢가장 가까운 바다｣의 여러 페이지를 쓴다. 리우데자네이로를 거쳐 도착한 브라질의 도시 이과페에서 겪은 일은 후일 단편 ｢자라나는 돌｣에서 소재로 사용된다.<br/>이 시기 카뮈는 리우데자네이루에서 출발하여 상파울루, 이과페 등 브라질의 도시들과 우루과이, 아르헨티나, 칠레 등을 방문하게 된다. 이 시기에 기록한 단상들이 '여행일기2'에 실려 있다.
          tr.image3
            td.location 스톡홀름 (스웨덴)
            td.year 1957.07.09. ~ 1957.07.15.
            td.description 노벨문학상을 수상하고 기념 강연을 한다. 그 강연은 '스웨덴 연설'로 발간된다.

      hr.bottom-anchor

    include ../footer.partial.pug
